{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "settings" %}
{% set section = _('Configuration') %}
{% from "_formhelpers.html" import render_form %}

{% block projectcontent %}

<div id="answerfieldsconfig">
    <div class="row">
        <div class="col-md-5">
            <h3> Consensus Configuration </h3>
            <consensus-config :consensus_config="{{consensus_config}}"></consensus-config>
        </div>
        <div class="col-md-7 pull-right">
            <h3> Answer Field Configuration </h3>
            <fields-config></fields-config>
        </div>
    </div>
</div>

<script src="/static/js/gen/answerfieldsconfig.min.031b777d652cfa5fb709.js"></script>

<script>
answerFields.setData({
    csrf: '{{csrf}}',
    answerFields: {{answer_fields | safe}}
});
</script>
{% endblock %}
