{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "settings" %}
{% set section = _('Golden Stats Configuration Proto') %}
{% from "_formhelpers.html" import render_form %}

{% block projectcontent %}

<div id="answerfieldsconfig">
    <fields-config></fields-config>
</div>

<script src="<%= htmlWebpackPlugin.files.chunks.answerfieldsconfig.entry %>"></script>

<script>
answerFields.setData({
    csrf: '{{csrf_token()}}',
    answerFields: {{answer_fields | safe}}
});
</script>
{% endblock %}
