{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "settings" %}
{% set section = _('Configuration') %}
{% from "_formhelpers.html" import render_form %}

{% block projectcontent %}

<div id="answerfieldsconfig">
    <div class="row">
        <div class="col-md-7">
            <fields-config></fields-config>
        </div>
        <div class="col-md-5 pull-right">
            <consensus-config :consensus-config="{{consensus_config}}"></consensus-config>
        </div>
    </div>
</div>

<script src="/static/js/gen/answerfieldsconfig.min.8841680024f46531f471.js"></script>

<script>
answerFields.setData({
    csrf: '{{csrf}}',
    answerFields: {{answer_fields | safe}},
    consensus: {{consensus_config | safe}}
});
</script>
{% endblock %}
