{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "settings" %}
{% set section = _('Answer Fields Configuration') %}
{% from "_formhelpers.html" import render_form %}

{% block projectcontent %}

<div id="answerfieldsconfig">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Warning
        </div>
        <div class="panel-body">
            <p>
                When configurations are present below, all future consensus fields will be driven by them.
                Default consensus fields will be present when no configurations are set.
            </p>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <p>The form below can be used to setup configurations for</p>
            <ol>
                <li><strong>Worker statistics</strong> (e.g. to measure the quality of a worker's answers)</li>
                <li><strong>Consensus</strong> (to give a confidence scores to a task's answers)</li>
            </ol>
        </div>
    </div>
    <fields-config></fields-config>
</div>

<script src="<%= htmlWebpackPlugin.files.chunks.answerfieldsconfig.entry %>"></script>

<script>
answerFields.setData({
    csrf: '{{csrf}}',
    answerFields: {{answer_fields | safe}}
});
</script>
{% endblock %}
