{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "settings" %}
{% set section = _('Configuration') %}
{% from "_formhelpers.html" import render_form %}

{% block projectcontent %}

<div id="answerfieldsconfig">
    <div class="col-md-12">
        <br>
        <div >
            <fields-config > </fields-config>
        </div>
        <div>
            <consensus-config :consensus-config="{{consensus_config}}"></consensus-config>
        </div>
    </div>
</div>

<script src="/static/js/gen/answerfieldsconfig.min.5810d01c2ea4df9b6ec2.js"></script>

<script>
answerFields.setData({
    csrf: '{{csrf}}',
    answerFields: {{answer_fields | safe}},
    consensus: {{consensus_config | safe}}
});
</script>
{% endblock %}
