{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}
{% from "account/_helpers.html" import render_pagination %}

{% block content %}
<div id="wizard-container">
    <div class="container navigation-element">
        {% include "projects/wizard.html" %}
    </div>
</div>
<div id="main-container" class="container">
    {% if project %}
    <div id="menu" class="col-sm-3 col-md-3 navigation-element">
        {{ helper.render_project_local_nav(project, active_link, current_user, pro_features, upload_method) }}
    </div>
    <!-- Project -->
    <div id="container-content" class="col-sm-9 col-md-9">
        <div id="project-header">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h1>{{project.name}}</h1>
                    {% if section %}
                    <h2>{{section}}</h2>
                    {% endif %}
                </div>
            </div>
            {% if active_link == 'info' %}
                <div id="percent-completed" class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow={{ overall_progress | round | int }} aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ overall_progress | round | int }}%;">
                    <div>{{ overall_progress | round | int }}%</div>
                  </div>
                </div>
            {% endif %}
            {% if active_link == 'info' and project.long_description != project.description %}
                <div class="row">
                    <div id="project-grid-long-description" class="col-sm-12 col-md-12">
                            {{ project.long_description | e | markdown }}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    {{helper.render_contribute_button(project, current_user, csrf_token())}}
                </div>
            </div>
        </div>
        {% block projectcontent %}{% endblock %}
        <div id="ckan" style="display:none">
        <h2>Data repository: {{ ckan_name | default('CKAN server') }}</h2>
        <p><i class="icon-bar-chart" style="font-size:16px;"></i> <a href="{{ckan_url}}/dataset/{{project.short_name}}">Preview the data</a>
        </p>
        <p id="ckan_license" style="display:none"><strong>Data License</strong>: <span id="ckan_license_value"></span></p>
        </div>
    </div>
    {% else %}
    <div class="page-header">
        <h1>{{ _('Sorry! This project does not exist.') }}</h1>
    </div>
    {% endif %}
</div>
{% endblock %}
