{% extends "projects/base.html" %}
{% from "_formhelpers.html" import render_form %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% set active_link = "clone" %}
{% block projectcontent %}
<p>
        Cloning a project will copy all possible settings except tasks,
        task runs, and results from the current project to the cloned project.
        Please set a different project name and project short name for the new project.</p>
{% if config.DATA_ACCESS_MESSAGE %}
    <p>{{ config.DATA_ACCESS_MESSAGE|replace('SHORT_NAME', project.short_name)|safe }}</p>
{% endif %}

{{ render_form(form, action_url=action_url) }}
{% endblock %}