{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "settings" %}
{% set section = _('External Configurations') %}
{% from "_formhelpers.html" import render_form %}

{% block projectcontent %}
{% if not forms %}
<h3>{{_('No external services have been configured')}}</h3>
{% else %}

<p style="color:#FF0000";>{{_('WARNING: INVALID FILE LOCATION OR PERMISSIONS MAY RESULT IN <b>LOSS OF DATA</b>.')}}</p>
{% if config.EXT_CONFIG_TIPS %}
<p>{{_('Before starting your project please confirm the following:')}}</p>
<ol>
	{% for tip in config.EXT_CONFIG_TIPS %}
    <li>{{tip}}</li>
    {% endfor %}
</ol>
{% endif %}

{% if config.EXT_CONFIG_DOCS %}
<p>For more information on these settings, please consult the <a href={{config.EXT_CONFIG_DOCS}}>External Configurations documentation</a>.</p>
{% endif %}

{% for (form_name, display, form) in forms %}
    <h3>{{display}}</h3>
    {{render_form(form, form_id=form_name, action_url=url_for('project.ext_config', short_name=project.short_name), action_text='Submit', class_='', btn_name=form_name, btn_class='btn btn-default', btn_value=None)}}
{% endfor %}

{% endif %}

{% endblock %}
