{% extends "/base.html" %}
{% set active_page = "create" %}
{% set active_link  = "projects" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field, render_select2_field, render_checkbox_field%}

<section class="account profile">
<div id="app-form" class="container">
    {% include "projects/wizard.html" %}

    <div class=" col-sm-3 col-md-3 " style="margin-top:30px;">
        {{ helper.render_account_local_nav(current_user, active_link, upload_method) }}
    </div>
    <div class="col-sm-9 col-md-9" style="margin-top:30px;">
        <h2><strong>{{ _('Project') }}</strong>: {{ _('Create a new project') }}</h2>
        <form id="create-project-form" method="post" action="{{ url_for('project.new')}}" enctype="multipart/form-data"}}>
        {{ form.hidden_tag() }}
        <fieldset>
            {{ render_field(form.name, class_="span4", placeholder=_('The name of the project')) }}
            {{ render_field(form.short_name, class_="span4", placeholder=_('Short name or slug for the project'), label_text=_('Project slug:')) }}
            {{ render_field(form.long_description, class_="span4", rows="13", placeholder=_('Explain your project
· Why? Why you are creating this project, what you want to achieve with it
· How? Explain how your project works
· How you can help: Explain to the volunteers how they can help and contribute to the goal of your project
· Will you help make a difference? Explain to the volunteers why their contribution is essential and how the result of your project can help change things!

(you can use Markdown to give format to your description!)')) }}
            {{ render_field(form.password, class_="span4 password", placeholder=_('Enter project password')) }}
            <div id="password-requirements">{{ form.password.render_kw.placeholder }}</div>
            {{ render_field(form.product) }}
            {{ render_field(form.subproduct) }}
            {{ render_field(form.kpi) }}
            {% if 'data_access' in form %}
                {{ render_select2_field(form.data_access) }}
            {% endif %}
            {% if 'amp_store' in form %}
                {{ render_checkbox_field(form.amp_store, tooltip=_('Opt in to store annotations on Annotation Management Platform')) }}
                {{ render_field(form.amp_pvf, placeholder=_('PVF that should be used for annotation store')) }}
            {% endif %}
            <div class="form-actions">
                <input type="submit" value={{_('Create the project')}} class="btn btn-primary" />
                <a href="{{url_for('account.profile', name=current_user.name)}}" class="btn btn-default">{{_('Cancel')}}</a>
            </div>
        </fieldset>
    </form>
    </div>
</div>
</section>
<script>
    $("span[rel='tooltip']").tooltip();
    $("i[rel='tooltip']").tooltip();
</script>
<link rel="stylesheet" href="{{url_for('static', filename='css/select2.min.css')}}"/>

<script type="text/javascript">
    var ps = {{ prodsubprods | safe }};
</script>

{% assets "js_project_new" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
