{% extends "projects/base.html" %}
{% set active_link = "performancestats" %}
{% set section = _('Performance Statistics') %}

{% block projectcontent %}

<div id="performancestats">
    <performance-stats
        :project-id="{{project.id}}"
        :users="{{contributors | tojson | forceescape}}"
        :fields="{{answer_fields | tojson | forceescape}}"
        :editable="'{{can_update}}' === 'True'"
        csrf-token="{{csrf_token()}}">
    </performance-stats>
</div>

<script src="/static/js/gen/performancestats.min.f55555ca178653062b7b.js"></script>
{{ helper.broken_image() }}
{% endblock %}
