{% extends "projects/base.html" %}
{% set active_link = "performancestats" %}
{% set section = _('Performance Statistics') %}

{% block projectcontent %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

<div id="performancestats">
    <performance-stats
        :project-id="{{project.id}}"
        :users="{{users | tojson | forceescape}}"
        :fields="{{answer_fields | tojson | forceescape}}">
    </performance-stats>
</div>

<script src="<%= htmlWebpackPlugin.files.chunks.performancestats.entry %>"></script>
{{ helper.broken_image() }}
{% endblock %}
