{% extends "projects/base.html" %}
{% set active_link = "performancestats" %}
{% set section = _('Performance Statistics') %}

{% block projectcontent %}

<div id="performancestats">
    <performance-stats
        :project-id="{{project.id}}"
        :users="{{contributors | tojson | forceescape}}"
        :fields="{{answer_fields | tojson | forceescape}}">
    </performance-stats>
</div>

<script src="/static/js/gen/performancestats.min.fcadde043cf013f248db.js"></script>
{{ helper.broken_image() }}
{% endblock %}
