{% extends "/base.html" %}
{% set active_page = "projects"  %}
{% set active_project = project.short_name %}
{% set jstop = True %}

{% block content %}
{% assets filters="jsmin", output="js/gen/full.min.js",
          "js/vendor/jquery-2.2.3.js", "js/vendor/bootstrap.js", 
          "js/vendor/modernizr.min.js", "js/flashmessages.js", 
          "js/vendor/cookieconsent.min.js",
          "js/pybossa/pybossa.js",
          "js/pybossa-player/dist/pybossa-player.min.js"
          %}
          <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
    Modernizr.load({
        test: window.JSON,
        nope: '{{url_for('static', filename='js/vendor/json2.min.js')}}'
});
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
<style>
            .flex {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto
        }

        @media (max-width:991.98px) {
            .padding {
                padding: 1.5rem
            }
        }

        @media (max-width:767.98px) {
            .padding {
                padding: 1rem
            }
        }

        .padding {
            padding: 5rem
        }

        .card .card-title {
            color: #000000;
            margin-bottom: 0.625rem;
            text-transform: capitalize;
            font-size: 0.875rem;
            font-weight: 500
        }

        .card .card-description {
            margin-bottom: .875rem;
            font-weight: 400;
            color: #76838f
        }

        .breadcrumb.breadcrumb-custom {
            padding: 0 0;
            border-color: #dbe3e6
        }

        /* .breadcrumb {
            border: 1px solid #f3f3f3
        } */

        .breadcrumb {
            display: flex;
            flex-wrap: wrap;
            padding: 0.56rem 1.13rem;
            margin-bottom: 1rem;
            list-style: none;
            background-color: transparent;
            border-radius: 0.25rem
        }

        nav {
            display: block
        }

        .breadcrumb.breadcrumb-custom .breadcrumb-item {
            font-size: 0.875rem;
            background: #dbe3e6;
            padding: 0.56rem 10px;
            color: #000;
            display: inline-block;
            vertical-align: top
        }

        .breadcrumb.breadcrumb-custom .breadcrumb-item:before {
            content: ""
        }

        .breadcrumb.breadcrumb-custom .breadcrumb-item a {
            position: relative;
            color: inherit;
            /* border: 1px solid #dbe3e6; */
            display: inline-block;
            vertical-align: top
        }

        .breadcrumb.breadcrumb-custom .breadcrumb-item a:before {
            right: -22px;
            z-index: 3;
            border-left-color: #dbe3e6;
            border-left-style: solid;
            border-left-width: 12px
        }

        .breadcrumb.breadcrumb-custom .breadcrumb-item a:after {
            border-top: 21px solid transparent;
            border-bottom: 22px solid transparent;
            border-left: 12px solid #ffffff;
            top: -9px;
            right: -23px
        }

        .breadcrumb.breadcrumb-custom .breadcrumb-item:last-child {
            /* background:        rgb(23, 109, 183); color: white; */
            background: transparent
        }

        .breadcrumb.breadcrumb-custom .breadcrumb-item:before {
            content: ""
        }

        .breadcrumb.breadcrumb-custom .breadcrumb-item a:before,
        .breadcrumb.breadcrumb-custom .breadcrumb-item a:after {
            position: absolute;
            top: -12px;
            width: 0;
            height: 0;
            content: "";
            border-top: 21px solid transparent;
            border-bottom: 21px solid transparent
        }

        

        a:link {
            text-decoration: none
        }

        .breadcrumb-item+.breadcrumb-item::before {
            display: inline-block;
            padding-right: 0.5rem;
            color: #6c757d;
            content: "/"
        }
        .breadcrumb.breadcrumb-custom .breadcrumb-item:nth-child(3) a:before {
            border-left-color: rgb(23, 109, 183); 

        }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
           
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-custom">
                    <li class="breadcrumb-item"><a href="/project/category/featured/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li class="breadcrumb-item"><a  href="{{url_for('project.details', short_name=project.short_name)}}" style="text-decoration:underline;">{{project.name}}</a></li>
                    <li style="background:rgb(23, 109, 183); color: white;" class="breadcrumb-item"><a>Contribute</a></li>
                    <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav>
                        
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </div>
    {% if invite_new_volunteers %}
    <div class="row">
        <div class="col-md-12">
            <p>
            {{ _("Sorry, you've contributed to all the tasks for this project, but this project still needs more volunteers, so please spread the word!") }}
            </p>
        </div>
    </div>
    {% endif %}
    {{ project.info.task_presenter|safe }}

    <div id='PYBOSSA_USER_LOCALE' hidden>
        {% if current_user.is_anonymous %}
        en
        {% else %}
        {{ current_user.locale }}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block extrajs %}
{% include "_flash_messages.html" %}
{% endblock %}

