{% set active_page = "projects"  %}
{% set active_project = project.short_name %}

<!-- Load Urgent Action template -->
{% if project.short_name == config.get("PROJECT_SHORT_NAME") %}
    {% extends "urgentactions/ua-base.html" %}
    {% block body %}
    {% include "urgentactions/ua-presenter.html" %}
    {% endblock body %}

<!-- Load Decode Darfur template -->
{% elif project.short_name == config.get("PROJECT_SHORT_NAME_DECODE_DARFUR") %}
    {% extends "decodedarfur/base.html" %}
    {% block subnavblock %}
    {% include "decodedarfur/sub-header.html" %}
    {% endblock subnavblock %}

<!-- Load Default template -->
{% else %}
    {% extends "base.html" %}
    {% block content %}

    <script>
        Modernizr.load({
            test: window.JSON,
            nope: "{{url_for('static', filename='js/vendor/json2.min.js')}}"
        });
    </script>
    <script src="{{url_for('static', filename='js/pybossa/pybossa.js')}}" type="text/javascript"></script>

    {% if invite_new_volunteers %}
    {#
        If the user completed all the tasks, the let him know that his work is done.
        Also, we don't load the task presenter in this case (see final else block).
    #}
    <div class="row" align="center" style="padding:20px;">
        <div class="col-xs-12">
            <p>
                {{ _("Congratulations! You've contributed to all the tasks for this project, but we still needs more
                volunteers, so please spread the word!") }}
            </p>
        </div>
    </div>
    {% elif project_is_finished %}
    {#
        This is very important!!
        We also don't want to load the task presenter when the project finishes!!
    #}
    <div class="row" align="center" style="padding:20px;">
        <div class="col-xs-12">
            <p>
                {{ _("Amazing, the project is completed! Thank you to all our digital volunteers who helped decode Darfur!") }}
            </p>
        </div>
    </div>
    {% else %}
    {#
        If the user still has tasks to complete or the project isn't finished yet,
        render the task presenter.
    #}
        {{ project.info.task_presenter|safe }}
    {% endif %}

    {% if invite_new_volunteers or project_is_finished %}
        {#  WARNING - WARNING - WARNING
            This is SUPER JANK HACK. Need to absolutely fix.
            When there are no more tasks, we don't render the task presenter HTML anymore.
            BUT, this causes the sub headers for Decode Darfur project to break
            because the required CSS is located in the task presenter HTML.

            Here we include those CSS when the task presenter is no longer rendered.
        #}
        {% if project.short_name == config.get("PROJECT_SHORT_NAME_DECODE_DARFUR") %}
        <link rel="stylesheet" href="/static/css/amnesty.css">
        <link rel="stylesheet" href="/static/css/decodedarfur.css">
        {% endif %}
    {% endif %}

    <div id='PYBOSSA_USER_LOCALE' hidden>
        {% if current_user.is_anonymous() %}
            en
        {% else %}
            {{ current_user.locale }}
        {% endif %}
    </div>
    {% endblock content %}
{% endif %}
