{% extends "projects/base.html" %}
{% from "_formhelpers.html" import render_form %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% set active_link = "settings" %}
{% block projectcontent %}
{{ render_form(form, action_url=action_url, form_id="quiz_form") }}
<table id="quiz_result_table" class="table table-bordered table-striped table-hover" style="margin-top:15px">
    <thead>
        <tr>
            <th>User</th>
            <th>Enabled</th>
            <th>Status</th>
            <th>Right</th>
            <th>Wrong</th>
            <th>Questions</th>
            <th>Passing</th>
        </tr>
    </thead>
    <tbody>
{% for user in all_user_quizzes %}
        <tr>
            <td>{{user.fullname}}</td>
            <td>{{'Yes' if user.quiz.config.enabled else 'No'}}</td>
            <td class="{{ {'passed':'bg-success','failed':'bg-danger'}.get(user.quiz.status, '') }}">{{user.quiz.status}}</td>
            <td>{{user.quiz.result.right}}</td>
            <td>{{user.quiz.result.wrong}}</td>
            <td>{{user.quiz.config.questions}}</td>
            <td>{{user.quiz.config.passing}}</td>
            <td><button class="btn btn-primary btn-sm" name="reset" value="{{user.id}}" form="quiz_form">Reset</button></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
