{% extends "projects/base.html" %}
{% set active_link = "settings" %}
{% set subtitle = _('Project Settings')%}
{% from "projects/_helpers.html" import render_project_card_option %}

{% block projectcontent %}
<div class="row">
    <div id="import_tasks" class="col-md-6">
        {{ render_project_card_option(project, upload_method, title=_('Project details'), explanation=_('Edit the name, description, etc.'), link=url_for('project.update', short_name=project.short_name), link_action_text=_('Edit'), icon='info-circle')}}
    </div>
    <div id="export_tasks" class="col-md-6">
        {{ render_project_card_option(project, upload_method, title=_('Task Settings'), explanation=_('Change the task settings: redundancy, priority, etc.'), link=url_for('project.task_settings', short_name=project.short_name), link_action_text=_('Settings'), icon='cog')}}
    </div>
</div>

<div class="row">
    <div id="import_tasks" class="col-md-6">
        {{ render_project_card_option(project, upload_method, title=_('Delete the project'), explanation=_('Delete the project, tasks, task runs and answers.'), link=url_for('project.delete', short_name=project.short_name), link_action_text=_('Delete'), icon='trash')}}
    </div>
    <div id="export_tasks" class="col-md-6">
        {{ render_project_card_option(project, upload_method, title=_('Blog'), explanation=_('Write a blog post about your project.'), link=url_for('project.new_blogpost', short_name=project.short_name), link_action_text=_('Write'), icon='pencil')}}
    </div>
</div>
{% endblock %}
