{% extends "projects/base.html" %}
{% set active_link = "stats" %}
{% import "privacy/locked.html" as privacy %}

{% block projectcontent %}
<!-- Leaflet maps -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
 <![endif]-->
<!-- Default Style -->
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<link href="{{url_for('static', filename='css/stats/MarkerCluster.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/stats/MarkerCluster.Default.css')}}" rel="stylesheet" type="text/css">
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<script src="{{url_for('static', filename='js/stats/flotr2.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/stats/leaflet.markercluster.js')}}" type="text/javascript"></script>
<script>
    var projectStats = {{projectStats|safe}};
</script>

        {% if enforce_privacy and (not (current_user.id in project.owners_ids) and not current_user.admin and not current_user.subadmin) %}
        {{ privacy.render_lock_page() }}
        {% else %}
        <br/>
            {% if private %}
            <div class="row">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{_('Important')}}:</strong> {{_('Data have been')}} <strong>{{_('anonymized')}}!</strong>
                </div>
            </div>
            {% endif %}

            <!-- Hour Stats CARD -->
            <div id="card" class="row">
                <div class="col-md-12">
                    <div id="hourStats" style="margin:0;height:500px;">
                    </div>
                    <script>
                    (function(){
                    function answersPerHour(obj) {
                        return (parseInt(obj.y) + " answers were submitted at " + parseInt(obj.x) + " hours");
                    }

                    function hours(obj) {
                        return (parseInt(obj) + ":00");
                    }
                    var container = document.getElementById('hourStats');
                    var graph = Flotr.draw(container, [{ data:projectStats.hourStats[2]['values'],label:projectStats.hourStats[2]['label'] }], {
                        title: "Distribution of Answers per Hour".fontsize(5.5),
                        bubbles : {show: true, baseRadius:3},
                        xaxis   : {min: 0, max:24, tickFormatter: hours},
                        yaxis   : {min: 0, max:_.max(projectStats.hourStats[0])+2, tickDecimals: 0 },
                        mouse   : {track: true, trackFormatter: answersPerHour},
                        legend  : {postion: 'nw'}
                    });
                    })();
                    </script>
                </div>
            </div>
            <!-- END Hour Stats CARD -->

            <!-- Day Stats Total CARD -->
            <div id="card" class="row">
                <div  class="col-md-12">
                    <div id="dayStatsTotal" style="margin:0;height:500px;"></div>
                    <script>
                    (function(){

                    function date(obj) {
                        var d = new Date(parseInt( obj ));
                        var year = d.getFullYear();
                        var month = d.getMonth() + 1;
                        var day = d.getDate();
                        return(year + "-" + month + '-' + day)
                    }

                    var dayStatsTotalContainer = document.getElementById('dayStatsTotal');

                    var maxY = Math.max.apply(null, projectStats.dayStats[3]['values'].map(function(elt) {
                        return elt[1];
                    }));

                    function drawGraph(opts) {
                        return Flotr.draw(
                        dayStatsTotalContainer, [projectStats.dayStats[3]['values']], {
                            title: "Completed Tasks in the last 15 days".fontsize(5.5),
                            xaxis:{
                                showMinorLabels: true,
                                mode: 'time'
                            },
                            yaxis:{
                                min:0,
                                tickDecimals: 0,
                                max:maxY+2
                            },
                            grid: {
                                minorVerticalLines: true
                            }
                        });
                    }

                    graph = drawGraph();

                    })();
                    </script>
                </div>
            </div>
            <!-- END Day Stats CARD -->

            <!-- Day Stats CARD -->
            <div id="card" class="row">
                <div  class="col-md-12">
                    <div id="dayStats" style="margin:0;height:500px;"></div>
                    <script>
                    (function(){
                    var
                        horizontal,
                        bar = [],
                        point,
                        markers = {
                                data: [],
                                markers: {
                                    show: true,
                                    position: 'ct'
                                }
                        };

                    function date(obj) {
                        var d = new Date(parseInt( obj ));
                        var year = d.getFullYear();
                        var month = d.getMonth() + 1;
                        var day = d.getDate();
                        return(year + "-" + month + '-' + day)
                    }
                    function answersPerDay(obj) {
                        return (parseInt(obj.y) + " {{_('answers were submitted this day')}} " + date(obj.x));
                    }
                    var dayStatsContainer = document.getElementById('dayStats');

                    projectStats.dayStats[2]['values'].forEach(function(elt) {
                        point = [elt[0], elt[1]];
                        bar.push(point);
                        markers.data.push(point);
                    });

                    function drawGraph(opts) {
                        // Return a new graph.
                        return Flotr.draw(
                        dayStatsContainer, [bar, markers], {
                            title: "Answers per day".fontsize(5.5),
                            xaxis:{
                                showMinorLabels: true,
                                mode: 'time'
                            },
                            yaxis:{
                                min: 0,
                                tickDecimals: 0
                            },
                            bars:{
                                show: true,
                                horizontal: horizontal,
                                barWidth: 35000000
                            },
                            mouse:{
                                track: true,
                                trackFormatter: function (e){return e.y;},
                                relative: true,
                                trackY: true,
                                trackDecimals: 2,
                                sensibility: 3
                            }
                        });
                    }

                    // Actually draw the graph.
                    graph = drawGraph();
                    })();
                    </script>
                </div>
            </div>
            <!-- END Day Stats CARD -->

            <!-- Percentage of Tasks Completed CARD -->
            <div id="card" class="row">
                <div  class="col-md-12">
                    <div id="perctTasks" style="margin:0;height:500px;position:relative;"></div>
                    <script>
                    (function(){
                    var d1 = [[0,projectStats.n_completed_tasks]];
                    var d2 = [[0,projectStats.n_pending_tasks]];
                    var perctTasksContainer = document.getElementById('perctTasks');

                    function drawGraph(opts) {
                        return Flotr.draw(
                        perctTasksContainer, [{data:d1, label:'Completed'}, {data:d2, label:'Open'}], {
                            title: "Percentage of Tasks Completed".fontsize(5.5),
                            grid : {
                                verticalLines : false,
                                horizontalLines : false
                            },
                            xaxis : { showLabels : false },
                            yaxis : { showLabels : false },
                            pie : {
                                show : true,
                                explode : 6,
                                labelFormatter: function(total, value){ return (100 * value / total).toFixed(0)+'%'}
                            },
                            mouse : {
                                track : true,
                                trackFormatter: function(obj){return 'Tasks: '+obj.y;},
                                trackDecimals: 0
                                },
                            legend : {
                                position : 'nw',
                                backgroundColor : '#D2E8FF'
                            }
                        });
                    }

                    graph = drawGraph();
                    })();
                    </script>
                </div>
            </div>
            <!-- END Percentage of Tasks Completed CARD -->

            {% if pro_features['better_stats_enabled'] %}
            <div id="card" class="row">
                <div class="col-md-12">
                    <h3>{{_('Average contribution time per task') }}:</h3>
                    <p><span id="avgTime">{{ avg_contrib_time }}</span> {{ _('minutes') }}</p>
                </div>
            </div>
            {% endif %}

            <!-- Auth User Stats CARD -->
            <div id="card" class="row">
                <div id="dist-auth" class="col-md-12">
                    <h3>{{_('Details about Authenticated Users')}}</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <p><i class="icon-group"></i> <strong>{{userStats.authenticated.users}}</strong> {{_('authenticated users have')}} <strong>{{_('participated')}}</strong>.</p>
                            {% if userStats.authenticated.top10 %}
                            <h4><strong>{{_('Top 10 users')}}</strong></h4>
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{_('User')}}</th>
                                        <th>{{_('Tasks')}}</th>
                                    </tr>
                                </thead>
                            {% for u in userStats.authenticated.top10 %}
                                <tr>
                                    <th>{{loop.index}}</th>
                                    <th><a href="{{url_for('account.profile', name=u.name)}}">{{u.fullname}}</a></th>
                                    <th>{{u.tasks}}</th>
                                </tr>
                            {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                        <div id="userAuthStats" class="col-md-12" style='height:400px'>
                        </div>
                        <script>
                        (function(){
                        var container = document.getElementById('userAuthStats');
                        var graph = Flotr.draw(container, [
                            {data:[[0, projectStats.userAuthStats['top10'][0]['tasks'] ]],  label:projectStats.userAuthStats['top10'][0]['fullname']},
                            {data:[[0, projectStats.userAuthStats['top10'][1]['tasks'] ]],  label:projectStats.userAuthStats['top10'][1]['fullname']},
                            {data:[[0, projectStats.userAuthStats['top10'][2]['tasks'] ]],  label:projectStats.userAuthStats['top10'][2]['fullname']},
                            {data:[[0, projectStats.userAuthStats['top10'][3]['tasks'] ]],  label:projectStats.userAuthStats['top10'][3]['fullname']},
                            {data:[[0, projectStats.userAuthStats['top10'][4]['tasks'] ]],  label:projectStats.userAuthStats['top10'][4]['fullname']},
                            {data:[[0, projectStats.userAuthStats['top10'][5]['tasks'] ]],  label:projectStats.userAuthStats['top10'][5]['fullname']},
                            {data:[[0, projectStats.userAuthStats['top10'][6]['tasks'] ]],  label:projectStats.userAuthStats['top10'][6]['fullname']},
                            {data:[[0, projectStats.userAuthStats['top10'][7]['tasks'] ]],  label:projectStats.userAuthStats['top10'][7]['fullname']},
                            {data:[[0, projectStats.userAuthStats['top10'][8]['tasks'] ]],  label:projectStats.userAuthStats['top10'][8]['fullname']},
                            {data:[[0, projectStats.userAuthStats['top10'][9]['tasks'] ]],  label:projectStats.userAuthStats['top10'][9]['fullname']}],
                            {
                            pie     : {show: true, explode: 10},
                            grid    : {verticalLines: false, horizontalLines: false, outlineWidth: 0},
                            HtmlText: false,
                            xaxis   : {showLabels: false},
                            yaxis   : {showLabels: false},
                            legend  : {postion: 'nw'}
                        });
                        })();
                        </script>
                    </div>
                </div>
            </div>
            <!-- END Auth User Stats CARD -->
            {%endif%}
        </div>
</div>
<script type="text/javascript">
(function() {
    var time = document.getElementById('avgTime');
    try {
        var localTime = time.innerHTML;
        var locale = navigator.languages ? navigator.languages[0] : navigator.language;
        var localTime = parseFloat(time.innerHTML).toLocaleString(locale);
        time.innerHTML = localTime;
    }
    catch (e) {
        console.log("Unable to convert to local string.");
    }
})();
</script>
{{ helper.broken_image() }}
{% endblock %}
