{% extends "/projects/base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block projectcontent %}
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" style="border-bottom: 1px solid #c9d8dfe3">
        <li role="presentation" class="active"><a href="#project" aria-controls="project" role="tab" data-toggle="tab">Project</a></li>
        <li role="presentation"><a href="#ownership" aria-controls="ownership" role="tab" data-toggle="tab">Ownership</a></li>
        <li role="presentation"><a href="#task" aria-controls="task" role="tab" data-toggle="tab">Task</a></li>
        <li role="presentation"><a href="#answer" aria-controls="answer" role="tab" data-toggle="tab">Answer</a></li>
        <li role="presentation"><a href="#quiz" aria-controls="quiz" role="tab" data-toggle="tab">Quiz</a></li>
    </ul>
    <br>

    <div id="setting" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="project">
            <div class="col-md-12">
                <setting> </setting>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="ownership">
            <div class="col-md-12 ">
                <ownership-setting></ownership-setting>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="task">
            <div class="col-md-12">
                <task-setting></task-setting>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="answer">
            <div class="col-md-12">
                <div >
                    <fields-config></fields-config>
                </div>
                <div>
                    <consensus-config></consensus-config>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="quiz">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <quiz-setting></quiz-setting>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/gen/setting.min.fe3692ae5ca8a1a3bf0f.js"></script>

{% endblock %}


