{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_link = "tasks" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
<style>
    .navigation-element {
        margin-top: 25px;
    }
    .padding-top-wizard {
        margin-top: 50px
    }
</style>
<div class="container">
    <div class="row navigation-element">
        <div class="col-md-12">
            {% include "projects/wizard.html" %}
        </div>
    </div>
    <div class="row padding-top-wizard">
        <div class="col-md-3">
            {{ helper.render_project_local_nav(project, active_link, current_user, pro_features, upload_method) }}
        </div>
        <div class="col-md-9">
            {% include "projects/snippets/options.html" %}
        </div>
</div>
</div>
<script>
//to avoid form resubmission when refresh
if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock %}
