{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "tasks" %}
{% set section =  _('Task Scheduler')%}
{% from "_formhelpers.html" import render_field, render_checkbox_field, render_select2_field %}

{% block projectcontent %}
<p>{{_('You can choose from the following schedulers')}}:</p>
<ul>
    <li><strong>{{_('Default')}}</strong> {{_('or')}}
    <strong>{{_('Locked')}}</strong>: {{_('returns a task that has not been
    completed, but ensures that the same task is not returned to more users than
    it is needed to reach its redundancy')}}
    <li><strong>{{_('User Preference')}}</strong>: {{_('returns a
    task that matches user preferences set in user profile, provided tasks are
    configured with user preferences')}}.</li>
</ul>

<form id="task_scheduler" method="post" action="{{ url_for('project.task_scheduler', short_name=project.short_name) }}">
    {{ form.hidden_tag() }}
    <fieldset>
        {{ render_field(form.sched, class_="span4",
        placeholder="Task scheduler for your project")}}
        <div id="show-reserve-category-cols">
            {{ render_select2_field(form.reserve_category_columns) }}
        </div>
        <div id="show-customized">
            {{ render_select2_field(form.customized_columns) }}
        </div>
        <div id="show-randomizable">
            <p>{{_('You also have the following option(s)')}}:</p>
            <ul>
                <li><strong>{{_('Randomize Within Priority')}}</strong>:
                {{_('The next task is randomly selected from the highest priority tasks
                provided by the scheduler. When left unchecked, the old available task
                within the highest priority is returned first.')  }}
                {{ render_checkbox_field(form.rand_within_priority) }}
                </li>
                <li><strong>{{_('Gold Task Probability')}}</strong>:
                {{_('The probability of receiving a gold task when the next task is scheduled.
                Subject to unanswered gold tasks remaining for the worker.')}}
                {{ render_field(form.gold_task_probability, label_visible=false, placeholder=form.gold_task_probability.description) }}
                </li>
            </ul>
        </div>
        <div class="form-actions">
            <input type="submit" value={{_('Save scheduler')}} class="btn btn-primary" />
        </div>
    </fieldset>
</form>
<link rel="stylesheet" href="{{url_for('static', filename='css/select2.min.css')}}"/>
<script src="{{url_for('static', filename='js/vendor/select2.min.js')}}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        if (!selectedSchedulerIsRandomizable()) {
            $('#show-randomizable').hide();
        }

        if (!selectSchedulerNeedsCustomizedColumns()) {
            $('#show-customized').hide();
        }

        if (!reserveTaskCategorySupported() ) {
            $('#show-reserve-category-cols').hide();
        }

        $('#sched').change(function () {
            $('#rand_within_priority').prop('checked', false);

            if (selectedSchedulerIsRandomizable()) {
                $('#show-randomizable').show();
            } else {
                $('#show-randomizable').hide();
            }

            if (selectSchedulerNeedsCustomizedColumns() ) {
                $('#show-customized').show();
            } else {
                $('#show-customized').hide();
            }
            if (reserveTaskCategorySupported() ) {
                $('#show-reserve-category-cols').show();
            } else {
                $('#show-reserve-category-cols').hide();
            }
        });

    });

    function selectedSchedulerIsRandomizable () {
        return isRandomizableScheduler(selectedScheduler());
    }

    function selectedScheduler () {
        return $('#sched').val();
    }

    function isRandomizableScheduler (s) {
        return {{ randomizable_scheds | safe }}.indexOf(s) !== -1;
    }

    function selectSchedulerNeedsCustomizedColumns() {
        var scheduler_type = selectedScheduler();
        return ["locked_scheduler", "user_pref_scheduler", "task_queue_scheduler"].includes(scheduler_type);
    }

    function reserveTaskCategorySupported() {
        return selectedScheduler() === 'task_queue_scheduler';
    }

    function orderSelect2Items(evt){
        var element = evt.params.data.element;
        var $element = $(element);
        var parentElement = element.parentElement;

        $element.detach();
        $(parentElement).append($element);
        $(parentElement).trigger("change");
    }

    $("#show-customized").on("select2:select", function(evt){
        orderSelect2Items(evt)
    });

    $("#show-reserve-category-cols").on("select2:select", function(evt){
        orderSelect2Items(evt)
    });
</script>
{% endblock %}
