{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "tasks" %}
{% set section = _('Task Timeout') %}
{% from "_formhelpers.html" import render_field %}

{% block projectcontent %}
<h3>The maximum time available to complete a task in this project</h3>
<form id="task_timeout" method="post" action="{{ url_for('project.task_timeout', short_name=project.short_name) }}">
    {{ form.hidden_tag() }}
    <fieldset>
        {{ render_field(form.minutes, placeholder= _('Minutes')) }}
        {{ render_field(form.seconds, placeholder= _('Seconds')) }}
        <div class="form-actions">
            <input type="submit" value={{_('Save timeout')}} class="btn btn-primary" />
        </div>
    </fieldset>
</form>
{% endblock %}
