{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% set active_link = "tasks" %}
{% set section = _('Browse tasks') %}

{% block projectcontent %}
<link rel="stylesheet" href="{{url_for('static', filename='vendor/slider/css/slider.css')}}"/>
<div class="row">
    <div class="col-md-12">
        <p>{{_('This page shows all the available tasks for this project')}}.</p> 
        <p>{{_('For each task, you can find the following information')}}:
        <ul>
            <li><strong>{{_('Task')}} </strong><span class="label label-info">#0000</span> {{_('This number identifies the task for the project and it is unique')}}</li>
            <li><strong>0 of 30</strong>: {{_('The first number shows how many answers have been submitted for the task and the')}} <a data-placement="top" rel="tooltip" href="#" data-original-title="{{_('This redundancy method will help to detect errors, typos, data forging, etc. when the task has been completed')}}">{{_('second number')}}</a> {{_('how many need to be obtained to mark the task as')}} <strong>{{_('completed')}}</strong>. </li>
            <li><strong>{{_('Progress Bar')}}</strong>: {{_('The progress progress-bar will the percentage that has been completed for the task')}}.</li>
        </ul>
        </p>
    </div>
</div>
<div class="collapse navbar-collapse">
    <ul style="list-style: none;">
        <li style="float: right; padding-left: 5px;">
            <button type="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-constraints='focus' data-content="{{_('Please refresh the results after setting the desired filters.')}}" title="{{_('Refresh Results')}}">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </li>
        <li class="dropdown" style="float: right;">
            <button class="dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">10<span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                <li><a href="#">10</a></li>
                <li class="disabled"><a href="#">20</a></li>
                <li><a href="#">30</a></li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <table width="100%">
        <thead>
            <tr>
                <th>Task#</th>
                <th>Priority</th>
                <th>%Complete</th>
                <th>Completed</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">#</div>
                        <input class="form-control input-sm" type="number" value="{{ filter_data.task_id }}" id="task_id" style="width: 100px;">
                    </div>
                    </div>
                </th>
                <th>
                    <div>
                        <input id="priority" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="[0,100]" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" />
                    </div>
                </th>
                <th>
                    <div>
                        <input id="pcomplete" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="[0,100]" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" />
                    </div>
                </th>
                <th>
                   <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Filter</button>
                </th>
                <th>Filter</th>
            </tr>
        </thead>
        <tbody>
            {% for t in tasks %}
            {% set task_pct = t.pct_status*100 %}
            <tr>
                <td>
                    {% if task_pct >= 100 %}
                        <span class="label label-success">#{{ t.id }}</span>
                    {% else %}
                        <span class="label label-info">#{{ t.id }}</span>
                    {% endif %}
                    {{ t.n_task_runs }} {{_('of')}} {{ t.n_answers }}
                </td>
                <td>{{ t.priority_0 }}</td>
                <td>{{task_pct}}</td>
                <td>{{ t.finish_days }}</td>
                <td>
                    {% if task_pct >= 100 %}
                    <a id="fulldownload" rel="nofollow" class="btn btn-success btn-xs" href="{{ url_for('project.export', short_name=project.short_name, task_id=t.id) }}"><i class="fa fa-cloud-download"></i> {{_('Download Task Results')}}</a>
                    {% elif task_pct > 0 and task_pct < 100 %}
                    <a id="partialdownload" rel="nofollow" class="btn btn-info btn-xs" href="{{ url_for('project.export', short_name=project.short_name, task_id=t.id) }}"><i class="fa fa-cloud-download"></i> {{_('Download Partial results')}}</a>
                    {% else %}
                    <a id="nothingtodownload" rel="nofollow" class="btn btn-info btn-xs disabled" href="#"><i class="fa fa-cloud-download"></i> {{_('Nothing to download yet')}}</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if pagination.pages > 1 %}
<div class="row">
    <div class="col-md-12 text-center">
        {{ render_pagination(pagination) }}
    </div>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit date range</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon" style="width: 70px;">From:</div>
                <input class="form-control input-sm" type="datetime-local" value="" id="ftime1" style="width: 190px;" />
            </div>
            <div class="input-group">
                <div class="input-group-addon" style="width: 70px;">To:</div>
                <input class="form-control input-sm" type="datetime-local" value="" id="ftime2" style="width: 190px;" />
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    filter_data = {{ filter_data|tojson }};
</script>

<script src="{{url_for('static', filename='vendor/slider/js/bootstrap-slider.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/pybossa/tasks_browse.js')}}" type="text/javascript"></script>
{% endblock %}
