{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_link = "tasks" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
<style>
    .navigation-element {
        margin-top: 25px;
    }
    .padding-top-wizard {
        margin-top: 50px
    }
</style>
<div class="container {{'w-100' if request.cookies.leftNavCollapse == 'true'}}">
    <div class="row navigation-element">
        <div class="col-md-12">
            {% include "projects/wizard.html" %}
        </div>
    </div>
    <div class="row">
        <div id="menu" class="col-sm-3 col-md-3 navigation-element animated {{'collapsed' if request.cookies.leftNavCollapse == 'true'}}" style="margin-top: 0; margin-left: 16px;">
            {{ helper.render_project_local_nav(project, active_link, current_user, pro_features, upload_method) }}
        </div>
        <div id="container-content" class="col-sm-8 col-md-8">
            <div id="project-header">
                {% include "projects/snippets/options.html" %}
            </div>
        </div>
    </div>
</div>
<script>
//to avoid form resubmission when refresh
if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock %}
