{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<div id="project-form" class="container"> 
    <div class="col-md-3">
        {{ helper.render_project_local_nav(project, 'blog', current_user, pro_features) }}
    </div>
    <div class="col-md-9">
        {{ helper.render_project_title(project) }}
        <h2>{{ _('Edit the blog post') }}</h2>
        <form class="form-horizontal" method="post" action="{{ url_for('project.update_blogpost',
                                                        short_name=project.short_name,
                                                        id=blogpost.id) }}">
            {{ form.hidden_tag() }}
            <fieldset>
                {{ render_field(form.title, class_="span4", placeholder= _('The title of your post')) }}
                {{ render_field(form.body, class_="span4", placeholder= _('Write your post here. You can use Markdown!')) }}
                <div class="form-actions">
                    <input type="submit" value={{_('Update')}} class="btn btn-primary" />
                    <a href="{{url_for('project.settings', short_name=project.short_name)}}" class="btn btn-default">{{_('Cancel')}}</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
