{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_link = "settings" %}
{% import "projects/_helpers.html" as helper %}

{% block projectcontent %}
{% from "_formhelpers.html" import render_field, render_checkbox_field, render_select2_field %}
<h2>{{_('Update the avatar')}}</h2>
<form method="post" action="{{ url_for('project.update', short_name=project.short_name) }}" enctype="multipart/form-data">
    <fieldset>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
            <img id="uploadPreview" style="max-width: 100%">
        </div>
        {{ render_field(upload_form.avatar, onchange="previewImage()") }}
        {{ upload_form.x1 }}
        {{ upload_form.y1 }}
        {{ upload_form.x2 }}
        {{ upload_form.y2 }}
        <div class="form-actions">
            <button type="submit" name='btn' value="Upload" class="btn btn-primary">{{ _('Upload') }}</button>
        </div>
    </fieldset>
</form>

<!-- Update form for project data-->
<h2>{{_('Update project details')}}</h2>
<form id="create-project-form" method="post" action="{{ url_for('project.update', short_name = project.short_name) }}">
    <fieldset>
        {{ form.hidden_tag() }}
        {{ render_field(form.name, class_="input-xlarge", placeholder=_('The name of the project')) }}
        {{ render_field(form.description, class_="input-xlarge", placeholder=_('Give some details about the project')) }}
        {{ render_field(form.long_description, class_="input-xlarge", placeholder=_('Explain the project (use Markdown!)')) }}
        {{ render_field(form.product) }}
        {{ render_field(form.subproduct) }}
        {{ render_field(form.kpi) }}
        {% if 'amp_store' in form %}
            {{ render_checkbox_field(form.amp_store, tooltip=_('Opt in to store annotations on Annotation Management Platform')) }}
            {{ render_field(form.amp_pvf, placeholder=_('PVF that should be used for annotation store')) }}
        {% endif %}
        {{ render_field(form.category_id) }}
        {{ render_checkbox_field(form.allow_anonymous_contributors, tooltip=_('Check if you want to allow anonymous users contribute to your project')) }}
        {{ render_checkbox_field(form.hidden, tooltip=_('Check if you want to hide your project'))}}
        {{ render_checkbox_field(form.email_notif, tooltip=_('Check if you want to send email notifications to your workers when new tasks are loaded'))}}
        {% if sync_enabled %}
            <h3>{{_('Enable project syncing')}}</h3>
            {{ render_checkbox_field(form.sync_enabled, class_="", tooltip=_('Check if you want to enable project syncing')) }}
        {% endif %}
        <a name="data-access"></a>
        {{ render_field(form.password, class_="password", placeholder="Leave blank to maintain set password") }}
        <div id="password-requirements">{{ form.password.render_kw.placeholder }}</div>
        {% if 'data_access' in form %}
            {{ render_select2_field(form.data_access, config.DATA_ACCESS_MESSAGE.replace('SHORT_NAME', project.short_name) if config.DATA_ACCESS_MESSAGE else None) }}
        {% endif %}
        <div class="form-actions">
            <button type="submit" name='btn' value="Save the changes" class="btn btn-primary">{{_('Save the changes')}}</button>
        </div>
    </fieldset>
</form>

<h3>{{_('Project secret key')}}</h3>
<div class="input-group">
    <input type="password" name="secret-key" class="form-control" id="project-secret-key" style="width:100%;" readonly value="{{project.secret_key}}">
    <span class="input-group-btn"><buton id="password-toggle" class="btn btn-primary"><i class="fa fa-eye password-toggle"></i><i class="fa fa-eye-slash password-toggle" style="display:none"></i></buton></span>
</div>
<p style="margin-top: 15px;">
<form method="post" action="{{ url_for('project.reset_secret_key', short_name=project.short_name)}}">
    <div class="form-actions">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="btn btn-primary" value="Reset">{{_('Reset secret key')}}</button>
    </div>
</form>
<h3>{{_('Webpush notifications')}}</h3>
<p><span class="label label-info"><i class="fa fa-bullhorn"></i> {{_('Warning')}}</span> {{_('Once you enable the notifications, you cannot disable them.')}}</p>
{% if project.info.get('onesignal') == None %}
<button id="webpush" class="btn btn-primary" value="webpush">{{_('Activate')}}</button>
{% else %}
<button class="btn btn-primary disabled" value="webpush">{{_('Enabled')}}</button>
{% endif %}

<h3>{{_('Transfer project ownership')}}</h3>
<a href="{{url_for('project.transfer_ownership', short_name=project.short_name)}}" class="btn btn-primary">Change owner</a>
</p>
{% endblock %}
{% block extrajs %}
<script>
    var pybossaAvatarAspectRatio = 4/3;
</script>
<script>
    $("#webpush").off('click').on('click', function(){
        var url = window.location.href.split("update")[0] + "webpush";
        $.get(url, function(data){
            console.log(data);
            if (data['id'] !== undefined) {
                pybossaNotify('Webpush notifications enabled', true, 'success');
            }
        });
    })
</script>
<link rel="stylesheet" href="{{url_for('static', filename='css/cropper.min.css')}}" type="text/css" />
<script type="text/javascript">
    //Show/hide secret key
    $(window).load(function(){
        $(".fa-eye-slash").hide();
        $("#password-toggle").click(function(evt){
            evt.preventDefault();
            $(".password-toggle").toggle();
            if ( $("#project-secret-key").attr("type") == 'password') {
                $("#project-secret-key").attr("type", 'text');
            }
            else {
                $("#project-secret-key").attr("type", 'password');
            }
        });
    });
</script>
<link rel="stylesheet" href="{{url_for('static', filename='css/select2.min.css')}}"/>
<script type="text/javascript">
    var ps = {{ prodsubprods | safe }};
</script>

{% assets "js_projects_update" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
