{% extends "/base.html" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<script src="{{url_for('static', filename='js/vendor/jquery.Jcrop.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.Jcrop.min.css')}}" type="text/css" />
<div class="row">
    <div class="span3">
        {{ helper.render_project_local_nav(project, 'settings', current_user, pro_features) }}
    </div>
  <div class="span9">
      <legend><strong>{{project.name}}</strong>: {{_('Update the project')}}</legend>
      <!-- Update form for project thumbnail -->
      <form method="post" class="form-horizontal" action="{{ url_for('project.update', short_name=project.short_name) }}" enctype="multipart/form-data">
          <fieldset>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <div>
              {{ helper.render_project_thumbnail(project, upload_method, id="uploadPreview") }}
              </div>
              {{ render_field(upload_form.avatar, onchange="previewImage()") }}
              {{ upload_form.x1 }}
              {{ upload_form.y1 }}
              {{ upload_form.x2 }}
              {{ upload_form.y2 }}
          <div class="form-actions">
            <button type="submit" name='btn' value="Upload" class="btn btn-primary btn-large">{{ _('Upload') }}</button>
          </div>
          </fieldset>
      </form>

      <!-- Update form for project data-->
    <form class="form-horizontal" method="post" action="{{ url_for('project.update', short_name = project.short_name) }}">
      <fieldset>
        {{ form.hidden_tag() }}
        {{ render_field(form.name, class_="input-xlarge", placeholder=_('The name of the project')) }}
        {{ render_field(form.short_name, class_="input-xlarge", placeholder=_('Short name or slug for the project'), label_text=_('Project slug:')) }}
        {{ render_field(form.description, class_="input-xlarge", placeholder=_('Give some details about the project')) }}
        {{ render_field(form.long_description, class_="input-xlarge", placeholder=_('Explain the project (use Markdown!)')) }}
        {{ render_field(form.category_id) }}
        {{ render_field(form.allow_anonymous_contributors, tooltip=_('Check if you want to allow anonymous users contribute to your project')) }}
        {{ render_field(form.protect, id='protect') }}
        <div id='password'>{{ render_field(form.password) }}</div>
        {{ render_field(form.webhook) }}
        <div class="form-actions">
          <button type="submit" name='btn' value="Save the changes" class="btn btn-primary">{{_('Save te changes')}}</button>
          <a href="{{url_for('project.settings', short_name=project.short_name)}}" class="btn">{{_('Cancel')}}</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<script type="text/javascript">
    $("i[rel='tooltip']").tooltip();
</script>
<script src="{{url_for('static', filename='js/image_crop.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    var passProtected = document.getElementById('protect').checked;
    if (!passProtected) {
        $('#password').hide();
    }
    $('#protect').on('change', function() {
        $('#password').toggle();
    });
});
</script>
{{ helper.broken_image() }}
{% endblock %}
