{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

  <legend>{{ _('Reset your Password') }}</legend>
  <form method="post" class="form-horizontal">
      <fieldset>
      {{ form.hidden_tag() }}
      {{ render_field(form.new_password, class="col-xs-6 form-control", style="width: 280px !important", placeholder=_('my new password')) }}<br><br>
      {{ render_field(form.confirm, class="col-xs-6 form-control", style="width: 280px !important",  placeholder=_('my new password again')) }}<br><br>
      <div class="form-actions" style="margin-top: 50px !important;">
        <input type="submit" value="Save the changes" class="btn btn-primary btn-large" />
        <a href="{{ url_for('account.profile', name=current_user.name) }}" class="btn btn-default">{{ _('Cancel') }}</a>
      </div>
      </fieldset>
  </form>
{% endblock %}

