{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<script>
    $(function () {
        $(".btn-reset").click(function (e) {
            e.preventDefault();
            $("#reset-modal").modal("show");
        });

        $("#reset-done").click(function () {
            $(".btn-reset-reload").click();
        });
    });
</script>
<style>
    #reset-modal h5 {
        font-family: 'sans-serif' !important;
        font-size: 17px !important;
    }
</style>
<legend>{{ _('Reset your Password') }}</legend>
<form method="post" class="form-horizontal">
    <fieldset>
        {{ form.hidden_tag() }}
        {{ render_field(form.email_addr, class="col-xs-6 form-control", style="width: 280px !important", placeholder=
        _('my e-mail') ) }}
        <div class="form-actions" style="margin-top: 50px !important;">
            <input type="submit" value="{{_('Reset my Password')}}" class="btn btn-primary btn-large btn-reset"/>
            <input type="submit" value="{{_('Reset my Password')}}" class="btn btn-primary btn-large btn-reset-reload"
                   style="display: none;"/>
            <a href="{{ url_for('account.signin') }}" class="btn btn-default">{{ _('Cancel') }}</a>
        </div>
        <h1>{{form.error}}</h1>
    </fieldset>
</form>

<!-- Tooltop Modal -->
<div class="modal fade" id="reset-modal" role="dialog">
    <div class="modal-dialog modal-sm modal-inverse">
        <div class="modal-content">
            <div class="modal-body">
                <h5>You will soon receive an e-mail with instructions on how to reset your password.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" id="reset-done" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

