{% extends "base.html" %}
{% set active_page = "account" %}
{% import "account/_helpers.html" as helper %}
{% from "projects/_helpers.html" import render_grid_projects, broken_image %}
{% import "privacy/locked.html" as privacy %}
{% from "_formhelpers.html" import render_form %}

{% block content %}
<section class="account public-profile">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
                {{ privacy.render_lock_page() }}
                {% else %}
                <div class="text-center">
                    {{helper.render_user_thumbnail(user, upload_method, class='col-xs-4 img-circle')}}
                </div>
                <div class="text-center">
                    <h1 id="user-data">{{user.fullname}}</h1>
                    {% if user.rank %}
                    <h2><i class="fa fa-trophy"></i> {{ _('Rank')}}: {{user.rank}}</h2>
                    {% endif %}
                </div>
                {% if current_user.admin or current_user.subadmin%}
                <div class="col-md-offset-15 col-md-10 {% if input_form %} hidden {% endif %}" id="user-info" >
                    {% if metadata %}
                        {% if metadata.languages %}<h4><b>Language(s):</b> {{metadata.languages|join(', ') }}</h4>{% endif %}
                        {% if metadata.location %}<h4><b>Location:</b> {{metadata.location}}</h4>{% endif %}
                        {% if metadata.start_time %}<h4><b>Available:</b> {{metadata.start_time}}<b> - </b> {{metadata.end_time}} {{metadata.timezone}}</h4>{% endif %}
                        {% if metadata.user_type %}<h4><b>User Type:</b> {{metadata.user_type}}</h4>{% endif %}
                        {% if metadata.review %}<h4><b>Review:</b> {{metadata.review}}</h4>{% endif %}
                        <h5><small>Submitted by: @{{metadata.admin}} {{metadata.time_stamp}}</small></h5>
                    {% else %}
                        <div class="text-center", id="no-info-text">
                            <h4><b>There is no user information to display</b></h4>
                        </div>
                    {% endif %}
                    <div class="text-center">
                        <button id="edit-button" class="btn btn-info btn-large" >Edit</button>
                    </div>
                </div>
                <div class="col-md-offset-15 col-md-10">
                    <div class="text-center">
                        <div id="input-form" {% if not input_form %} class="hidden" {% endif %} >
                            <div class="help-tip">
                                <p>Non Chrome users should input time in <u>military format</u> ex. 13:30</p>
                            </div>
                            {{ render_form(form, action_url=url_for('account.add_metadata',name=user.name), btn_class="btn btn-info btn-large" )}}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% if projects_created %}
{{render_grid_projects(projects_created, "Created Projects", upload_method, current_user, id="created-projects", show_ownership=True)}}
{% endif %}
{% if projects %}
{{render_grid_projects(projects, "Contributions", upload_method, current_user, id="contributed-projects", show_ownership=True)}}
{% endif %}
{% endif %}
{{ broken_image() }}
{% block extrajs %}
{% include "account/js/metadata.js" %}
{% endblock %}
{% endblock %}
