{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_form %}
<section class="account register">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>{{ _('Create an account') }}</h1>

                {{ render_form(form, action_url=url_for('account.register'), btn_class="btn btn-primary btn-block" )}}
                <p class="text-center text-sm" style="margin-top:5px;">
                <span class="label label-warning"><i class="fa fa-bullhorn"></i> {{ _('Note') }}</span> 
                {{ _('By click the') }} 
                <strong>{{ _('Create account button') }}
                </strong>{{ _('below you are agreeing to the') }}
                <a target="blank" href={{terms_of_use | safe}}>{{ _('terms of use') }} </a>{{ _('and') }} 
                <a href={{data_use | safe}}>{{ _('data') }}</a>.
                </p>

            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static', filename='js/forms.js')}}" type="text/javascript"></script>
{% endblock %}
