{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "settings" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<script src="{{url_for('static', filename='js/vendor/jquery.Jcrop.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.Jcrop.min.css')}}" type="text/css" />

<div class="row">
    <div class="span3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="span9">
        <h1><strong>{{current_user.fullname}}</strong>: {{ _('Update your profile') }}</h1>
        <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}" enctype="multipart/form-data">
            <fieldset>
                <div class="span2 img-polaroid">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {% if current_user.info.avatar %}
                    {% if upload_method == 'rackspace' %}
                        <img src="{{url_for('rackspace', filename=current_user.info.avatar, container=current_user.info.container)}}">
                    {% else %}
                        <img src="{{url_for('uploads.uploaded_file', filename=(current_user.info.container + '/' + current_user.info.avatar))}}">
                    {% endif %}
                {% else %}
                    <img src="{{ url_for('static', filename='img/placeholder.png')}}">
                {% endif %}
                </div>
            {{ render_field(upload_form.avatar, onchange="previewImage()") }}
            {{ upload_form.x1 }}
            {{ upload_form.y1 }}
            {{ upload_form.x2 }}
            {{ upload_form.y2 }}
            <img id="uploadPreview">
            <div class="form-actions">
              <input type="submit" name='btn' value="{{ _('Upload') }}" class="btn btn-primary btn-large" />
            </div>
            </fieldset>
        </form>
        <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}">
            <fieldset>
            {{ form.id }}
            {{ form.hidden_tag() }}
            {{ render_field(form.fullname, placeholder= _('my full name') ) }}
            {{ render_field(form.name, placeholder= _('myusername') ) }}
            {{ render_field(form.email_addr, placeholder= _('hello@mywebsite.org') ) }}
            {{ render_field(form.locale) }}
            {{ render_field(form.privacy_mode) }}
            <hr>
            <h2>External Services</h2>
            {{ render_field(form.ckan_api) }}
            <div>
                <img src="{{ current_user.email_addr | gravatar(size=25)}}">
                <a href="http://www.gravatar.com">{{ _('Change your avatar at Gravatar.com') }}</a>. {{ _('We are using') }} {{current_user.email_addr}}
                <hr>
                <span class="label label-warning"><i class="icon icon-white icon-star"></i> {{ _('Note') }}</span> {{ _('If you change your') }} <strong>{{ _('user name') }}</strong> {{ _('you will be asked to sign in again.') }}
            </div>
            <div class="form-actions">
              <input type="submit" name='btn' value="{{ _('Save the changes') }}" class="btn btn-primary btn-large" />
              <a href="{{ url_for('account.settings', name=current_user.name) }}" class="btn">{{ _('Cancel') }}</a>
            </div>
            </fieldset>
        </form>
    </div>
</div>
<script src="{{url_for('static', filename='js/image_crop.js')}}" type="text/javascript"></script>
{% endblock %}
