{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "settings" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<script src="{{url_for('static', filename='js/vendor/jquery.Jcrop.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.Jcrop.min.css')}}" type="text/css" />

<div class="row">
    <div class="span3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="span9">
        <h1><strong>{{current_user.fullname}}</strong>: {{ _('Update your profile') }}</h1>
        <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}" enctype="multipart/form-data">
            <fieldset>
                <div class="span2 img-polaroid">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {% if current_user.info.avatar %}
                    {% if upload_method == 'rackspace' %}
                        <img src="{{url_for('rackspace', filename=current_user.info.avatar, container=current_user.info.container)}}">
                    {% else %}
                        <img src="{{url_for('uploads.uploaded_file', filename=(current_user.info.container + '/' + current_user.info.avatar))}}">
                    {% endif %}
                {% else %}
                    <img src="{{ url_for('static', filename='img/placeholder.png')}}">
                {% endif %}
                </div>
            {{ render_field(upload_form.avatar, onchange="previewImage()") }}
            {{ upload_form.x1 }}
            {{ upload_form.y1 }}
            {{ upload_form.x2 }}
            {{ upload_form.y2 }}
            <img id="uploadPreview">
            <div class="form-actions">
                <button type="submit" name='btn' value="Upload" class="btn btn-primary btn-large" />{{ _('Upload') }}</button>
            </div>
            </fieldset>
        </form>
        <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}">
            <fieldset>
                <h2>Your profile</h2>
            {{ form.id }}
            {{ form.hidden_tag() }}
            {{ render_field(form.fullname, placeholder= _('my full name') ) }}
            {{ render_field(form.name, placeholder= _('myusername') ) }}
            {{ render_field(form.email_addr, placeholder= _('hello@mywebsite.org') ) }}
            {{ render_field(form.locale) }}
            {{ render_field(form.privacy_mode) }}
            <div class="form-actions">
                <button type="submit" name='btn' value="Profile" class="btn btn-primary btn-large" />{{ _('Save the changes') }}</button>
              <a href="{{ url_for('account.update_profile', name=current_user.name) }}" class="btn">{{ _('Cancel') }}</a>
            </div>
            </fieldset>
        </form>
        <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}">
            <hr>
            <h2>External Services</h2>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {{ render_field(external_form.ckan_api) }}
            <div class="form-actions">
                <button type="submit" name='btn' value="External" class="btn btn-primary btn-large" />{{ _('Save the changes') }}</button>
              <a href="{{ url_for('account.update_profile', name=current_user.name) }}" class="btn">{{ _('Cancel') }}</a>
            </div>
            </fieldset>
        </form>
        <hr>
        <form class="form-horizontal" method="post" action="{{ url_for('account.reset_api_key', name=current_user.name)}}">
        <fieldset>
        <h3><strong>{{ _('Do you want to reset your personal API Key?') }}</strong></h3>
            <div class="form-actions">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <button type="submit" class="btn btn-small" value="Reset">Reset</button>
              <a href="{{ url_for('account.profile', name=current_user.name) }}" class="btn btn-large btn-primary">{{ _('No, do not reset the API key!') }}</a>
            </div>
        </fieldset>
        </form>
        <hr>
    </div>
</div>
<script language="Javascript">

    // Preview image before uploading
    function previewImage(){
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("avatar").files[0]);
        
        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
            var img = document.getElementById('uploadPreview'); 
            //or however you get a handle to the IMG
            var width = img.clientWidth;
            var height = img.clientHeight;
            if (width > height) {
                width = height - 100;
            }
            else {
                height = width - 100;
            }

            jQuery(function($) {
                $('#uploadPreview').Jcrop({
                    onSelect:    updateCoords,
                    onChange:    updateCoords,
                    bgColor:     'black',
                    bgOpacity:   .4,
                    minSize: [100, 100],
                    setSelect:   [  0, 
                                    0, 
                                    (width / 2), 
                                    (height/ 2)],
                    aspectRatio: 1,
					boxWidth: 450

                });
            });


        };
    }

    function updateCoords(c){
        $("#x1").val(Math.floor(c.x));
        $("#y1").val(Math.floor(c.y));
        $("#x2").val(Math.floor(c.x2));
        $("#y2").val(Math.floor(c.y2));
    }

</script>
{% endblock %}
