<section class="home about">
    <div class="container">
        <div class="col-md-8 about-us">
            <h2>Sobre nosotros</h2>
            <p>Señor Alérgeno es una plataforma creada por Scifabric y Soysuper, dos empresas tecnológicas unidas por los intolerantes en sus filas. Ejem, nos referimos a intolerancias a los alérgenos alimentarios, ¿eh?</p> 

            <p>Nuestro objetivo es clasificar productos que contienen alérgenos. Hemos empezado por detectar trigo (o trazas de trigo) para que los celíacos puedan tenerlo en cuenta a la hora de hacer la compra, pero pronto habrá más.</p>

            <p>Hay muchos productos que ya disponen de un sello que garantiza que son “gluten-free”, sin embargo hay otros que no dejan claro este punto.</p>

            <p>Tu colaboración es importante para clasificar aquellos productos en los que la ausencia de alérgenos no está clara al 100%. Así podremos pedir directamente a los productores que mejoren la información en sus etiquetas.</p>

            <p>Por cierto, esta es una información que compartimos libre y gratuitamente.</p>

            <p>Mil gracias por la ayuda.</p>

            <p>Aquí puedes encontrar más información sobre Scifabric y la creación de plataformas para investigación y enriquecimiento de datos.</p>

            <p>Y aquí puedes encontrar más información sobre Soysuper, el agregador de supermercados online.</p>
        </div>
        <div class="col-md-4 alergeno-companies">
            <img src="static/img/alergeno-with-companies.svg">

        </div>
    </div>
</section>
