<div class="row">
<div class="span11">
   <div class="col-md-offset-1 col-md-10" style="margin-top:30px;">
    <h1>{{ _('About') }}</h1>
    <p>
    {{ config.BRAND }} {{ _(' is a crowd-sourcing, open-source platform that enables people to contribute to the projects that utilise online assistance in performing tasks that require human cognition. Anyone around the world with an internet connection can contribute.') }}</p>
    <p>
    {{ _('The way') }} {{ config.BRAND }} {{ _('projects work is:') }}
    <ul>
        <li>{{ _("Qualified users contribute to the projects as per their convenience") }}</li>
        <li>{{ _('Upon login, users can contribute to the projects with the project credentials shared with them') }}</li>
        <li>{{ _('There would be multiple users working on similar task in a project') }}</li>
        <li>{{ _("Upon project completion, users will be credited for their efforts") }}</li>
    </ul>
    </p>
    <h1 id="contact">{{ _('Contact information') }}</h1>
    <ul>
        <li>{{ _('For more info, send us an e-mail to: ') }}<a href="mailto:{{ config.CONTACT_EMAIL }}">{{ config.CONTACT_EMAIL }}</a>
    </ul>
   </div>
</div>
</div>
