{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
<style>
    @media (max-width: 990px ) {
        .container {
            margin-top: 40px !important;
        }
    }

    a {
        color: #0b79e5;
    }

    a:hover {
        color: #0000cc;
        text-decoration: underline;
    }
</style>
<div class="container" style="margin: 0 auto;">
    <div class="col-xs-12" style="font-family: sans-serif;">

        <h2>WHY WE'RE LOOKING TO DECODE URGENT ACTIONS</h2>
        <br/>
        <p>Our Urgent Action campaigning protects people from torture, helps free men and women who are wrongly - and
            sometimes secretly - detained, and secures access to medical treatment or legal counsel for prisoners. It
            even saves lives.</p>

        <p>Since 1976 we have issued over 25,000 Urgent Actions and mobilised over 150,000 people to stand up against
            injustices. This campaigning is based on a very simple idea: when someone is in immediate danger of serious
            human rights abuse, those responsible receive thousands of letters, faxes and telegrams from all over the
            world demanding it to stop. This shows the authorities that the world is watching and has the potential to
            protect that person from further abuse.</p>

        <p>We are proud of the effectiveness of these campaigns, and now is the time to analyse the results and finds
            ways to be more effective in the future.</p>

        <p>With your contributions, we want to decode the result of Urgent Actions from the early &lsquo;70s to date.
            This will help us understand when and where our campaigning is more likely to be effective. Help us improve
            our this vital part of our campaigning for individuals, families or communities at risk by dedicating just
            15 minutes to reviewing these documents.</p>

        <p>For us, this is just the start of the journey. We believe that anyone with an internet connection and a drive
            to make a difference could contribute in real time to core human rights research. We are already planning
            future projects to document levels of destruction by analysing satellite imagery, to categorise and verify
            thousands of hours of video footage documenting the war in Syria, or even to alert international
            decision-makers about possible threats by monitoring hate speech on social media.</p>

        <p>Our vision is to inspire this new generation of tech-savvy activists to become human rights monitors and help
            document human rights violations using technology. We invite you to join us in this, and become an Amnesty
            Digital Decoder.</p>

        <p>This project was developed in collaboration with <a target="_blank" href="http://opendatakosovo.org">Open
            Data Kosovo</a>, <a target="_blank" href="http://focallabs.co.uk">Focal Labs</a> and <a
                href="http://www.theengineroom.org" target="_blank">the engine room</a>, with
            financial support from the <a target="_blank" href="https://www.postkodlotteriet.se">Swedish Postcode
                Lottery</a>.</p>
    </div>

</div>
<br><br>
{% endblock %}
