{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}

{% block content %}
      <div class="banner">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
              <h1>{{ brand }}</h1>
              {% include ['custom/front_page_text.html', 'home/_pybossa_text.html'] ignore missing %}
          </div>
          <div class="col-sm-6 col-md-6" >
            <ul class="featured" style="padding: 0">
                {% for f in categories_projects['featured'] %}
                <li><a href="{{ url_for('project.details', short_name=f.short_name)}}">
                    {{ helper.render_project_thumbnail(f, upload_method) }}
                    <h3>{{f.name}}</h3>
                    <span class="label label-info">{{ _('Info') }}</span>
                    </a>
                </li>
                {% endfor %}
                {% for number in range(21 - categories_projects['featured']|count) %}
                <li></li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <section class="grey get-started">
        <div class="row">
          <div class="col-md-3 col-xs-12" >
              <h2><i class="glyphicon glyphicon-play-circle"></i> {{ _('Get Started') }}</h2>
            <p>{{ _('It\'s really simple to start contributing.') }}</p>
          </div>
          <div class="col-md-8 col-xs-12 spand8">
              <a href="{{url_for('project.index')}}" class="btn btn-info btn-large"><i class="glyphicon glyphicon-ok-sign"></i>{{ _(' Start Contributing') }}</a> <a href="{{url_for('project.new')}}" class="btn btn-primary btn-large"><i class="glyphicon glyphicon-plus-sign"></i> {{ _('Create a Project') }}</a>
          </div>
      </section>
      
      <section>
        <h2><i class="glyphicon glyphicon-th"></i>{{ _('Most Active Projects') }}</h2>
        <div class="row">
          {% for project in top_projects %}
          <div class="col-md-3 col-xs-12">
            <div class="project box">
                {% if project.info.thumbnail %}
                <a href="{{url_for('project.details', short_name=project.short_name)}}" class="image" style="background-image:url({{helper.render_url_thumbnail(project, upload_method)}})"></a>
                {% else %}
                <a href="{{url_for('project.details', short_name=project.short_name)}}" class="image" style="background-image:url({{url_for('static',filename='img/placeholder.project.png')}})"></a>
                {% endif %}
                <h3>{{project.name | truncate(20, true)}}</h3>
                <p>{{project.description | truncate(32, true)}}</p>
                <p><a href="{{url_for('project.details',short_name=project.short_name)}}" class="btn  btn-info">Info</a> <a href="{{url_for('project.presenter',short_name=project.short_name)}}" class="btn  btn-primary">{{ _('Start') }}</a></p>
            </div>
          </div>
          {% endfor %}
          {% for i in range(4-top_projects|count)%}
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="project box">
                <a href="#" class="image" style="background-image:url({{url_for('static',filename='img/placeholder.project.png')}})"></a>
                <h3>{{ _('Your project') }}</h3>
                <p>{{ _('could be here!') }}</p>
                <p><a href="{{url_for('project.new')}}" class="btn  btn-primary">{{ _('Create a project') }}</a></p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      
      {% if top_users %}
      <br><br>
      <section id="top_users" class="grey col-xs-12">
        <h2><i class="glyphicon glyphicon-user"></i>{{ _('Most Active Volunteers') }}</h2>
        <ul class="users">
            {% for user in top_users %}
          <li>
          <a href="{{url_for('account.profile', name=user.name)}}" style="color: #000000 !important;" data-content="
                <strong>{{_('Joined')}}:</strong> {{user.created[0:10]}} 
                <strong>{{_('Joined')}}:</strong> {{user.created[0:10]}}
                <strong>{{_('Joined')}}:</strong> {{user.created[0:10]}}
                <br/>
                <strong>{{_('Submitted Tasks')}}:</strong> {{user.task_runs}}
                " rel="popover" data-original-title="<strong>{{user.fullname}}</strong>">
                {{ account_helper.render_user_thumbnail(user, upload_method, style="height:90px; width:90px;") }}
           </a>
           <span class="label label-success">{{user.score}}</span> <small>{{_('Tasks')}}</small>
          </li>
          {% endfor %}
        </ul>
      </section>
      {% endif %}
<script>
$("a[rel=popover]").popover({
        html: true,
        animation: true,
        trigger: 'hover',
        placement: 'top'
                });
</script>
{{ helper.broken_image() }}
{% endblock %}
