{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}
{% block content %}
<section class="home featured">
    <div class="jumbotron">
        <div class="container text-center firstfold">
            <h1>{{_('Welcome to ')}} {{brand}}</h1>
            <p>{{brand}} {{_("is a crowdsourcing platform that helps you leverage the power of dynamic groups of people (crowds) to create and augment datasets faster and more accurately than is possible using automated methods alone.")}}</p>
          </div>
    </div>
</section>
{% if current_user.is_authenticated %}
{% if historical_contributions %}
{{ helper.render_grid_projects(historical_contributions, 'Historical Contributions', upload_method, current_user, section_class='home projects', title_size='2') }}
{% endif %}
{% if featured %}
{{ helper.render_grid_projects(featured, 'Featured Projects', upload_method, current_user, section_class='home projects', readmore_text='Contribute', title_size='2') }}
{% endif %}
<section class="grey get-started">
    <div class="row text-center">
        </br></br></br>
        <div>
            <h2><i class="icon-play-circle"></i> {{ _('Get Started!') }}</h2>
            <p>{{ _('It\'s really simple to start using GIGwork') }}</p>
            <a href="{{ url_for('home.about') }}">{{ _('Read more about GIGwork') }}</a></br></br>
        </div>
        <div>
            <a href="{{url_for('project.index')}}" class="btn btn-info btn-large"><i class="icon-ok-sign"></i>{{ _(' Start Contributing') }}</a>
            {% if current_user.admin %}
            <a href="{{url_for('project.new')}}" class="btn btn-primary btn-large"><i class="icon-plus-sign"></i> {{ _('Create a Project') }}</a>
            <a href="{{ url_for('account.register') }}" class="btn btn-success btn-large"><i class="icon icon-white icon-user"></i>{{ _(' Create a new account!') }}</a></br></br></br></br></br>
            {% endif %}
        </div>
    </div>
    <br/>
    <br/>
</section>
{% endif %}

{% endblock %}
