@font-face{
font-family:"FrutigerLTW20-77BlackCn";
src:url("Fonts/FrutigerLTW20-77BlackCn.eot?#iefix");
src:url("Fonts/FrutigerLTW20-77BlackCn.eot?#iefix") format("eot"),url("Fonts/FrutigerLTW20-77BlackCn.woff") format("woff"),url("Fonts/FrutigerLTW20-77BlackCn.ttf") format("truetype"),url("Fonts/FrutigerLTW20-77BlackCn.svg#FrutigerLTW20-77BlackCn") format("svg");
}
