{% extends "account/email/base.html" %}

{% block subject %}
Your personal data files
{% endblock %}

{% block subtitle %}
Hi {{user.fullname}},
{% endblock %}

{% block body %}
<p>You have recently requested to export all the data that we have from you in our server.</p>

{% if personal_data_link %}
<p>In the following link, you will be able to download ZIP file that contains your personal data  (the link will be only valid for {{config.TTL_ZIP_SEC_FILES}} days).</p>

<ul>
    <li>Personal Data: {{personal_data_link}}</li>
</ul>
{% else %}
<p>Attached you will find a ZIP file that contains your personal data.</p>
{% endif %}

<p>Within the ZIP file you will find your data in JSON format. You can open those files with any text editor, as this format is an open standard.</p>

<p>If you want to get new updated versions of this file, just export again your data.</p>

<p>All the best,</p>

<p>{{ config.BRAND }} Team
{% endblock %}
