{% extends "account/email/base.html" %}

{% block subject %}
Your project has been inactive
{% endblock %}

{% block subtitle %}
Dear {{ project.owner.fullname }},
{% endblock %}

{% block body %}
<p>Your project {{ project.name }} has been inactive for the last 3 months. And we would like to inform you that if you need help with it, just contact us answering to this email.
</p>
<p>Otherwise, we will archive the project, removing it from the server. You have one month to upload any new tasks, add a new blog post, or engage new volunteers.
</p>
<p>If at the end the project is deleted, we will send you a ZIP file where you can download your project.
</p>
<p>All the best,
</p>
<p>{{ BRAND }} Team
</p>
{% endblock %}
