{% extends "account/email/base.html" %}

{% block subject %}
{{ _('Your project has been inactive') }}
{% endblock %}

{% block subtitle %}
{{ _('Dear') }} {{ project.owner.fullname }},
{% endblock %}

{% block body %}
<p>{{ _('Your project') }} {{ project.name }} {{ _('has been inactive for the last 3 months. And we would like to inform you that if you need help with it, just contact us answering to this email.') }}
</p>
<p>{{ _('Otherwise, we will archive the project, removing it from the server. You have one month to upload any new tasks, add a new blog post, or engage new volunteers.') }}
</p>
<p>{{ _('If at the end the project is deleted, we will send you a ZIP file where you can download your project.') }}
</p>
<p>{{ _('All the best') }},
</p>
<p>{{ BRAND }} {{ _('Team') }}
</p>
{% endblock %}
