<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_ganalytics_tagmanager_head.html' ignore missing %}
    <meta charset="utf-8">

    <meta id="user-ip" data-ip="{{ request.remote_addr }}">
    <meta id="user-id-num" data-id="{{ current_user.id }}">
    <meta id="user-id" data-name="{{ current_user.name }}">

    {% if brand == title %}
    <title>{{ title }} - Decode Darfur</title>
    {% else %}
    <title>{{ brand }} &middot; {{ title | safe}}</title>
    {% endif %}
    <meta name="description" content="Amnesty Decoders: The Amnesty International global network of digital volunteers.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Facebook meta tags-->
    {% include 'decodedarfur/_fb.html' ignore missing %}

    <!-- Twitter meta tags-->
    {% include 'decodedarfur/_tw.html' ignore missing %}

    <!-- Le styles -->
    <link href="{{url_for('static', filename='vendor/waitMe/waitMe.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/fonts/stylesheet.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/ua-styles.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/darfurimagerycomparison.css')}}" rel="stylesheet">
      <!--<link href="{{url_for('static', filename='css/decodedarfur.css')}}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/fav_icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/fav_icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/fav_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/fav_icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/fav_icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/fav_icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/fav_icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/fav_icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/fav_icons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/static/rrssb/css/rrssb.css" />
    <link rel="stylesheet" href="/static/css/amnesty-sso.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/fav_icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffff00" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Le javascript -->
    <script src="/static/vendor/jquery.js"></script>
    <script src="/static/vendor/waitMe/waitMe.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/modernizr.min.js')}}"></script>
    <script>
        window.settings = {
            'currentProject': '{{ config.get('CURRENT_PROJECT') }}'
        };
    </script>
    <script src="/static/js/pybossa-tutorial.js"></script>
    <script>
        window.amnestySSO = {
            'enabled': ('{{ config.get('AMNESTY_SSO_ENABLE') }}' == 'true'),
            'imServerUrl': '{{ config.get('AMNESTY_SSO_SERVER_URL') }}',
            'isAnonymous': '{{ current_user.is_anonymous() }}',
            'loginModalMode': '{{ request.args.get("modal") }}',
            'fallbackUrls': {
                'login': "{{ url_for('account.signin') }}?next={{ request.path }}",
                'register': "{{ url_for('account.register') }}?next={{ request.path }}"
            }
        }

        window.user = {
            'ip': '{{ request.remote_addr }}',
            'id': parseInt('{{ current_user.id }}'),
            'username': '{{ current_user.name }}',
            'score': parseInt('{{ user_score }}'),
            'isAnonymous': ('{{ current_user.is_anonymous() }}' == 'True')
        }
    </script>
    <script src="/static/js/amnesty-sso.js"></script>
    <script src="/static/rrssb/js/rrssb.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.rrssb-buttons').rrssb({
                title: "Join hundreds of digital volunteers helping us to decode Darfur.",
                url: "{{ config.get('HOST') }}",
                description: "Join hundreds of digital volunteers helping us to decode Darfur."
            });
            $(".controls input[type='checkbox']").each(function () {
                $(this).parent().css({
                    "float": "left",
                    "margin-top": "10px"
                });
                $(this).parent().parent().find(".control-label").css("margin", "10px 0 0 7px");
            });
        });
    </script>
  </head>

  <body id="mainBody">
    {% include '_ganalytics_tagmanager_body.html' ignore missing %}
    {% if not current_user.is_anonymous() %}
    <!-- checkpoint::logged-in::{{current_user.name}} -->
    {% endif %}


    {% set active_page = active_page | default('index') -%}
    {% set active_project  = active_project | default('none') -%}

    <!--Include custom nav bar for decode darfur-->
    {% include "darfurimagerycomparison/navbar.html" %}

    {% block subnavbarblock %}
    {% endblock %}

    <div>

        {% block content %}

        {% endblock %}

    </div> <!-- /container -->

    {% if show_cookies_warning %}
    <div id="cookies_warning">
        <p>Cookies help us deliver our services. By using our services, you agree to our use of cookies. <a target="_blank" href="https://www.amnesty.org/en/about-us/cookie-statement/" style="text-decoration: underline !important;">Learn more.</a> <button class="btn btn-sm btn-default" onclick="accept_cookies()" style="float: right; margin-right: 5%;text-transform:uppercase;font-weight: 300"></i> OK, Got it!</button></p>
    </div>
    {% endif %}
    <footer class="col-xs-12" >
         <div class="row" style="margin: 0 auto; text-align: center;">
            <ul class="social-icons-ul rrssb-buttons "
                style="margin: 0 auto !important; width: 150px !important; height: 70px !important; visibility: hidden !important;">
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ config.get('SHARE_URL') }}"
                       class="popup">
                        <i class="fa fa-facebook-square fa-2x fb-icon" aria-hidden="false"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/share?url={{ config.get('SHARE_URL')}}%2F&text=I%20just%20helped%20@AmnestyOnline%20document%20years%20of%20attacks%20and%20civilian%20suffering%20in%20%23Darfur.%20Will%20you%20help%20too%3F&"
                           class="popup">
                        <i class="fa fa-twitter fa-2x tw-icon" aria-hidden="false"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row" style="text-align: center; display: none;">
            <h3 style="margin-top: 5px;">PLEASE SHARE AND HELP RECRUIT YOUR FRIENDS</h3>
        </div>
        <div class="row">
            <div id="footer_links" class="container">
                <div class="row" style="font-family: sans-serif; font-size:11px; text-align: center; margin: 0 auto;">
                    <a target="_blank" href="https://decoders.amnesty.org/terms" style="color:white !important;">{{ _('Terms of
                        Use') }}</a><span style="padding: 10px">|</span>
                    <a target="_blank" href="https://www.amnesty.org/en/about-us/cookie-statement/" style="color:white !important;">{{
                        _('Cookies Policy') }}</a><span style="padding: 10px">|</span>
                    <a target="_blank" href="https://www.amnesty.org/en/" style="color:white !important;">{{
                        _('amnesty.org') }}</a>
                </div>
            </div>
        </div>
    </footer>

    {# csrf token used by ajax post request in javascript #}
    <input type="hidden" id="ajax_csrf_token" value="{{ csrf_token() }}" />

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/parallel-zoom.js"></script>
    <script>
    {% include 'cookies.js' %}
    </script>

    <!-- Kandle script-->
    {# <script src="https://kandle.org:1984/track"></script> #}
  </body>
</html>
