<div class="row sub-header-darfur-imagery-comparison black-background" id="sub-header-darfur-imagery-comparison-desktop" align="center">
    <div class="col-md-2 col-xs-2 dic-tasks-div pull-left">
        <div class="">
               <span class="i-span">
                   <span class="dic-rectangle">  <span class="dic-session-number black-text">1</span></span>
                   <span class="h5 dic-tasks-text white-text">
                       Tasks this session
                   </span>
               </span>
        </div>
    </div>

    <div class="col-md-8 col-xs-8 dic-message-div">
        <div>
            <span class="h5 dic-message-text white-text">
                COMPARE THE BEFORE AND AFTER IMAGES
            </span>
        </div>
    </div>

    <div class="col-md-2 col-xs-2 dic-key-div ">
        <div class="pull-right">
            <a href="#" class="h6" data-toggle="modal" data-target="#flagModal">
              <span class="i-span"><i class="glyphicon glyphicon-flag white-text"></i> 
                <span class="h5 dic-key-text white-text"> FLAG</span>
              </span>
            </a>        
            <a href="#" class="h6" data-toggle="modal" data-target="">
                <span class="i-span"><i class="glyphicon glyphicon-question-sign white-text">
                </i>
                    <span class="h5 dic-key-text white-text">
                        KEY
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>