{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}
{% import "applications/_helpers.html" as helper %}

{% block content %}
<div class="row">
    {% if blogpost %}
    <div class="span9" style="min-height:400px">
        <hr>
            <article>
                <header>{{ blogpost.title }}</header>
                <body>{{ blogpost.body | e | markdown }}</body>
            </article>
        <hr>
        {% if current_user.is_authenticated() and current_user.id == app.owner_id or current_user.admin %}
        <form class="form-horizontal" method="post" action="{{ url_for('app.delete_blogpost',
                                                        short_name=app.short_name,
                                                        id=blogpost.id) }}">
            <div class="form-actions">
                <input type="submit" value={{_('Delete')}} class="btn btn-danger" />
                <a href="{{url_for('app.update_blogpost', short_name=app.short_name, id=blogpost.id)}}" class="btn">{{_('Edit')}}</a>
            </div>
        </form>
        {% endif %}
        <a href="{{url_for('app.show_blogposts', short_name=app.short_name)}}" class="btn">{{_('Back')}}</a>
    </div>
    {% else %}
    <div class="page-header">
        <h1>{{ _('Sorry! This blogpost does not exist.') }}</h1>
        <a href="{{url_for('app.show_blogposts', short_name=app.short_name)}}" class="btn">{{_('Back')}}</a>
    </div>
    {% endif %}
</div>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
