{% extends "/base.html" %}
{% set active_page = "applications" %}
{% import "applications/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<script src="{{url_for('static', filename='js/vendor/jquery.Jcrop.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.Jcrop.min.css')}}" type="text/css" />
<div class="row">
    <div class="span3">
        {{ helper.render_app_local_nav(app, 'settings', current_user) }}
    </div>
  <div class="span9">
      <legend><strong>{{app.name}}</strong>: Update the project</legend>
      <!-- Update form for project thumbnail -->
      <form method="post" class="form-horizontal" action="{{ url_for('app.update', short_name=app.short_name) }}" enctype="multipart/form-data">
          <fieldset>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <div>
              {{ helper.render_app_thumbnail(app, upload_method, id="uploadPreview") }}
              </div>
              {{ render_field(upload_form.avatar, onchange="previewImage()") }}
              {{ upload_form.x1 }}
              {{ upload_form.y1 }}
              {{ upload_form.x2 }}
              {{ upload_form.y2 }}
          <div class="form-actions">
            <input type="submit" name='btn' value="{{ _('Upload') }}" class="btn btn-primary btn-large" />
          </div>
          </fieldset>
      </form>

      <!-- Update form for project data-->
    <form class="form-horizontal" method="post" action="{{ url_for('app.update', short_name = app.short_name) }}">
      <fieldset>
        {{ form.hidden_tag() }}
        {{ render_field(form.name, class_="input-xlarge", placeholder=_('The name of the project')) }}
        {{ render_field(form.short_name, class_="input-xlarge", placeholder=_('Short name or slug for the project'), label_text=_('Project slug:')) }}
        {{ render_field(form.description, class_="input-xlarge", placeholder=_('Give some details about the project')) }}
        {{ render_field(form.long_description, class_="input-xlarge", placeholder=_('Explain the project (use Markdown!)')) }}
        {{ render_field(form.category_id) }}
        {{ render_field(form.allow_anonymous_contributors) }}
        {{ render_field(form.password) }}
        {{ render_field(form.hidden, tooltip=_('Do you want to hide your project?')) }}
        <div class="form-actions">
          <input type="submit" value="Save the changes" class="btn btn-primary" />
          <a href="{{url_for('app.settings', short_name=app.short_name)}}" class="btn">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<script>
    $("i[rel='tooltip']").tooltip();
</script>
<script src="{{url_for('static', filename='js/image_crop.js')}}" type="text/javascript"></script>
{{ helper.broken_image() }}
{% endblock %}
