.h1 {
    font-size: 49px;
    font-weight: 400;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h2 {
    font-size: 38px;
    font-weight: 400;
    font-family: AmnestyTradeGothicW04BdCnNo-20, TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h3 {
    font-size: 28px;
    font-weight: 400;
    font-family: AmnestyTradeGothicW01BdCnNo-20, TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h4 {
    font-size: 23px;
    font-weight: 400;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h5 {
    font-size: 21px;
    font-weight: 400;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h6 {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: AmnestyTradeGothicW01BdCnNo-20, TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h1--caps {
    font-size: 49px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h2--caps {
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h3--caps {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h4--caps {
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h5--caps {
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

.h6--caps {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1
}

/** Primary yellow button **/
.btn-primary--md--fullwidth {
    font-weight: 400;
    text-transform: uppercase;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 10px 10px;
    text-decoration: none;
    -webkit-transition: background-color .25s, border-color .25s, color .25s;
    transition: background-color .25s, border-color .25s, color .25s;
    white-space: nowrap;
    background-color: #ff0;
    border: 1px solid #ff0;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 100%
}

.btn-primary--md--fullwidth:hover {
    background-color: #ffd500;
    border-color: #ffd500
}

/** Secondary back button **/
.btn-secondary--alt--md--fullwidth {
    font-weight: 400;
    text-transform: uppercase;
    font-family: AmnestyTradeGothicW04BdCnNo-20, TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 10px 10px;
    text-decoration: none;
    -webkit-transition: background-color .25s, border-color .25s, color .25s;
    transition: background-color .25s, border-color .25s, color .25s;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 100%
}

.btn-secondary--alt--md--fullwidth:hover {
    background-color: #363636
}


/** Secondary white button without borders **/
.btn-secondary--md--fullwidth {
    font-weight: 400;
    text-transform: uppercase;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 10px 10px;
    text-decoration: none;
    -webkit-transition: background-color .25s, border-color .25s, color .25s;
    transition: background-color .25s, border-color .25s, color .25s;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 100%
}

.btn-secondary--md--fullwidth:hover {
    background-color: #dadada
}

.btn-secondary--on-black--md--fullwidth {
    font-weight: 400;
    text-transform: uppercase;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.1;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 10px 17px;
    text-decoration: none;
    -webkit-transition: background-color .25s, border-color .25s, color .25s;
    transition: background-color .25s, border-color .25s, color .25s;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 100%
}

.btn-secondary--on-black--md--fullwidth:hover {
    background-color: #dadada;
    border-color: #dadada
}

.popover{
    background: black;
    color: white;
    font-family: HelveticaNeue;
    font-size: 14px;
}

.popover-content a{
    font-size: 10px;
    color: white !important;
    text-decoration: underline !important;
}

.popover.right > .arrow:after
{
    border-right-color: #000
}

.popover.top > .arrow:after
{
    border-top-color: #000
}

.popover.left > .arrow:after
{
    border-left-color: #000
}

.popover.bottom > .arrow:after {
    border-bottom-color: #000;
}