.scroll {
  overflow-x: hidden;
  max-height: 600px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

/* Labels */
.label-tip {
  font-style: italic;
  font-weight: 400;
  font-size: smaller;
}
.block-label {
  color: black;
  font-size: 16px;
  font-weight: 400;
  display: block;
}
.col-labels {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

/* Error & Warning */
.danger-validation {
  border-color: #d9534f;
}
.danger-validation-text {
  color: #d9534f;
}

/* Buttons */
.btn-times-delete {
  color: #d9534f;
}
.btn-times-delete:hover {
  color: #d9534f;
}