/** CONTAINERS **/
.container{
  width: 100%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.desktop-container{
  background-color: #E5E5E5;
  min-height: 340px;
}

.desktop-container .tiles-container{
  max-width: 1080px;
  float: none;
}

.mobile-container{
  max-width: 800px;
  min-height: 320pxpx;
}

.tablet-container{
  max-width: 992px;
  min-height: 320px;
}

/** NO PADDING **/
.no-padding{
  padding: 0px;
}

/** HEADER  **/
.subheader-container,
.navbar-task-subheader{
  padding-top: 20px;
  padding-bottom: 20px;
}

.subheader-container,
.navbar-task-subheader-text{
  text-align: center;
}

.select-message{
  font-size: 16px;
}

.tap-message{
  font-size: 14px;
}

.swipe-message{
  font-size: 12px;
}
#images , #mobileCarousel, #tabletCarousel{
  background: #2ECC71;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
#mobileCarousel {
  width: auto;
  min-height: 260px;
}

#tabletCarousel {
  width: 700px;
  height: 465px;
}


.tablet-row.col-xs-4{
  padding-left: 0px;
  padding-right: 0px;
}
.mobile-container , .tablet-container{
  background-color: #E5E5E5;
}
.container {
  padding-right: 0px;
  padding-left: 0px;
}
a{
  color: black !important;
  text-decoration: none !important;
}

@media only screen and (min-width: 500px) and (max-height: 768px) {
#mobileCarousel {
    width: 512px;
    height: 512px;
}

}

/** CONTINUE BUTTONS **/
.continue-button-container{
  padding-left: 40px;
}

.continue{
  background-color: hsl(160, 0%, 18%) !important;
  color: #fff !important;
  border-radius: 0 !important;
  height: 47px;
  padding-top: 10px;
  margin-left: -40px;
  display: block;
  visibility: visible ;
  width: 500px;
  font-size: 16px;
}

.modal-progress-message .continue{
  margin-left: 0px;
  width:220px;
}

.continue:hover{
  border-color: #2d2d2d #2d2d2d hsl(160, 0%, 14%);
}


/** PROGRESS TRACKER **/
.progress-tracker{
  padding-top: 20px;
  padding-bottom: 20px;
}

p.progress-tracker-label {
    margin: 0 0 -2px;
    color:#ccc;
}

.progress-tracker-statistics{
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius:3px;
  box-shadow: 0px 2px 4px #ccc, 0px 0px 0px #ccc, 0px 1px 1px gray;
}

.progress-tracker-number {
    font-weight: bold;
}
.progress-tracker-number {
    font-weight: bold;
}

.progress-modal-message{
    font-size: 14px;
}

.right-angle-arrow {
	display: inline-block;
	position: relative;
}
.right-angle-arrow:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-top: 50px solid darkcyan;
	border-right: 50px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 0 solid transparent;
}
.popupArea {
    background-color: yellow;
    position: absolute;
    top: 0px;
    left: 0px;

}

/** SELECTION TRIANGLE **/
.tile-triangle-div .triangle-topleft {
   width: 0;
   height: 0;
   border-top: 38px solid #2ecc71;
   border-right: 38px solid transparent;
   position: absolute;
   top: 1px;
   margin-left: 1px;
   display: none;
}
@-moz-document url-prefix() {
  .desktop-container .tile-triangle-div .triangle-topleft {
        margin-left: -16.58%;
    }
  .tablet-container .tile-triangle-div .triangle-topleft  {
        margin-left: -33.2%;
    }
  .mobile-container .tile-triangle-div .triangle-topleft  {
        margin-left: -49.8%;
    }
}

.triangle-top-left-show {
   z-index: 999;
   display: inline !important;
}

.tile-triangle-div{
  position: relative;
}

.glyphicon-ok-sign{
  top: -33px !important;
  left: 3px;
  color: black;
  font-size: 14px;
}
/* Great sign*/
.feedback {
 display: block;
 padding-top: 30px;
}
.feedback-text {
  background-color:rgba(16,16,16,0.5);
  color: white;
  display: inline;
  margin-left: 75px;
  padding: 0.9rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-size: 20px;
}
.w3-animate-fading{
  -webkit-animation: fading 10s 1 !important;
  animation: fading 10s 1 !important;

}
/** CAROUSEL **/
.carousel{
  interval: false;
}

.carousel-control.left,
.carousel-control.right{
  background: none;
}

.carousel-inner > .item {
  -webkit-transition: 0.3s ease-in-out left;
  transition: 0.3s ease-in-out left;
  -webkit-transition: 0.3s, ease-in-out, left;
  -moz-transition: .3s, ease-in-out, left;
  -o-transition: .3s, ease-in-out, left;
  transition: .3s, ease-in-out, left;
}

#images img, #mobileCarousel img, #tabletCarousel img{
  padding: 0;
  object-fit: cover;
  overflow: hidden;
  background-size: cover;
}

#images img:hover, #mobileCarousel img:hover, #tabletCarousel img:hover{
  cursor: pointer;
}

.selected{
  border: 1px solid white;
  opacity: 0.8;
}

.imgborder{
  border: 1px solid white;
}

.crsl-img{
  max-height: 256px;
  max-width: 256px;
}

/** MODALS **/
.modal-body{
  min-height: 200px;
}

/** OTHER **/

.right-devide-line{
  border-right: 1px solid #ccc;
  height: 60px;
}

.size{
  width:150px;
  height:450px;
}

.flag-mobile{
  display: none;
}

.swipe-message, .tap-message{
  display: none;
}

.next-task-error, .look-task-again{
  padding-top: 10px !important;
  min-width: 100px;
}

.mobile-flag-sign{
  padding-top: 10px;
  font-size: 14px;
}

/* Key modal */
.key-img {
  max-height: 160px;
  width: 166px;
}
#keyModalMobileTablet .key-img{
  border: 3px solid white;
}
.key-modal-header {
  padding: 10px;
  border-bottom: none;
}

.features{
  padding-bottom: 10px;
  margin-top: -30px;
}

.features-glyphicon{
  font-style: italic !important;
  padding-right: 5px;
}
.tooltip{
  top: -5px !important;
  width: 120px;
}
.tooltip-inner{
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.features-easily-confused{
  padding-top: 45px;
}
.features-confused , .features-ok{
  font-size: 11px;
  letter-spacing: 0.3px
}
#keyModalMobileTablet .key-img-div {
  margin-right: -30px;
}
#keyModal .key-img-div{
  margin-right: -15px;
}
/** MOBILE MEDIA QUERY (320px to 768px) **/
@media only screen and (min-width: 320px) {

  /** Stuff to hide **/
  #top-btn,
  .navbar-header,
  .subheader-container,
  .desktop-container,
  .tablet-container,
  .continue-button-container,
  .select-message,
  .subheader-flag-container{
    display: none;
  }

  #prev-arrow{
      visibility: hidden;
  }

  /** Stuff to show **/
  .mobile-container,
  .swipe-message,
  .tap-message,
  .mobile-flag-container{
    display: block;
  }

  /** Overwrite navbar toggle styling, because we are displaying a different one **/
  .subheader-navbar-button-container .navbar-toggle{
      float: none;
      margin: 0 0 0 0;
      padding: 9px 10px;
  }

  /** Flag **/
  .help, .flag{
    visibility: hidden;
  }

  /** Carousel **/
  .carousel-indicators {
      bottom: -40px;
  }

  .carousel-indicators li {
    background-color: #999;
    background-color: rgba(70,70,70,.25);
  }

  .carousel-indicators .active{
    background-color: black;
  }

  /** Progress Tracker **/
  .progress-tracker{
    visibility: hidden;
    padding: 0px;
  }

  .progress-tracker-statistics{
    visibility: visible;
    top:0px;left:0px;
  }

  .progress-tracker-middle-div{
    padding-top: 0px;
  }

  .progress-tracker-statistics{
    padding-top: 5px;
    padding-bottom: 20px;
    border:0px;
    box-shadow: none;
  }

  .progress-tracker-number{
    font-size: 22px;
  }

  .progress-tracker-label{
    font-size: 12px !important;
  }
  /** Feedback message **/
  .great-text , .super-text{
    margin-left: 60px;
  }
  .awesome-text {
    margin-left: 45px;
  }
  .feedback{
    padding-top: 25px;
  }
  /*Key modal*/
  .key-div-first{
    margin-left: 15px;
  }
  .key-sign{
    font-size: 17px;
  }
}
/** Feedback message on mobile devices 400px to 500px **/
@media only screen and (min-width: 400px) and (max-height: 500px) {
  /** Feedback message **/
  .great-text , .super-text{
    margin-left: 80px;
  }
  .awesome-text {
    margin-left: 65px;
  }
  .feedback{
    padding-top: 40px ;
  }
}

/** Feedback message on mobile devices 500px to 768 **/
@media only screen and (min-width: 500px) and (max-height: 768px) {
  /** Feedback message **/
  .great-text , .super-text{
    margin-left: 90px;
  }
  .awesome-text {
    margin-left: 75px;
  }
  .feedback{
    padding-top: 50px ;
  }
}

/** TABLET MEDIA QUERY (768px to 900px) **/
@media only screen and (min-width: 768px) {

  /** Stuff to hide **/
  #top-btn,
  .navbar-header,
  .subheader-container,
  .desktop-container,
  .mobile-container,
  .continue-button-container,
  .select-message,
  .mobile-flag-container{
    display: none;
  }

  #prev-arrow{
    visibility: hidden;
  }
  .help{
    visibility: visible;
  }

  /** Stuff to show **/
  .tablet-container,
  .swipe-message,
  .tap-message,
  .subheader-flag-container{
    display: block;
  }

  /** Overwrite navbar toggle styling, because we are displaying a different one **/
  .subheader-navbar-button-container .navbar-toggle{
    float: none;
    margin: 0 0 0 0;
    padding: 9px 10px;
  }

  /** Progress Tracker **/
  .progress-tracker-number {
    font-size: 40px;
  }

  .progress-tracker-label {
    font-size: 14px;
  }
  /** Feedback message **/
  .great-text , .super-text{
    margin-left: 85px;
  }
  .awesome-text {
    margin-left: 70px;
  }
  .feedback{
    padding-top: 50px !important;
  }
  /* Key  sign*/
  .key-sign{
    font-size: 14px;
  }
}

/** DESKTOP MEDIA QUERY (992px+) **/
@media only screen and (min-width: 992px){

  .container{
    margin: 0px;
    padding: 0px;
  }
  /** Stuff to hide **/
  .navbar-task-subheader,
  .mobile-container,
  .tablet-container,
  .swipe-message,
  .tap-message,
  .mobile-flag-container{
    display: none;
  }

  /** Stuff to show **/
  #top-btn,
  .navbar-header,
  .subheader-container,
  .desktop-container,
  .continue-button-container,
  .select-message,
  .subheader-flag-container{
    display: block;
  }
  .help{
    visibility: visible;
  }

  /** Progress Tracker **/
  .progress-tracker-number {
    font-size: 40px;
  }

  .progress-tracker-label {
    font-size: 14px;
  }
  /** Feedback message **/
  .great-text , .super-text{
    margin-left: 58px;
  }
  .awesome-text {
    margin-left: 43px;
  }
  .feedback{
    padding-top: 25px !important;
  }
  .progress-tracker-statistics{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius:3px;
    box-shadow: 0px 2px 4px #ccc, 0px 0px 0px #ccc, 0px 1px 1px gray;
    background-color: white; 
  }
  .div-progress-tracker{
    background-image: linear-gradient(bottom, #E5E5E5 57%,white 50%);
    background-image: -o-linear-gradient(bottom, #E5E5E5 57%, white 50%);
    background-image: -moz-linear-gradient(bottom, #E5E5E5 57%, white 50%);
    background-image: -webkit-linear-gradient(bottom, #E5E5E5 57%, white 50%);
    background-image: -ms-linear-gradient(bottom, #E5E5E5 57%, white 50%);
  }
}

@media (min-width: 1199px){
  body .container {
    margin-bottom: auto !important;
    padding-bottom: 0 !important;
  } 
}
