/** CONTAINERS **/
.container{
  width: 100%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.desktop-container{
  background-color: #E5E5E5;
  min-height: 340px;
}

.desktop-container .tiles-container{
  max-width: 1080px;
  float: none;
}

.mobile-container{
  max-width: 800px;
  min-height: 320pxpx;
}

.tablet-container{
  max-width: 992px;
  min-height: 320px;
}

/** NO PADDING **/
.no-padding{
  padding: 0px;
}

/** HEADER  **/
.subheader-container,
.navbar-task-subheader{
  padding-top: 20px;
  padding-bottom: 20px;
}

.subheader-container,
.navbar-task-subheader-text{
  text-align: center;
}

.select-message{
  font-size: 16px;
}

.tap-message{
  font-size: 14px;
}

.swipe-message{
  font-size: 12px;
}
#images , #mobileCarousel, #tabletCarousel{
  background: green;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
#mobileCarousel {
  width: auto;
  min-height: 260px;
}

#tabletCarousel {
  width: 700px;
  height: 465px;
}


.tablet-row.col-xs-4{
  padding-left: 0px;
  padding-right: 0px;
}
.mobile-container , .tablet-container{
  background-color: #E5E5E5;
}
.container {
  padding-right: 0px;
  padding-left: 0px;
}

@media only screen and (min-width: 500px) and (max-height: 768px) {
#mobileCarousel {
    width: 512px;
    height: 512px;
}

}

/** CONTINUE BUTTONS **/
.continue-button-container{
  padding-left: 40px;
}

.continue{
  background-color: hsl(160, 0%, 18%) !important;
  color: #fff !important;
  border-radius: 0 !important;
  height: 47px;
  padding-top: 10px;
  margin-left: -40px;
  display: block;
  visibility: visible ;
  width: 500px;
  font-size: 16px;
}

.modal-progress-message .continue{
  margin-left: 0px;
  width:220px;
}

.continue:hover{
  border-color: #2d2d2d #2d2d2d hsl(160, 0%, 14%);
}


/** PROGRESS TRACKER **/
.progress-tracker{
  padding-top: 20px;
  padding-bottom: 20px;
}

p.progress-tracker-label {
    margin: 0 0 -2px;
    color:#ccc;
}

.progress-tracker-statistics{
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius:3px;
  box-shadow: 0px 2px 4px #ccc, 0px 0px 0px #ccc, 0px 1px 1px gray;
}

.progress-tracker-number {
    font-weight: bold;
}
.progress-tracker-number {
    font-weight: bold;
}

.progress-modal-message{
    font-size: 14px;
}

.right-angle-arrow {
	display: inline-block;
	position: relative;
}
.right-angle-arrow:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-top: 50px solid darkcyan;
	border-right: 50px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 0 solid transparent;
}

/** SELECTION TRIANGLE **/
.triangle-topleft
{
   width: 0;
   height: 0;
   border-top: 35px solid #2ecc71;
   border-right: 35px solid transparent;
   z-index:2;
   position: absolute;
   top : 0px;
   left:0px;
   display: none;
}

.selected-triangle-span{
  display: none;
}

.tile-selec{
  position : relative;
}

.glyphicon-ok-sign{
    top: -30px;
    left:3px;
    color: black;
}


/** CAROUSEL **/
.carousel{
  interval: false;
}

.carousel-control.left,
.carousel-control.right{
  background: none;
}

.carousel-inner > .item {
  -webkit-transition: 0.3s ease-in-out left;
  transition: 0.3s ease-in-out left;
  -webkit-transition: 0.3s, ease-in-out, left;
  -moz-transition: .3s, ease-in-out, left;
  -o-transition: .3s, ease-in-out, left;
  transition: .3s, ease-in-out, left;
}

#images img, #mobileCarousel img, #tabletCarousel img{
  padding: 0;
  object-fit: cover;
  overflow: hidden;
  background-size: cover;
  min-height: 100% !important;
  height:100% !important;
}

#images img:hover, #mobileCarousel img:hover, #tabletCarousel img:hover{
  cursor: pointer;
}

.selected{
  border: 1px solid white;
  opacity: 0.8;
}

.imgborder{
  border: 1px solid white;
}

.crsl-img{
  max-height: 256px;
  max-width: 256px;
}

/** MODALS **/
.modal-body{
  min-height: 200px;
}

/** OTHER **/

.right-devide-line{
  border-right: 1px solid #ccc;
  height: 60px;
}

.size{
  width:150px;
  height:450px;
}

.flag-mobile{
  display: none;
}

.swipe-message, .tap-message{
  display: none;
}

.next-task-error, .look-task-again{
  padding-top: 10px !important;
  min-width: 100px;
}

.mobile-flag-sign{
  padding-top: 10px;
  font-size: 14px;
}

/** MOBILE MEDIA QUERY (320px to 768px) **/
@media only screen and (min-width: 320px) {

  /** Stuff to hide **/
  #top-btn,
  .navbar-header,
  .subheader-container,
  .desktop-container,
  .tablet-container,
  .continue-button-container,
  .select-message,
  .subheader-flag-container .mobile-flag-text{
    display: none;
  }

  #prev-arrow{
      visibility: hidden;
  }

  /** Stuff to show **/
  .mobile-container,
  .swipe-message,
  .tap-message,
  .mobile-flag-container{
    display: block;
  }

  /** Overwrite navbar toggle styling, because we are displaying a different one **/
  .subheader-navbar-button-container .navbar-toggle{
      float: none;
      margin: 0 0 0 0;
      padding: 9px 10px;
  }

  /** Flag **/
  .help, .flag{
    visibility: hidden;
  }

  /** Carousel **/
  .carousel-indicators {
      bottom: -40px;
  }

  .carousel-indicators li {
    background-color: #999;
    background-color: rgba(70,70,70,.25);
  }

  .carousel-indicators .active{
    background-color: black;
  }

  /** Progress Tracker **/
  .progress-tracker{
    visibility: hidden;
    padding: 0px;
  }

  .progress-tracker-statistics{
    visibility: visible;
    top:0px;left:0px;
  }

  .progress-tracker-middle-div{
    padding-top: 0px;
  }

  .progress-tracker-statistics{
    padding-top: 5px;
    padding-bottom: 20px;
    border:0px;
    box-shadow: none;
  }

  .progress-tracker-number{
      font-size: 22px;
  }

  .progress-tracker-label{
      font-size: 12px !important;
  }
}

/** TABLET MEDIA QUERY (768px to 900px) **/
@media only screen and (min-width: 768px) {

  /** Stuff to hide **/
  #top-btn,
  .navbar-header,
  .subheader-container,
  .desktop-container,
  .mobile-container,
  .continue-button-container,
  .select-message,
  .mobile-flag-container{
    display: none;
  }

  #prev-arrow{
    visibility: hidden;
  }

  /** Stuff to show **/
  .tablet-container,
  .swipe-message,
  .tap-message,
  .subheader-flag-container{
    display: block;
  }

  /** Overwrite navbar toggle styling, because we are displaying a different one **/
  .subheader-navbar-button-container .navbar-toggle{
      float: none;
      margin: 0 0 0 0;
      padding: 9px 10px;
  }

  /** Progress Tracker **/
  .progress-tracker-number {
      font-size: 40px;
  }

  .progress-tracker-label {
      font-size: 14px;
  }

}

/** DESKTOP MEDIA QUERY (992px+) **/
@media only screen and (min-width: 992px){

  .container{
      margin: 0px;
  padding: 0px;
  }
  /** Stuff to hide **/
  .navbar-task-subheader,
  .mobile-container,
  .tablet-container,
  .swipe-message,
  .tap-message,
  .mobile-flag-container{
    display: none;
  }

  /** Stuff to show **/
  #top-btn,
  .navbar-header,
  .subheader-container,
  .desktop-container,
  .continue-button-container,
  .select-message,
  .subheader-flag-container{
    display: block;
  }

  /** Progress Tracker **/
  .progress-tracker-number {
      font-size: 40px;
  }

  .progress-tracker-label {
      font-size: 14px;
  }
}