#btn-contribute-now.btn-contribute-now-unpublished>a.btn:last-child {
    margin-left: 2px;
}

.note-editor .modal-content {
    padding: 12px;
}

.note-editor .modal-footer {
    padding-bottom: 2px;
    padding-right: 0;
}
