#tasksGrid th.sort-desc:after,
#tasksGrid th.sort-asc:after{
    content: '';
    position: relative;
    float: right;
    border: 7px solid transparent;
}
#tasksGrid th.sort-desc:after{
    top: 10px;
    border-top-color: silver;
}
#tasksGrid th.sort-asc:after{
    border-bottom-color: silver;
}
#tasksBrowseControls {
    padding-left:0;
}
#tasksBrowseControls>ul {
    list-style: none;
    padding-left: 0;
}
#tasksBrowseControls>ul>li {
    float:right;
    padding-left: 5px;
}
#tasksGrid th.sortable {
    cursor: pointer;
    padding-left: 5px;
}
#tasksGrid .gold-task {
    display: block;
    margin: 0 0.25rem;
}
#tasksGrid th {
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
}
#tasksGrid thead tr:nth-child(2) th {
    background-color: #fafafa;
    padding: 4px 4px 4px 4px;
}
#tasksGrid thead tr:nth-child(2) th div {
    max-height: 26px;
}
#tasksGrid thead tr:nth-child(2) th input,
#tasksGrid thead tr:nth-child(2) th button,
#tasksGrid thead tr:nth-child(2) th .input-group-addon,
#tasksGrid thead tr:nth-child(2) th .btn-sm,
#tasksGrid thead tr:nth-child(2) th .slider-handle,
#tasksGrid thead tr:nth-child(2) th select {
    max-height: 26px;
    padding: 4px 4px 4px 4px;
}
#tasksGrid thead tr:nth-child(2) th select {
    padding: 0 0 0 4px;
    width: 102px;
}
#tasksGrid thead tr:nth-child(2) th .btn-sm {
    padding: 2px 10px 6px 10px;
    width: 92px;
}
#tasksGrid .make-gold-cell a {
    text-decoration: none;
}
#tasksGrid thead tr:nth-child(2) th .slider-handle {
    max-height: 14px;
    max-width: 14px;
}
#tasksGrid thead tr:nth-child(2) th .slider .tooltip.top {
    top: -4px !important;
    font-size: 12px;
}
#tasksGrid th, td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#tasksGrid th {
    padding: 8px 4px 8px 4px;
}
#tasksGrid td {
    padding: 0 10px 0 5px;
}
#tasksGrid.border td, #tasksGrid.border th {
    border-right: 1px solid #ccc;
}
#tasksGrid thead tr th:hover {
    color: #3498db;
}
#date_from {
    z-index: 1051;
}
#date_to {
    z-index: 1051;
}
#context-menu {
    position: absolute;
    display:none;
}
#taskGrid tbody > tr:hover{
    background-color: #ffff99;
}
.selected {
    background-color: #ffff99;
}
#tasksBrowseControls button{
    width:55px;
}

.overlay {
    display: none;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2000;
    text-align: center;
}

.spinner {
    color: #fff;
    position:relative;
    top:40%;
    font-size: 32px;
}

.task-pagination {
    font-size: 12px;
    margin-bottom: 3px;
    color: #606060;
}

.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    padding: 0;
}

.make-gold-cell {
    width: 104px;
    margin-top: 4px;
}

#tasksBrowseControls>ul>li:last-child {
    padding-left: 0;
}

#edit-tasks .dropdown-menu {
    z-index: 1100;
}