body {
    color: #ffffff;
}

#header-content {
    background-color: #000000;
    height: 80px;
    padding: 0;
    color: #fff;
}

.navbar {
    background-color: #000000;
    height: 79px !important;
    border-radius: 0 !important;
}

.divider {
    border: 1px dashed #333333;
    margin-left: 10px;
}

.right-nav {
    padding: 0 30px 0 10px;
    height: 80px;
    margin-top: -8px;
}

#menu {
    padding: 0 30px 0 10px;
}

#menu li a {
    font-size: 11px;
}

img {
    margin: 0 auto;
    height: 100%;
    width: 200px;
}

.rectangle-speech-border {
    position: relative;
    padding: 50px 15px;
    margin: 1em 0 3em;
    border: 10px solid #333333;
    text-align: center;
    color: #333;
    background: #333333;
    /* css3 */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.rectangle-speech-border:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -21px;
    left: 20px;
    width: 40px;
    height: 20px;
    border-style: solid;
    border-width: 0 7px 7px 0;
    border-color: #333333;
    background: transparent;
    /* css3 */
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
    /* reduce the damage in FF3.0 */
    display: block;
}

/* creates smaller curve */
.rectangle-speech-border:after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -21px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 0 7px 7px 0;
    border-color: #333333;
    background: transparent;
    /* css3 */
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 40px 50px;
    /* reduce the damage in FF3.0 */
    display: block;
}

.collapse ul li a:hover, .collapse ul li a:focus {
    background-color: #FFFF00 !important;
    color: #000000 !important;
}

.collapse {
    background-color: #000000 !important;
    font-weight: bold;
}

.navbar-toggle {
    margin-top: 20px;
}

.admin-menu a {
    font-size: 10px !important;
}

.hr {
    display: block;
    height: 3px;
    border: 0;
    background: #000000;
    border-top: 1px solid #000000;
    padding: 0;
}

.Q1 {
    height: 120px;
}

.Q2 {
    height: 120px;
}

.sub-header-container {
    padding: 5px 0 15px 0;
    overflow: hidden;
    background-color: #5B5B5B;
}

.individuals-container {
    overflow: hidden;
}

.one-person {
    float: left;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
}

.detailed-information {
    padding: 0 10px 5px 10px;
    width: 290px;
    height: 145px;
    float: left;
}

.left-back-arrow, .right-back-arrow {
    float: left;
    width: 35px;
    height: 50px;
    margin: 45px 0 0 10px;
    cursor: pointer;
}

.left-arrow {
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url("/static/img/back_arrow_hover.png") no-repeat;
}

.right-arrow {
    margin-top: -20px;
    width: 100%;
    height: 100%;
    background: url("/static/img/forward_arrow_hover.png") no-repeat;
}

.individual-outcome {
    float: left;
    height: 50px;
    width: 75px;
    margin-left: 11px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    padding-top: 17px;
}

.speach-bubble-container {
    text-align: center;
    padding-top: 20px;
    height: 79px;
    width: 71px;
    margin: 0 auto;
}

.speach-bubble-container img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.one-person:hover, .more-persons:hover {
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    background-color: #B6B6B6;
    color: #000;
}

.individual-outcome:hover {
    cursor: pointer;
    color: #000;
    font-weight: 900;
    background-color: #B6B6B6;
}

.one-person:focus, .more-persons:focus {
    cursor: pointer;
    font-weight: bolder;
    background-color: #ffff00;
    color: #000;
}

.one-person h1, .more-persons h1 {
    font-weight: bolder;
    margin-top: 10px;
}

.more-persons {
    float: left;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
}

.select-persons {
    margin-left: -5px;
    height: 50px;
    width: 215px;
    border: 2px solid white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.back-arrow-container:hover {
    cursor: pointer;
    background-image: url("/static/img/back_arrow_hover.png");
}

.back-arrow-container {
    margin: 0 auto;
    background-image: url("/static/img/back_arrow.png");
    width: 29px;
    height: 50px;
}

.popup-header a {
    float: right;
    color: #fff;
    font-size: 17px;
    padding-right: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.popup-header a:hover {
    color: #FFFF00;
    font-weight: bolder;
    text-decoration: none;
}

.person:hover {
    cursor: pointer;
}

.footer {
    height: 100px;
    background-color: #5B5B5B;
}

@media (min-width: 320px) and (max-width: 990px) {
    .admin-menu a {
        font-size: 14px !important;
    }

    .admin-navbar-header {
        display: block !important;
    }

    .sub-header-container {
        margin-top: 70px;
    }

    .admin-menu a {
        font-size: 15px !important;
    }

    .navbar-collapse {
        margin: 0 auto !important;
    }

    .navbar-header {
        float: none !important;
    }

    .navbar-toggle {
        display: block !important;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        padding-left: 10px !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav > li {
        float: none !important;
    }
}

@media (min-width: 990px) {
    .divider {
        display: none !important;
    }

    .admin-navbar-header {
        display: none !important;
    }

    #menu {
        background-color: #2D2D2D !important;
        height: 104% !important;
    }
}

@media (min-width: 991px) and (max-width: 1000px) {
    .right-nav {
        display: none !important;
    }
}

@media (min-width: 1239px) {
    .admin-navbar-header {
        display: block !important;
    }
}