#header-content {
    background-color: #000000;
    height: 80px;
    padding: 0;
    color: #fff;
}

.row {
    margin: 0 !important;
}

body {
    font-family: 'AmnestyTradeGothicW01BdCnNo-20', 'HelveticaNeue-CondensedBold', 'Franklin Gothic Medium', sans-serif !important;
}

.divider {
    border: 1px dashed #333333;
    margin-left: 10px;
}

img {
    margin: 0 auto;
    height: 100%;
    width: 200px;
    /*margin: 0;
    height: 72px;
    width: 169px;
    background-color: #ff0;*/
}

.navbar {
    margin: 0;
    border: none;
}

.navbar-default {
    background-color: #fff;
}

#header-container {
    padding: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.container-fluid > .navbar-header {
    margin: 0;
}

.navbar-header a:hover, .navbar-header a:focus {
    text-decoration: none;
}

.amnesty-decoder-text h2 {
    color: #000;
    font-size: 16px;
    margin: 0 0 0 72px;
    padding: 28px 0px 26px 12px;
    font-family: 'AmnestyTradeGothicW01BdCnNo-20', 'HelveticaNeue-CondensedBold', 'Franklin Gothic Medium', sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
}

.navbar-brand {
    display: inline-block;
    align-items: center;
    height: 72px;
    padding: 0;
    width: 72px;
    background-color: #ff0;
}

.navbar-brand > img {
    margin-top: 11px;
    height: 48px;
    width: 30px;
    background-color: #ff0;

}

.navbar-default .navbar-brand:hover {
    background-color: #ff0;
}

.navbar > .container-fluid .navbar-brand {
    margin: 0;
}

#menu {
    padding-right: 20px;
}

#menu li a {
    color: #000;
    font-family: 'AmnestyTradeGothicW01BdCnNo-20', 'HelveticaNeue-CondensedBold', 'Franklin Gothic Medium', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 26px 18px 26px 15px;
    transition: background-color .25s, color .25s;
}

.collapse ul li a:hover, .collapse ul li a:focus {
    background-color: #e5e5e5 !important;
    margin: 0;
    padding: 26px 18px 26px 15px;
    color: #000000 !important;
    white-space: nowrap;
}

.collapse {
    background-color: #fff !important;
    font-weight: bold;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 72px;
}

.rectangle-speech-border {
    position: relative;
    padding: 50px 15px;
    margin: 1em 0 3em;
    border: 10px solid #333333;
    text-align: center;
    color: #333;
    background: #333333;
    /* css3 */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.rectangle-speech-border:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -21px;
    left: 20px;
    width: 40px;
    height: 20px;
    border-style: solid;
    border-width: 0 7px 7px 0;
    border-color: #333333;
    background: transparent;
    /* css3 */
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
    /* reduce the damage in FF3.0 */
    display: block;
}

/* creates smaller curve */
.rectangle-speech-border:after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -21px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 0 7px 7px 0;
    border-color: #333333;
    background: transparent;
    /* css3 */
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 40px 50px;
    /* reduce the damage in FF3.0 */
    display: block;
}

.admin-menu a {
    font-size: 13px !important;
}

p {
    font-size: 14px !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.continue-vno {
    background-color: #999999;
    color: #666666;
    text-align: center;
    font-size: 18px;
    margin: 5px 0 0 -5px;
    width: 100px;
    height: 50px;
    padding-top: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
}

::-webkit-input-placeholder {
    padding-top: 10px !important;
    font-size: 18px;
    color: #000;
}

.form-control {
    font-size: 18px !important;
}

.continue-vno:hover {
    cursor: pointer;
    color: #000;
    background-color: #B6B6B6;
}

.hr {
    display: block;
    height: 3px;
    border: 0;
    background: #000000;
    border-top: 1px solid #000000;
    padding: 0;
}

.back-on-top {
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.back-on-top:hover {

}

.Q1 {
    min-height: 120px;
}

.Q2 {
    min-height: 120px;
}

.sticky-wrapper {
    height: auto !important;
}

.sub-header-container {
    padding: 5px 0 15px 0;
    overflow: hidden;
    min-height: 150px;
    vertical-align: middle !important;
    color: #ffffff;
    background-color: #333333;
}

.individuals-container {
    overflow: hidden;
}

.one-person, .one-person-small {
    float: left;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
}

.persons-counter {
    width: 45px;
    float: right;
    font-size: 30px;
    padding: 4px 5px 0 7px;
    /*border-left: 2px solid white;*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.persons-counter:hover {
    background-color: #FFFF00;
    color: #000;
    cursor: pointer;
    height: 100%;
    padding-right: -20px;
    border-left: 2px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.persons-counter label:hover {
    cursor: pointer;
}

.detailed-information {
    padding: 0 10px 5px 10px;
    float: left;
}

.ua-sidebar {
    background-color: #dadada;
}

.individual-outcome {
    float: left;
    height: 50px;
    font-size: 18px;
    font-weight: bolder;
    width: 85px;
    margin: 5px 0 0 11px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
}

.next-ua, .sign-up, .next-ua-error {
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    float: left;
    height: 50px;
    border-radius: 5px;
    color: #000;
    background-color: #FFFF00;
    border: none;
    width: 170px;
    text-align: center;
    padding-top: 17px;
    margin-left: 75px;
}

footer a {
    color: #fff;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 400px;
    line-height: 1.5;
}

.col-sm-4 {
    height: 89px;
    margin-top: 2px;
}

.rrssb-icon {
    padding-top: 10px !important;
}

.popup {
    border-radius: 7px !important;
    background-color: #000 !important;
    margin: 0 !important;
}

.clearfix li a:hover {
    color: #FFF !important;
}

.clearfix li a:active {
    color: #FFF !important;
}

footer,
html {
    background: #000;
    color: #b6b6b6;
}

footer {

}

footer .container {
    padding-top: 0px;
    padding-bottom: 20px;
}

.next-ua:hover, .sign-up:hover, .next-ua-error:hover {
    background-color: #FFD500;
}

.speach-bubble-container {
    text-align: center;
    padding-top: 20px;
    height: 79px;
    width: 71px;
    margin: 0 auto;
}

.speach-bubble-container img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.one-person:hover, .one-person-small:hover, .more-persons:hover {
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    background-color: #B6B6B6;
    color: #000;
}

.individual-outcome:hover {
    cursor: pointer;
    color: #000;
    background-color: #B6B6B6;
}

.one-person:focus, .more-persons:focus {
    cursor: pointer;
    font-weight: bolder;
    background-color: #ffff00;
    color: #000;
}

.one-person h1, .one-person-small h1, .more-persons h1 {
    font-weight: bolder;
    font-size: 30px;
    margin-top: 7px;
}

.more-persons {
    float: left;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
}

.select-persons {
    margin-left: -5px;
    height: 50px;
    width: 190px;
    border: 2px solid white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.back-arrow-container:hover {
    cursor: pointer;
    background-image: url("/static/img/back_arrow_hover.png");
    background-size: cover;
}

.back-arrow-container {
    background-image: url("/static/img/back_arrow.png");
    margin: 0 auto;
    position: relative;
    width: 23px;
    height: 40px;
    background-size: cover;
}

.forward-arrow-container:hover {
    cursor: pointer;
    background-image: url("/static/img/forward_arrow_hover.png");
    background-size: cover;
}

.forward-arrow-container {
    background-image: url("/static/img/forward_arrow.png");
    margin: 0 auto;
    position: relative;
    width: 23px;
    height: 40px;
    background-size: cover;
}

.popup-header a {
    float: right;
    color: #fff;
    font-size: 17px;
    padding-right: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.popup-header a:hover {
    color: #FFFF00;
    font-weight: bolder;
    text-decoration: none;
}

.person:hover {
    cursor: pointer;
}

.mixed-persons:hover {
    cursor: pointer;
}

.disabled {
    pointer-events: none !important;
    opacity: 0.9;
}

.footer {
    height: 100px;
    background-color: #5B5B5B;
}

.victims {
    height: 95px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    min-width: 150px;
    text-align: center;
    padding-top: -10px;
}

.victims-body {
    text-align: center !important;
}

.continue-under-ten {
    margin: 0 0 0 10px;
}

.finish-scene {
    width: 250px;
    text-align: center;
    background: transparent;
    color: #FFF;
    position: absolute;
    margin-left: -125px;
    left: 50%;
    z-index: 2;
}

.circle-base {
    border-radius: 50%;
    behavior: url(PIE.htc); /* IE 8 */
}

.circle1 {
    margin: 15px auto;
    width: 250px;
    text-align: center;
    padding: 20px;
    font-weight: lighter !important;
    height: 250px;
    background: rgba(0, 0, 0, 1);
}

.presenter-main-container {
    max-width: 700px;
    margin: 0 auto !important;
}

.sharing-buttons a {
    color: #FFF !important;
    background-color: transparent !important;
}

.task-counter {
    width: 100%;
    height: 40px;
    background: #000;
    color: #FFF;
    font-size: 20px;
    padding-top: 7px;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 2.4rem;
}

.selectbox {
    width: 40%;
}

.mixed-h2 {
    width: 105px;
    float: left;
    margin-top: 2px;
}

i:hover {
    cursor: pointer;
    border-radius: 5px;
    color: #fff !important;
}

.clearfix i {
    margin-left: -15px;
!important;
}

.clearfix i:hover {
    color: #fff !important;
}

.mixed-small {
    display: none;
}

.mixed-large {
    display: block;
}

.country-date {
    margin: 83px 0 0 200px;
}

.skip {
    float: right;
    margin-right: -14px;
    height: 32px;
    width: 150px;
    text-align: center;
    padding-top: -5px;
    background-color: #8F949A;
    color: #fff;
}

.skip:hover {
    cursor: pointer;
    background-color: #666666;
}

@media (max-width: 480px) {
    #reset, .victims {
        margin-left: 0 !important;
    }

    .Q1-back-arrow {
        margin-top: 50px !important;
    }

    .Q2-back-arrow {
        margin-top: 75px !important;
    }

    .Q3-back-arrow {
        margin-top: 100px !important;
    }

    .individual-outcome {
        margin-top: 11px;
    }

    .continue-under-ten {
        margin: 0 0 0 0;
    }

    #victims-number {
        margin-left: 0 !important;
    }

    .back-arrow-container {
        transform: translateY(200%);
    }

    .forward-arrow-container {
        transform: translateY(200%);
    }

    .ten-plus-input {
        margin-top: 28px !important;
    }

    .continue-vno {
        width: 80px !important;
    }

    #victims-number {
        width: 100px !important;
    }

    .outcome-btns {
        margin: -25px 0 0 -10px !important;
    }
}

@media (max-width: 385px) {
    .continue-under-ten {
        margin: 10px 0 0 0;
    }

    .persons-counter {
        width: 43px !important;
    }

    .one-person-small {
        width: 45px !important;
        padding-top: -2px !important;
    }

    .more-persons {
        padding-top: -2px !important;
        width: 45px !important;
        margin-left: 5px !important;
    }

    .select-persons {
        width: 183px !important;
        margin-left: -8px !important;
    }

    .mixed-small {
        display: block;
    }

    .mixed-large {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 990px) {
    #reset, .victims {
        margin-left: 0 !important;
        min-width: 0 !important;
    }

    .mixed-small {
        display: block;
    }

    .mixed-large {
        display: none;
    }

    /*.next-ua {*/
    /*float: left !important;*/
    /*margin-left: 0 !important;*/
    /*}*/
    .admin-menu a {
        font-size: 14px !important;
    }

    #victims-number {
        margin-left: 0 !important;
    }

    .outcome-options {
        margin-left: 0 !important;
    }

    .Q2.back-arrow-container {
        margin-top: 50px !important;
    }

    .Q3-back-arrow {
        /*margin-top: 70px !important;*/
    }

    .admin-navbar-header {
        display: block !important;
    }

    .navbar-collapse {
        margin: 0 auto !important;
    }

    .navbar-header {
        float: none !important;
    }

    .navbar-toggle {
        display: block !important;
        margin: 20px 30px 8px 0;
        padding: 9px 10px 9px 10px;
    }

    .navbar-collapse.collapse {
        display: none !important;

    }

    .navbar-collapse.collapse.in {
        display: block !important;
        background-color: #1a1a1a !important;
        box-shadow: 0 1px 0 rgba(0, 0, 0, .1) !important;
    }

    #menu li a {
        color: white !important;
    }

    .collapse ul li a:hover, .collapse ul li a:focus {
        background-color: #262626 !important;
        margin: 0;
        padding: 26px 18px 26px 15px;
        color: #000000 !important;
        white-space: nowrap;
    }

    .navbar-nav {
        float: right !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .navbar-nav > li {
        float: left !important;
    }

    .outcome-options {
        text-align: left !important;
    }

    .right-nav {
        display: none !important;
    }

    .ua-sidebar {
        display: none;
    }
}

@media (max-width: 768px) {

    .back-arrow-container {
        transform: translateY(50%);
    }

    .forward-arrow-container {
        transform: translateY(50%);
    }

    .one-person-small {
        display: block !important;
    }

    .one-person {
        display: none !important;
    }

    #detailed-individual-information {
        display: none;
    }

    .country-date {
        display: none;
    }

}

@media (min-width: 768px) {
    .divider {
        display: none !important;
    }

    .one-person-small {
        display: none !important;
    }

    .back-arrow-container {
        transform: translateY(10%);
    }

    .forward-arrow-container {
        transform: translateY(10%);
    }

    .one-person-large {
        display: block !important;
    }

    #detailed-individual-information {
        display: block;
    }

    .country-date {
        display: block;
    }

    #amnestyLargeLogo {
        display: inline-block !important;
    }

    #amnestySmallLogo {
        display: none !important;
    }

    .navbar-brand {
        display: inline-block;
        align-items: center;
        height: 72px;
        padding: 0;
        width: 169px;
    }

    .navbar-brand > img {
        height: 72px;
        width: 169px;
        margin-top: 0;
        background-color: #ff0;
    }

    .amnesty-decoder-text h2 {
        margin: 0 0 0 169px;
        padding: 28px 0px 26px 28px;
    }

}

@media (min-width: 990px) {

    .ua-sidebar {
        display: block;
    }

    .divider {
        display: none !important;
    }

    #menu {
    }

    .sub-header-container {
    }

}

@media (min-width: 991px) and (max-width: 1000px) {
    .right-nav {
    }
}
