{% extends "base.html" %}
{% set active_page = "admin" %}
{% set active_link = "admin" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
<link href="{{url_for('static', filename='css/map/leaflet.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/map/map-admin.css')}}" rel="stylesheet">

<title>Map Tile Generator</title>

<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<div id="map-holder" class="row">
    <div class="col-md-3 col-sm-3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div  class="col-md-9 col-sm-9" >
        <h1><strong>{{ _('Admin Site - Map Tile Generator') }}</strong></h1>
        <div class="row-fluid">
        {{ _('Number of columns:') }} <input type="text" id="number_of_columns" name="number_of_columns">
        {{ _('Number of rows:') }} <input type="text" id="number_of_rows" name="number_of_rows">
        {{ _('Zoom:') }}  <input id="zoom" type="text" name="zoom"></div><br />
        <button id="enable_selection">{{ _('Insert values & enable selection') }}</button> <button id="clear_map">{{ _('Clear Map') }}</button><br />
        
        <div class="result"></div><br />
        <span style="color:red;"><br />{{ _('Click "Insert values & enable selection" and hold SHIFT Key while selecting to select an area of the map.') }}</span><br />
        <br><div id="map"></div>
        </div>
    </div>
</div>
{% include "admin/js/map/map-control.js" %}
{% include "admin/js/map/map.select-area.js" %}
{% endblock %}
