.btn-ssnn {
    min-width: 32.5%;
}

.btn-contribute,
.btn-admin-categories{
    margin-top: 21px;
}

.sort-control-row {
    margin-bottom: 20px;
    .btn-default {
        width: 100px;
    }
}

.control-group-label {
    font-size: 13px;
    font-weight: 600;
    color: $gray;
    padding-right: 5px;
    vertical-align: middle;
}
