.btn-ssnn {
    min-width: 32.5%;
}

.btn-group.btn-contribute {
    min-height: 75px;
}

.btn-view-results {
    margin-bottom: 10px;
}

.btn-admin-categories{
    margin: 21px 0;
}

.sort-control-row {
    margin-bottom: 20px;
    .btn-default {
        width: 100px;
    }
}

.control-group-label {
    font-size: 13px;
    font-weight: 600;
    color: $gray;
    padding-right: 5px;
    vertical-align: middle;
}

.btn-primary {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .btn-primary:hover {
    background-color: #2b82bc;
    border-color: #2b82bc;
}

.btn-primary:active:hover, .btn-primary:active:focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
    background-color: #1d618e;
    border-color: #1d618e;
}

.btn-primary-alt {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary-alt:focus, .btn-primary-alt.focus, .btn-primary-alt:active, .btn-primary-alt.active, .btn-primary-alt:hover {
    background-color: #218838;
    border-color: #218838;
}