.thumbnail.card {
    border-radius: 2px;
    padding: 0px;
    border: 0px;
 
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    img,
    div {
        border-radius: 2px 2px 0px 0px;
    }
    .caption {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;

        p {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        br{display: block;}

        span {
            text-decoration: underline;
        }

    }
}


.card {
    background-color: $white;
    h3 {
        color: $grey;
        font-weight: 600;
        font-size: 20px;
        display:inline-block;
        min-height: 45px;
    }

    h3.small-space {
        min-height: 23px;
    }

}

.readmore {
    

    a {
        color: $blue-link;
        text-transform: uppercase;
        font-weight: 600;
    }

}




/* XS devices */
.post-pic{
    height: 195px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {     
        .post-pic{
        height: 253px;
        }

        .card-fix-p{
        margin-bottom: 32px;
        }
}


/* Medium devices (992px and up) */
@media (min-width: 992px) {     
       .col-md-6 .post-pic{
        height: 202px;
        }

        .col-md-4 .post-pic{
        height: 202px;
        }
}

/* Large devices (992px and up) */
@media (min-width: 1200px) {     
       .col-md-6 .post-pic{
        height: 250px;
        }

        .col-md-4 .post-pic{
        height: 160px;
        }
}

