.thumbnail.card {
    border-radius: 4px;
    padding: 0px;
    border: 0px;
    margin-bottom: 20px;
    img,
    div {
        border-radius: 4px 4px 0px 0px;
    }
    .caption {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;

        span {
            text-decoration: underline;
        }

    }
}


/* XS devices */
.post-pic{
    height: 180px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {     
        .post-pic{
        height: 160px;
        }

        .card-fix-p{
        margin-bottom: 32px;
        }
}


/* Medium devices (992px and up) */
@media (min-width: 992px) {     
       .col-md-6 .post-pic{
        height: 202px;
        }

        .col-md-4 .post-pic{
        height: 202px;
        }
}

/* Large devices (992px and up) */
@media (min-width: 1200px) {     
       .col-md-6 .post-pic{
        height: 250px;
        }

        .col-md-4 .post-pic{
        height: 160px;
        }
}

