footer {
    border-top: 1px solid #D6DCDE;
    padding:50px 0 80px ;
}


footer a {
    padding-right: 15px;
    line-height: 3;
}

@media(min-width:768px) {
    footer br{
        display: none;
    }

}
