@media (max-width: 768px) {
    .jumbotron{
    height: 500px;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-bottom: 0px;
    right:0;left:0;top:0;bottom:0;
        overflow:hidden;
        background-attachment:fixed;
        height: auto;
        background-color: $white;
    }

    .jumbotron h1 {
    margin-top: 35px;
    font-size: 24px;
    font-weight: 600;
    color: $dark-grey;
    }

    .jumbotron p{
     font-size: 16px;
     font-weight: 500;   
    }
}

@media (min-width: 768px) {

    .jumbotron {
        padding: 30px 15px;
        margin-bottom: 0px;
        color: $white;
        right:0;left:0;top:0;bottom:0;
        overflow:hidden;
        background-attachment:fixed;
        height: auto;
        background-color: $white;
    }

}



