.project-item{
	padding: 15px;
	background-color: #f5f7f7;
	margin-top: 20px;
}

.project-item:last-child{
	margin-bottom: 20px;
}

.project-btn{
	margin-top: 15px;
}

.categories{
	margin-top: 25px;
}

.floating-box{
   display: inline-block;
   background-color: #f2f2f2;
   text-align: center;
   line-height: 50px;
   width: 200px;
   height: 50px;
   border: 1px #f2f2f2;
   margin: 5px;
}

.floating-box:hover {
   background-color: #d9d9d9;
}

.floating-box.active{
   background-color: #d9d9d9;
}
