.project-item{
	padding: 15px;
	background-color: #f5f7f7;
	margin-top: 20px;
}

.project-item:last-child{
	margin-bottom: 20px;
}

.project-btn{
	margin-top: 15px;
}

.categories{
	margin-top: 25px;
}

.project-secret-key,
.project-secret-key:focus {
    border: 0;
    outline: 0;
    font-size: 15px;
    padding-right: 15px;
}
