// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

@import "mixins";

body {
    font-family: 'Source Sans Pro', sans-serif;
    @include vendor-prefix('font-smoothing', 'antialiased');
    text-shadow:0 0 1px transparent;
    text-rendering:optimizeLegibility;
    color: $grey;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42857143;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2  {
    font-size: 24px !important;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

p {
    color: $grey;
    font-size: 16px;
    font-weight: 500;
}

p.dark {
    color: $dark-grey;
}

p.lead {
    color: $bright-grey;
    font-size: 20px;
    font-weight: 500;
}

footer p {
    color: $semi-white;
    font-size: 16px;
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}

.bright-grey {
    color: $bright-grey;
}

@font-face {
    font-family: 'mr_dafoeregular';
    src: url('/static/fonts/mrdafoe-regular.eot');
    src: url('/static/fonts/mrdafoe-regular.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/mrdafoe-regular.woff2') format('woff2'),
         url('/static/fonts/mrdafoe-regular.woff') format('woff'),
         url('/static/fonts/mrdafoe-regular.ttf') format('truetype'),
         url('/static/fonts/mrdafoe-regular.svg#mr_dafoeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: 600 !important;
color: $dark-grey;
}




.text-sm {
    font-size: 11px;
}
