.companies{
    background-color: #86B9D7;
    padding-top: 35px;
    padding-bottom: 15px;
}

.soysuper-card{
	background-color: #F3EDC0;
	text-align: center;
}

.scifabric-card{
	background-color: #C0E5F1;
	text-align: center;
}

.soysuper-card img{
	margin-top: 54px;
}

.scifabric-card img{
	margin-top: 60px;
}


@media (max-width: 768px) {
    
}

@media (min-width: 768px) {

}



