.companies{
    background-color: #86B9D7;
    padding-top: 35px;
    padding-bottom: 15px;
}

.soysuper-card{
	background-color: #F3EDC0;
	text-align: center;
}

.scifabric-card{
	background-color: #C0E5F1;
	text-align: center;
}

.soysuper-card img{
	margin-top: 54px;
}

.scifabric-card img{
	margin-top: 60px;
}

.alergeno-description{
	text-align: center;
	margin-bottom: 25px;
}


.alergeno-description h2{
	font-size: 37px !important;
	font-family: 'mr_dafoeregular';
	color: $white;
}

.alergeno-description h2 span{
	font-size: 37px !important;
	font-family: 'Source Sans Pro';
	color: $gray-dark;
}

.alergeno-description p{
	color: $white;
}
.alergeno-description a{
	color: $gray-dark;
}


@media (max-width: 768px) {
    
}

@media (min-width: 768px) {

}



