{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = project.short_name %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{{ helper.render_loading(loading_text) }}
<div class="row">
    <div class="span3">
        {{ helper.render_project_local_nav(project, 'tasks', current_user, pro_features)}}
    </div>
    <div class="span9">
        <h1><strong>{{project.name}}</strong>: {{_('Import tasks')}}</h1>
      {% if form %}
      <h2>{{_('From an EpiCollect Plus project')}}</h2>
      <form class="form-horizontal" method="post" action="{{ url_for(target, short_name=project.short_name) }}">
        <fieldset>
        {{ form.hidden_tag() }}
        <span class="help-inline">{{_('Please provide an EpiCollect Plus project name to import its data for')}} {{ active_project }}.<br/> {{_('For more information, please look at')}} <a href="http://docs.pybossa.com/en/latest/user/overview.html#importing-the-tasks-via-the-built-in-csv-task-creator" target="_blank">{{_('the documentation')}}.</a></span>
          {{ render_field(form.epicollect_project, class_="input-block-level",
          placeholder=_('The name of the public EpiCollect Plus project')) }}
          {{ render_field(form.epicollect_form, class_="input-block-level", placeholder=_('The name of the project\'s form')) }}
          <div class="form-actions">
            <input type="submit" value="{{_('Import')}}" class="btn btn-primary" />
            <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn">{{_('Cancel')}}</a>
          </div>
        </fieldset>
      </form>
      {% endif %}
    </div>
</div>
<script>
    $("#submit").off('click').on('click', function(){
        $("#loading").show();
    });
</script>
{% endblock %}
