{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = project.short_name %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{{ helper.render_loading(loading_text) }}
<div class="row">
    <div class="span3">
        {{ helper.render_project_local_nav(project, 'tasks', current_user)}}
    </div>


   <div class="span9">
       <h1><strong>{{project.name}}</strong>: {{_('Import tasks')}}</h1>
       <h2>{{_('From a Flickr Album')}}
           {% if albums %}
           <a href="{{ url_for('flickr.logout', next=url_for(target, short_name=project.short_name, type='flickr')) }}" class="btn btn-secondary pull-right">{{ _('Revoke access') }}</a>
           {% endif %}
       </h2>
       {% if not albums %}
          <p> {{ _('Grant Crowdcrafting access to your Flickr albums to select one...') }}</p></br>

       <p><a href="{{ url_for('flickr.login', next=url_for(target, short_name=project.short_name, type='flickr')) }}" class="btn btn-secondary">{{ _('Log in Flickr') }}</a></p>
       {% else %}
           {{ _('Select one of your albums:') }}
           <div class="row">
           <ul>
           {% for album in albums %}
               <li class="span4">
                   <h3>{{ album['title'] }}</h3>
                   <img src="{{ album['thumbnail_url'] }}">
                   <p class="small">{{ album['photos'] }} {{ _('photos') }}</p>
                   <button id="{{ album['id'] }}" class="btn btn-default btn-album">{{ _('Select') }}</button>
               </li>
           {% endfor %}
           </ul>
       </div>
      </br>
        {% endif %}
        <br>
        {% if form %}
        <form class="form-horizontal" method="post" action="{{ url_for(target, short_name=project.short_name) }}">
            <fieldset>
                {{ form.hidden_tag() }}
                <span class="help-inline"> {{ _('Or manually provide the ID of a Flickr set with images for') }} {{ active_project }}. <br/> {{ _('For more information, please look at') }} <a href="http://docs.pybossa.com/en/latest/user/overview.html#importing-the-tasks-from-a-flickr-photo-set" target="_blank">{{ _('the documentation') }}.</a></span>
                {{ render_field(form.album_id, class_="input-block-level", placeholder="The ID of the Flickr set") }}
                <div class="form-actions">
                    <input id="submit" type="submit" value="{{_('Import')}}" class="btn btn-primary" />
                    <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn">{{_('Cancel')}}</a>
                </div>
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>
<script>
    $("#submit").off('click').on('click', function(){
        $("#loading").show();
    });
</script>
<script type="text/javascript">
    $(".btn-album").each(function(){
        $(this).off('click').on('click', function(){
            document.getElementById('album_id').value = $(this).attr('id');
            document.location.href = "#album_id";
        });
    });
</script>
{% endblock %}
