{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = project.short_name %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{{ helper.render_loading(loading_text) }}
<div class="row">
    <div class="span3">
        {{ helper.render_project_local_nav(project, 'tasks', current_user, pro_features)}}
    </div>
    <div class="span9">
        <h1><strong>{{project.name}}</strong>: {{_('Import tasks')}}</h1>
        {% if form %}
        <h2>{{_('From a Twitter hashtag or account')}}</h2>
        {% if not current_user.info.get('twitter_token') %}
        <div class="alert">
            <p>
              {{ _('You can provide your own Twitter credentials and make API requests in behalf of them, or use the credentials provided by us. (The later only allows to import the number of tweets returned by a single Twitter API call, which is 100 for searches and 200 for user timelines.)') }}
            </p>
        </div>
        <a href="{{ url_for('twitter.login', next=url_for(target, short_name=project.short_name, type='twitter'), no_login=1) }}" class="btn choice">{{ _("I'll use my credentials") }}</a>
        <a class="btn choice">{{ _("I'll use credentials provided by the platform") }}</a>
        <form class="form-horizontal" method="post" action="{{ url_for(target, short_name=project.short_name) }}" style="display:none;">
        {% else %}
        <form class="form-horizontal" method="post" action="{{ url_for(target, short_name=project.short_name) }}">
        {% endif %}
            <fieldset>
                {{ form.hidden_tag() }}
                <span class="help-inline">
                    {{_('Please provide the source of your tweets. It can be a "#hashtag", a regular "word" for search or a "@user_account" from where to import them')}}.
                    <br />
                    {{ _('For more information, please look at') }}
                    <a href="http://docs.pybossa.com/en/latest/user/overview.html#importing-the-tasks-from-a-twitter-account-or-search-result" target="_blank">{{ _('the documentation') }}.</a>
                </span>
                {{ render_field(form.source, class_="input-block-level", placeholder=_('#hashtag or @user or something else')) }}
                {{ render_field(form.max_tweets, class_="input-block-level") }}
                {% if current_user.info.get('twitter_token') %}
                {{ form.user_credentials(value=current_user.info.get('twitter_token') | tojson, type='hidden') }}
                {% endif %}
                <div class="form-actions">
                    <input id="submit" type="submit" value="{{_('Import')}}" class="btn btn-primary" />
                    <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn">{{_('Cancel')}}</a>
                </div>
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>
<script>
    $("#submit").off('click').on('click', function(){
        $("#loading").show();
    });
    $('.choice').on('click', function(evt){
        var $btn = $(this);
        $('.choice').hide();
        $('form').show();
    })
</script>
{% endblock %}
