#container-content {
  min-height: 400px;
}

#project-grid {
  td:first-child {
    white-space: nowrap;
  }

  td:last-child {
    width: 100%;
  }
}

#create-project-form {
    .form-group.password {
      margin-bottom: 0;
    }

    #password-requirements {
      font-size: 14px;
      font-style: italic;
      margin: 5px 5px 10px 5px;
    }
}