<style type="text/css">
#map{
  position: relative; overflow: hidden; transform: translateZ(0px);
  margin: 20px 0;
  padding: 0;
  height: 400px;
  float: left;
  width: 100%;
}
.form-inline .form-control {
    width: auto !important;
    min-width: 50px;
}
.form-control {
    font-size: 15px !important;
}
.left-margin{
     margin-left: 15px
}
.form-top{
    padding-top: 15px;
}
</style>