{% extends "urgentactions/ua-base.html" %}
{% block body %}
<style>
    @media (min-width: 990px ) {
        .terms-container {
            margin-top: 80px !important;
        }
    }
</style>
<div class="row terms-container" style="padding: 20px;">
    <div class="col-xs-12 col-md-12" style="padding: 0;">
        <br/>
        <h1>Terms of Use</h1>
        <br/>
        <p>Amnesty Decoders is Amnesty International&rsquo;s global network of digital volunteers, contributing real-time to ground breaking human rights research. Our vision is to inspire a new generation of tech-savvy activists to become human rights monitors and help document human rights violations using technology.  In our first project &ldquo;Decode Urgent Actions&rdquo; we will ask digital volunteers to spend five minutes reading and analysing part of our online archive of Urgent Actions, and answer some quick and simple questions. This will enable us to analyse our successes with Urgent Actions campaigns since the &lsquo;70&rsquo;s. </p>

        <p>Urgent Actions are a campaigning tool used by Amnesty International based on a very simple idea: when someone is in immediate danger of serious human rights abuse, those responsible receive thousands of letters, faxes and telegrams from all over the world demanding action. This pressure has the potential to protect that person from further abuse.</p>

        <p>In this project, we don&rsquo;t ask volunteers to take any action on behalf of victims of human rights abuse. Our goal is to <b>analyse historical Urgent Actions with help of digital volunteers</b> and all you have to do is to read the document and answer few simple questions.    These terms of use form the terms on which you may use Amnesty Decoders, whether as a guest or registered user. By using Amnesty Decoders you must accept these terms of use and that you must comply with them.</p>

        <br/>
        <h2>Your Contribution</h2>

        <p>When you register, your registration details must be genuine. You must provide a valid email address. You must not let anyone else use your account</p>

        <p>When you interact with Amnesty Decoders activities, the information you provide must be your best effort, and accurate to the best of your knowledge (if facts) and genuinely held (if opinions). You agree to use Amnesty Decoders only for the purpose it was intended, and not to act maliciously either to other users or the Amnesty Decoders website.</p>

        <p>We reserve the right to suspend or close your account at any time, but we will only do this with good reason.</p>

        <br/>
        <h2>Intellectual Property</h2>

        <p>Your grant Amnesty International a perpetual, sub-licensable, worldwide and royalty free licence in relation to your contributions to Amnesty Decoders.</p>

        <p>Amnesty International is the owner or licensee or all intellectual property rights in Amnesty Decoders, and the material published on it. These works are protected by copyright laws and treaties around the world. All such rights are reserved. You are not permitted to reproduce or use any part of content of Amnesty Decoders for commercial purposes.</p>

        <br/>
        <h2>Our Liability</h2>

        <p>To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our site or any content on it, whether express or implied.</p>

        <p>We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with use of, or inability to use, our site; or use of or reliance on any content displayed on our site.</p>

        <p>Please note that we only provide our site for domestic and private use. You agree not to use our site for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>

        <p>We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it.</p>

        <p>We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.</p>

        <p>This agreement is made under the laws of England and Wales.</p>

        <br/>
        <h1>Privacy Policy</h1>
        <p>Amnesty International are committed to protecting and respecting your privacy.</p>
        <p>For the purpose of the Data Protection Act 1998 the data controller is Amnesty International Limited of 1 Easton Street, London, WC1X 0DW, United Kingdom. Please write to us at this address to access information we hold about you.

        <br/>
        <h2>Information we may connect with you</h2>
        <p>We may collect and process the following data about you:</p>
        <p><b>Information you give us.</b> This includes information you provide when you register to use Amnesty Decoders, (your name or nickname, user name, email address, password, and country). This will also include information you give us when you participate in activities, participate in discussion boards or other social media functions on our site, and when contact Amnesty Decoders.</p>
        <p><b>Information we collect about you.</b> With regard to each of your visits to our site we may automatically collect the following information: </p>
        <p>technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform;</p>
        <p>information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our site (including date and time); products you viewed or searched for; page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page and any phone number used to call our customer service number.</p>
        <h2>Uses made of the information</h2>
        <p>We use information held about you in the following ways:</p>
        <p><b>Information you give to us.</b> We will use this information:</p>
        <p>to notify you about new Amnesty Decoders projects (should you subscribe to this feature);</p>
        <p>to ensure that content from our site is presented in the most effective manner for you and for your computer.</p>
        <p><b>Information we collect about you.</b> We will use this information:</p>
        <p>to administer our site and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</p>
        <p>to improve our site to ensure that content is presented in the most effective manner for you and for your computer;</p>
        <p>to allow you to participate in interactive features of our service, when you choose to do so;as part of our efforts to keep our site safe and secure;</p>
        <br/>
        <h1>Cookies</h1>
        <p>Amnesty Decoders uses cookies. For detailed information on the cookies we use and the purposes for which we use them see the Amnesty International Cookie Statement  https://www.amnesty.org/en/about-us/cookie-statement/</p>
        <br/>
        <h1>Disclosure of your information</h1>
        <p>We may share your personal information within the Amnesty movement. We will ask for your permission to do this in each activity.</p>
        <p>We will never share your personal information with third parties.</p>

        <br/>
        <h1>Where we store your personal data</h1>
        <p>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area (&quot;EEA&quot;). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. By submitting your personal data, you agree to this transfer, storing or processing. Amnesty International will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</p>
        <p>All information you provide to us is stored on our secure servers. Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>
        <p>We have taken all reasonable steps to ensure that the Amnesty Decoders is as secure as possible. Unfortunately, the transmission of information via the internet is never completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>
        <br/>
        <h1>Changes to our privacy policy</h1>
        <p>Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes to our privacy policy. </p>
    </div>
</div>
{% endblock %}