<style>
    #header-content {
        background-color: #000000;
        height: 80px;
        padding: 0;
        color: #fff;
    }

    .navbar {
        background-color: #000000;
        height: 79px !important;
        border-radius: 0;
    }

    img {
        margin: 0 auto;
    }

    .collapse ul li a:hover, .collapse ul li a:focus {
        background-color: #FFF003 !important;
        color: #000000 !important;
    }

    .collapse {
        background-color: #000000 !important;
        font-weight: bold;
    }

    .navbar-toggle {
        margin-top: 20px;
    }

    @media (min-width: 480px) and (max-width: 990px) {
        .collapse {
            padding-top: 15px;
        }
    }

    @media (min-width: 990px) {
        #menu {
            background-color: #2D2D2D !important;
            height: 104% !important;
        }
    }
    @media (min-width: 990px) and (max-width: 1024px) {
        #menu {
            background-color: #2D2D2D !important;
            height: 104% !important;
        }
    }
</style>

<div class="row">
    <div class="col-xs-12 col-md-12" style="height: 80px; padding: 0;">
        <div class="col-xs-12 col-md-2" id="amnesty-logo" style="background-color: #FFF003; height: 80px; padding: 0; text-align: center;">
            <a href="#" style="text-align: center;">
                <img src="/static/img/amnesty-international.png" class="img-responsive" style="height: 100%; width: 200px;">
            </a>
        </div>
        <div class="col-xs-12 col-md-10" id="header-content">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <a style="margin-top: 13px; color: #fff; font-size: 16px; font-weight: bold;" class="navbar-brand" href="">DECODE OUR URGENT ACTIONS</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="menu">
                        <li><a href="#">Shqip</a></li>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Srpski</a></li>
                        <li><a href="#">Shkarko</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right:50px; height: 80px; margin-top: -8px;">
                        <li>
                            <a href="#" title="Facebook">
                                <i class="fa fa-facebook-square fa-3x"
                                   aria-hidden="false"></i>
                            </a>
                        </li>
                    </ul>
                </div> <!-- navbar-collapse -->
            </nav>
        </div>
    </div>
</div>