<script type="text/javascript">
    var click = 0;
    var persons = 0;
    var not_clear_clicked = 0;
    $(function () {
        $(".select-persons").hide();
        $(".Q2").hide();
        $(".Q1-1").hide();
        $(".final-step").hide();

        $(".back-arrow-container").click(function () {
            var class_names = $(this).parent().parent().attr("class").split(" ");
            var class_name = class_names[class_names.length - 1];
            $(".Q1-1").hide();
            $(".Q2").hide();
            $(".final-step").hide();
            $(".Q3").hide();
            $(".mixed").hide();
            if (class_name == 'final-step') {
                $(".Q2").show();
            } else if (class_name == "Q4") {
                $(".Q3").show();
            } else if (class_name == "mixed") {
                $(".Q2").show();
                $(".Q2").addClass("Q4");
            } else {
                $(".Q1").show();
            }
            click = 0;
            $(".select-persons").hide();
            setCounterButtonInactive($(".one-person"));
            setCounterButtonInactive($(".more-persons"));
        });

        $(".outcome-result").click(function () {
            $(".Q2").hide();
            $(".final-step").show();
        });

        $('.person').click(function () {
            var class_names_array = $(this).attr("class").split(" ");
            var class_name = class_names_array[1];
            var person_number = class_name.substr(class_name.length - 1);
            var persons_involved = Number(person_number) + 1;
            if (persons_involved < 2) {

            } else {
                $(".Q1").hide();
                $(".Q1-1").hide();
                $(".Q2").show();
                persons = persons_involved;
                if (class_name == "person") {
                    persons = 11;
                    $(".Q2").hide();
                    $(".Q3").show();
                }
            }
        });

        $(".next-ua").click(function () {
            $(".btn-submit").click();
            window.location.href = "/project/urgent_actions/newtask";
        });

        $(".one-person").click(function () {
            $(this).addClass("clicked");
            $(".Q1-1").show();
            $(".Q1").hide();
            $(".Q2").hide();
            setCounterButtonActive($(this));
            setCounterButtonInactive($(".more-persons"));
            click = 1;
            persons = 1;
        });

        $(".more-persons").click(function () {
            $(this).addClass("clicked");
            $(".one-person").css("background-color", "transparent");
            $(".one-person").css("color", "#fff");
            if (click == 0) {
                setCounterButtonActive($(this));
                for (var i = 0; i < 2; i++) {
                    var person_head = $(".person" + i).find('.person-head');
                    var person_body = $(".person" + i).find('.person-body');
                    setPersonActive(person_head, person_body);
                }
                $(".select-persons").animate({width: 'toggle'}, 250);
                click = 2;
            } else if (click == 1) {
                click = 2;
                $(".select-persons").animate({width: 'toggle'}, 250);
                setCounterButtonActive($(this));
            } else if (click == 2) {
                click = 0;
                $(".select-persons").animate({width: 'toggle'}, 250);
                setCounterButtonInactive($(this));
            }
        });

        $("#victims-number-unclear").click(function () {
            if (not_clear_clicked == 0) {
                $("#victims-number").hide(250);
                $("#victims-number-unclear").css({
                    "background-color": "#ffff00",
                    "color": "#000"
                });
                not_clear_clicked = 1;
            } else {
                $("#victims-number").show(250);
                $("#victims-number-unclear").css({
                    "background-color": "transparent",
                    "color": "#fff"
                });
                not_clear_clicked = 0;
            }
        });

        $("#mixed").click(function () {
            $(".Q2").hide();
            $(".final-step").hide();
            $(".mixed").show();
            $(".victims-body").empty();
            var screen_width = window.screen.width;
            for (var i = 0; i < persons; i++) {
                var victims_html = "";
                if (screen_width > 767) {
                    victims_html = "<div class='form-group mixed-persons mixed-persons" + i + "' style='height:40px; width: 14px; margin-top: 5px; text-align: center;'><div class='person-head' style='text-align: center;'><img src='/static/img/head.png' style='width: 11px; height: 11px;'></div><div class='person-body' style='margin-top: 3px; text-align: center;'><img src='/static/img/body.png' style='width: 11px; height: 20px;'></div></div>";
                } else {
                    victims_html = "<div class='mixed-persons mixed-persons" + i + "' style='float: left; height:40px; width: 14px; margin-top: 5px;'><div class='person-head' style='text-align: center;'><img src='/static/img/head.png' style='width: 11px; height: 11px;'></div><div class='person-body' style='margin-top: 3px; text-align: center;'><img src='/static/img/body.png' style='width: 11px; height: 20px;'></div></div>";
                    var victims_body_left_margin = "";
                    if (persons < 5) {
                        victims_body_left_margin = "80px";
                    } else {
                        victims_body_left_margin = "50px";
                    }
                    $(".victims-body").css("margin-left", victims_body_left_margin);
                }

                $(".positive-victims-body").append(victims_html);
                $(".negative-victims-body").append(victims_html);
                $(".unsure-victims-body").append(victims_html);
            }

            onVictimsHover("mixed-persons", 0);

            $(".mixed-persons").on("click", function () {
                var class_names_array = $(this).attr("class").split(" ");
                var clas_name = class_names_array[class_names_array.length - 1];
                var person_number = clas_name.substr(clas_name.length - 1);
                var classes_array = ["positive-victims-body", "negative-victims-body", "unsure-victims-body"];

                for (var i = 0; i <= Number(person_number); i++) {
                    var person_head = $(this).parent().find(".mixed-persons" + i).find('.person-head');
                    var person_body = $(this).parent().find(".mixed-persons" + i).find('.person-body');
                    var class_names = $(this).parent().attr("class").split(" ");
                    var class_name = class_names[class_names.length - 1];
                    $(this).parent().find(".mixed-persons" + i).addClass("disabled selected");
                    setPersonActive(person_head, person_body);
                    classes_array.remove(class_name);
                    for (var j = 0; j < classes_array.length; j++) {
                        var other_class_name = $("." + classes_array[j].replace("-body", "")).find(".mixed-persons" + i);
                        other_class_name.addClass("disabled");
                        var other_person_head = other_class_name.find('.person-head');
                        var other_person_body = other_class_name.find('.person-body');
                        setPersonDisabled(other_person_head, other_person_body);
                    }
                }

            });
        });

        $(".continue-vno").click(function () {
            $(".Q3").hide();
            $(".Q2").show();
            $(".Q2").addClass("Q4");
        });

        onVictimsHover("person", 1);
    });

    function onVictimsHover(person_class, flag) {
        $("." + person_class).mouseenter(function () {
            var class_names_array = $(this).attr("class").split(" ");
            var class_name = class_names_array[class_names_array.length - 1];
            var person_number = class_name.substr(class_name.length - 1);

            if (class_name == person_class) {
                $("#person-counter").text("11+");
                person_number = 10;
            }
            for (var i = 0; i <= Number(person_number); i++) {
                var person_head = $("." + person_class + i).find('.person-head');
                var person_body = $("." + person_class + i).find('.person-body');
                if (flag == 1) {
                    if (i < 2) {
                        continue;
                    } else {
                        setPersonActive(person_head, person_body);
                        $("#person-counter").text(i + 1);
                    }
                } else {
                    setPersonActive(person_head, person_body);
                    var classes_array = ["positive-victims-body", "negative-victims-body", "unsure-victims-body"];
                    var class_names = $(this).parent().attr("class").split(" ");
                    var class_name = class_names[class_names.length - 1];
                    classes_array.remove(class_name);
                    for (var j = 0; j < classes_array.length; j++) {
                        var other_class_name = $("." + classes_array[j].replace("-body", "")).find("." + person_class + i);
                        var other_person_head = other_class_name.find('.person-head');
                        var other_person_body = other_class_name.find('.person-body');
                        setPersonDisabled(other_person_head, other_person_body);
                    }
                }
            }

            if (class_name == person_class) {
                $("#person-counter").text("11+");
            }

        }).mouseleave(function () {
            for (var i = 0; i < 10; i++) {
                var person_head = $("." + person_class + i).find('.person-head');
                var person_body = $("." + person_class + i).find('.person-body');
                if (flag == 1) {
                    if (i < 2) {
                        setPersonActive(person_head, person_body);
                        $("#person-counter").text(i + 1);
                    } else {
                        setPersonInactive(person_head, person_body);
                    }
                } else {
                    setPersonInactive(person_head, person_body);
                }

            }
        });
    }

    Array.prototype.remove = function () {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };

    function setCounterButtonActive(element) {
        element.css("background-color", "#FFFF00");
        element.css("color", "#000");
    }

    function setCounterButtonInactive(element) {
        element.css("background-color", "transparent");
        element.css("color", "#fff");
    }

    function setPersonInactive(person_head, person_body) {
        $(person_head).find('img').prop("src", "/static/img/head.png");
        $(person_body).find('img').prop("src", "/static/img/body.png");
    }

    function setPersonActive(person_head, person_body) {
        $(person_head).find('img').prop("src", "/static/img/head_selected.png");
        $(person_body).find('img').prop("src", "/static/img/body_selected.png");
    }

    function setPersonDisabled(person_head, person_body) {
        $(person_head).find('img').prop("src", "/static/img/head_disabled.png");
        $(person_body).find('img').prop("src", "/static/img/body_disabled.png");
    }

</script>
<div class="row">
    <div class="sub-header-container">
        <div class="col-md-12 Q1" style="padding: 0;">
            <div class="col-md-offset-2 col-md-8">
                <div class="individuals-container">
                    <h2>How many human rights victims were campaigned for in the below Urgent Action?</h2>
                    <div class="one-person">
                        <h1>1</h1>
                    </div>
                    <div class="more-persons">
                        <h1>2+</h1>
                    </div>
                    <div class="select-persons" style="float: left;">
                        <div class="first-five" style="float: left; margin-left: 15px;">
                            <div class="person person0" style="float:left; height:40px; width: 14px; margin-top: 5px;">
                                <div class="person-head" style="text-align: center;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: center;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                            <div class="person person1"
                                 style="float:left; height:40px; width: 14px; margin-top: 5px;">
                                <div class="person-head" style="text-align: center;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: center;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                            <div class="person person2"
                                 style="float:left; height:40px; width: 14px; margin-top: 5px;">
                                <div class="person-head" style="text-align: center;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: center;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                            <div class="person person3"
                                 style="float:left; height:40px; width: 14px; margin-top: 5px;">
                                <div class="person-head" style="text-align: center;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: center;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                            <div class="person person4"
                                 style="float:left; height:40px; width: 14px; margin-top: 5px;">
                                <div class="person-head" style="text-align: center;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: center;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                        </div>
                        <div class="last-five" style="float: left;">
                            <div class="person person5"
                                 style="float:left; padding-right:-2px; height:40px; width: 20px; margin-top: 5px;">
                                <div class="person-head" style="text-align: right;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: right;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                            <div class="person person6"
                                 style="float:left; height:40px; width: 14px; margin-top: 5px;">
                                <div class="person-head" style="text-align: center;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: center;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                            <div class="person person7"
                                 style="float:left; height:40px; width: 14px; margin-top: 5px;">
                                <div class="person-head" style="text-align: center;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: center;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                            <div class="person person8"
                                 style="float:left; height:40px; width: 14px; margin-top: 5px;">
                                <div class="person-head" style="text-align: center;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: center;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                            <div class="person person9"
                                 style="float:left; height:40px; width: 14px; margin-top: 5px;">
                                <div class="person-head" style="text-align: center;">
                                    <img src="/static/img/head.png" style="width: 11px; height: 11px;">
                                </div>
                                <div class="person-body" style="margin-top: 3px; text-align: center;">
                                    <img src="/static/img/body.png" style="width: 11px; height: 20px;">
                                </div>
                            </div>
                        </div>
                        <div class="persons-counter person">
                            <label id="person-counter" style="font-size: 24px;">11+</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2" style="text-align: center">
                <div class="speach-bubble-container" style="display: none;">
                    <img src="/static/img/speech_bubble.png" class="img img-responsive">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 Q1-1" style="padding: 10px 0 0 0;">
            <div class="col-xs-2 col-md-2" style="text-align: center">
                <div class="back-arrow-container Q1-back-arrow" style="text-align: center; margin-top:25px;">

                </div>
                <br>
            </div>
            <div class="col-xs-10 col-md-8">
                <h2>Please select the person’s full name in the text below, and answer the questions that follow. </h2>
                <h3 style="margin-top: -5px; font-style: italic;">(To select the name, click and drag over the text,
                    ensuring the full name is highlighted).</h3>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="col-xs-12 col-md-12 Q2" style="display: none;">
            <div class="col-xs-2 col-md-2" style="text-align: center">
                <div class="back-arrow-container Q2-back-arrow" style="text-align: center; margin-top:35px;">

                </div>
                <br>
            </div>
            <div class="col-xs-10 col-md-8 outcome-options" style="margin-left: -11px;">
                <h2>What was the result of this Urgent Action campaign?</h2>
                <div class="options" style="margin-left: -11px;">
                    <div class="individual-outcome outcome-result" id="positive">POSITIVE
                    </div>
                    <div class="individual-outcome outcome-result" id="negative">NEGATIVE
                    </div>
                    <div class="individual-outcome outcome-result" id="mixed">MIXED
                    </div>
                    <div class="individual-outcome outcome-result" id="not-clear">NOT CLEAR
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>

        <div class="col-xs-12 col-md-12 Q3" style="display: none;">
            <div class="col-xs-2 col-md-2" style="text-align: center">
                <div class="back-arrow-container Q3-back-arrow" style="text-align: center; margin-top:35px;">

                </div>
                <br>
            </div>
            <div class="col-xs-10 col-md-8" style="margin-left: -11px;">
                <h2>Please specify the exact number of victims involved?</h2>
                <div class="form-inline">
                    <div class="form-group">
                        <h1>ENTER NUMBER</h1>
                    </div>
                    <div class="form-group">
                        <input style="height: 50px; margin: 5px 0 0 5px;" placeholder="How many?" type="text"
                               class="form-control" id="victims-number" name="victims-number"><br>
                    </div>
                    <div class="form-group outcome-btns">
                        <div class="individual-outcome" id="victims-number-unclear"
                             style="width: 150px; height: 40px; padding-top: 10px;">NOT CLEAR
                        </div>
                    </div>
                    <div class="form-group outcome-btns">
                        <div class="individual-outcome continue-vno"
                             style="width: 150px; height: 40px; padding-top: 10px;">CONTINUE
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>

        <div class="col-xs-12 col-md-12 mixed" style="display: none;">
            <div class="col-xs-2 col-md-2" style="text-align: center">
                <div class="back-arrow-container final-step-back-arrow" style="text-align: center; margin-top:35px;">

                </div>
                <br>
            </div>
            <div class="col-xs-10 col-md-8 outcome-options" style="margin-left: -11px;">
                <h2>Please specify how many people had positive and negative outcomes.</h2>

                <div class="form-inline">
                    <div class="form-group">
                        <div class="victims positive-victims">
                            <h5>POSITIVE</h5>
                            <div class="victims-body positive-victims-body"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="victims negative-victims">
                            <h5>NEGATIVE</h5>
                            <div class="victims-body negative-victims-body"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="victims unsure-victims">
                            <h5>UNSURE</h5>
                            <div class="victims-body unsure-victims-body"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="col-xs-12 col-md-12 final-step" style="display: none;">
            <div class="col-xs-2 col-md-2" style="text-align: center">
                <div class="back-arrow-container final-step-back-arrow" style="text-align: center; margin-top:35px;">

                </div>
                <br>
            </div>
            <div class="col-xs-10 col-md-7 outcome-options" style="margin-left: -11px;">
                <h2>Thank you for helping us decode this action</h2>
                <div class="next-ua" style="margin-left: 0 !important;">NEXT URGENT ACTION</div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>