<div class="well">
  <h2><i class="glyphicon glyphicon-globe"></i>{{ _('Geo-coding') }}</h2> 
  <h3>{{ _('Re-use the Urban Park template') }}</h3>
  <p><strong>{{ _('Complexity') }}</strong>: <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></p>
  <p><strong>{{ _('Skills') }}</strong>: {{ _('HTML, JavaScript and Geo expertise') }}</p>
  <p><a href="{{url_for('project.task_presenter_editor', short_name=project.short_name, template='map')}}" class="btn btn-default">{{ _('Use the Maps project template') }}</a></p>
  <a href="https://github.com/PyBossa/project-geocoding/archive/master.zip" class="btn btn-default">{{ _('Download the template and work locally') }}</a>
</div>
