<!-- Facebook meta -->
<meta property="og:title" content="Become an Amnesty Decoder now!"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ config.get('HOST') }}"/>
<meta property="og:image" content="{{ config.get('HOST') }}/static/img/alt-click-sharing.jpg"/>
<meta property="og:description"
      content="Join hundreds of digital volunteers helping us expose human rights violations, one click at a time. By spending as little as five minutes reading part of our online archive of Urgent Actions, you can help us improve our campaigns."/>