<footer>
<div class="container-fluid scifabric">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 text-center">
                    <p>Powered by</p>
                    <a href="http://pybossa.com/?utm_source=PYBOSSA%20new%20server&utm_medium=server&utm_campaign=PYBOSSA%20new%20server"><img alt="SciFabric Logo" class="logo_horiz" src="{{ url_for('static', filename='img/pybossa.svg')}}"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

