{% import "projects/contact.html" as contact %}

<footer>
    <div class="container-fluid scifabric">
        <div class="container">
            <div class="row decorator">&nbsp;</div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 col-md-offset-0 col-md-4 col-lg-2 col-lg-offset-2">
                    <p>Powered by</p>
                    <a href="http://pybossa.com/?utm_source=PYBOSSA%20new%20server&utm_medium=server&utm_campaign=PYBOSSA%20new%20server"><img alt="SciFabric Logo" class="logo_horiz" src="{{ url_for('static', filename='img/pybossa.svg')}}"></a>
                </div>
                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2">

                    <p><strong>{{ _('Resources') }}</strong></p>
                    <p><a href="http://docs.pybossa.com">{{ _('Docs') }}</a></p>
                    <p><a href="{{url_for('help.api')}}">API</a></p>
                    <p><a href="{{url_for('help.tos')}}">{{ _('Terms of Use') }}</a></p>
                    <p><a href="{{url_for('help.cookies_policy')}}">{{ _('Cookies Policy') }}</a></p>
                    {% if not current_user.is_anonymous %}
                        <p><a href="{{ config.PRIVACY_POLICY_PAGE }}" target="_blank">{{ _('Privacy Policy') }}</a></p>
                    {% endif %}
                    {% if current_user.admin %}
                        <p><a href="{{url_for('stats.index')}}">{{ _('Stats') }}</a></p>
                    {% endif %}

                </div>

                <div class="col-sm-4 col-md-2 col-lg-2">

                    <p><strong>{{_('Licenses')}}</strong></p>
                    <p><a href="{{url_for('help.license')}}">{{ _('Overview') }}</a></p>
                    <p><a href="{{url_for('help.license', _anchor='projects')}}">{{ _('Projects') }}</a></p>
                    <p><a href="{{url_for('help.license', _anchor='data')}}">{{ _('Data') }}</a></p>
                    <p><a href="{{url_for('help.license', _anchor='content')}}">{{ _('Content') }}</a></p>

                </div>
            </div>
        </div>
    </div>
</footer>
{% if project and ('all' in config.CONTACT_ENABLE or project.short_name in config.CONTACT_ENABLE) %}
    {{ contact.render(owner, current_user, project, n_tasks, num_expected_task_runs, num_remaining_task_runs, n_available_tasks_for_user, n_completed_tasks_by_user) }}
{% endif %}