{% macro render_field(field, label_visible=true) -%}
     <div class="form-group {% if field.errors %}has-error{% endif %} {% if field.flags.required %}required{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and field.type != 'CSRFTokenField' and label_visible and field.name != 'id' and field.name != 'form_name' %}
            <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
        {% endif %}

        {{ field(class_='form-control', **kwargs) }}

        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input {{ 'disabled' if kwargs.disabled }} title="{{ kwargs.title }}" type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_select2_field(field, tooltip=None) -%}
     <div class="form-group {% if field.errors %}has-error{% endif %} {% if field.flags.required %}required{% endif %} {{ kwargs.pop('class_', '') }}">
        <style>
            .select2-selection {
                border: 2px solid #dce4ec !important
            }
        </style>
        <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
        {{ field(class_="js-states form-control", multiple="", style="width: 100%", **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {% if tooltip %}
            <div id="password-requirements">{{ tooltip|safe }}</div>
        {% endif %}
        <script>
        $(document).ready(function() {
            $("#{{ field.id }}").select2({ placeholder: "Select multiple" });
        });
        </script>
    </div>
{%- endmacro %}

{% macro render_form(form, form_id="", action_url='', action_text='Submit', class_='', btn_class='btn btn-default', btn_name=None, btn_value=None) -%}
    {% for f in form if f.type == 'Select2Field' %}
        {% if loop.first  %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/select2.min.css')}}"/>
        <script src="{{url_for('static', filename='js/vendor/select2.min.js')}}" type="text/javascript"></script>
        {% endif  %}
    {% endfor %}
    <form id="{{form_id}}" method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% set disable_reason = form.is_disabled and form.is_disabled(f) %}
                {% set keyword_args = {'disabled': true, 'title': disable_reason} if disable_reason else {} %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f, **keyword_args) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f, **keyword_args) }}
                {% elif f.type == 'Select2Field' %}
                    {{ render_select2_field(f, **keyword_args) }}
                {% else %}
                    {{ render_field(f, **keyword_args) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" name="{{btn_name}}" value="{{btn_value}}" class="{{ btn_class }}">{{ action_text }} </button>
    </form>
{%- endmacro %}
