<form class="navbar-form form-search pull-right" action="/search">
      <input type="hidden" name="cx" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:YYYYYYYYYYY"/>
      <input type="hidden" name="cof" value="FORID:10" />
      <input type="hidden" name="ie" value="ISO-8859-1" />
      <div class="input-group">
      <input type="text" name="q" class="col-md-2 search-query" placeholder="{{_('Search')}}"  />
      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </div>
</form>
