<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner" style="min-height:100px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home.home') }}">
                <img src="{{url_for('static',filename='img/' + logo)}}" alt="{{brand}}">
                {% if config.DISPLAY_PLATFORM_IDENTIFIER %}
                    <div id="platform-identifier">{{ config.SERVER_TYPE }}</div>
                {% endif %}
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                {{_('Menu')}}
            </button>

        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                {% if current_user.admin or current_user.subadmin %}
                <li {% if active_page == 'create' %} class="active" {% endif %}><a href="{{ url_for('project.new') }}">{{ _('Create') }}</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li {% if active_page == 'projects' %} class="active" {% endif %}><a href="{{ url_for('project.index') }}">{{ _('Projects') }}</a></li>
                <li {% if active_page == 'about' %} class="active" {% endif %}><a href="{{ url_for('home.about')}}">{{ _('About') }}</a></li>
                {% endif %}
                {% if project and ('all' in config.CONTACT_ENABLE or project.short_name in config.CONTACT_ENABLE) %}
                <li><a id="contact-link" href="#" class="no-focus" data-toggle="modal" data-target="#contact-modal">{{ _('Contact') }}</a></li>
                {% endif %}

            </ul>
            {% include '_gcs_form.html' ignore missing %}
            <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li {% if active_page == 'profile' %} class="active" {% endif %}><a href="#" data-toggle="dropdown" class="dropdown-toggle"> {{ current_user.name | truncate(15,true) }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('account.profile', name=current_user.name) }}"> {{ _('My Profile') }}</a></li>
                    {% if current_user.admin == 1 or current_user.subadmin == 1 %}
                    <li><a href="{{ url_for('account.projects', name=current_user.name) }}"> {{ _('My Projects') }}</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('account.update_profile', name=current_user.name) }}"> {{ _('My Settings') }}</a></li>
                    {% if current_user.admin or current_user.subadmin %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('admin.index') }}">{% if notify_admin %} <span class="label label-info ">{{ news |count }}</span>{% else %}{% endif %} {{ _('Admin Site') }}</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('account.signout') }}"> {{ _('Sign Out') }}</a></li>
                </ul>
                </li>
            {% else %}
                <li><a href="{{ url_for('account.signin') }}"> {{ _('Sign in') }}</a></li>

            {% endif %}
            </ul>
        </div>
    </div>
    </div>
</div>
<style>
.env-name{

}
</style>