<div class="navbar navbar-default" id="nav-head">
    <div class="container-fluid" style="height: 60px;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/static/img/amnesty-main-logo.png" id="amnestyLargeLogo">
            </a>
            <a class="navbar-brand" href="/">
                <img style="display: none" src="/static/img/amnesty-small-logo.png" id="amnestySmallLogo" class="img-responsive">
            </a>
        </div>
        <div id="amnestyDecoderText">
            {% if current_user.is_authenticated() %}
            <a class="admin-navbar-header navbar-nav" href="{{url_for('project.presenter', short_name=config.get('PROJECT_SHORT_NAME'))}}">Decode Urgent Actions</a>
                    
            {% else %}
            <a class="navbar-nav" href="{{url_for('project.presenter', short_name=config.get('PROJECT_SHORT_NAME'))}}">Decode Urgent Actions</a>
            
            {% endif %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="menu">
                {% if current_user.is_authenticated() %}
                <li class="admin-menu"><a href="{{ url_for('account.profile', name=current_user.name) }}">{{
                    _('Account') }}</a></li>
                {% if current_user.admin %}
                <li class="admin-menu"><a href="{{ url_for('admin.index')}}">{{ _('Admin') }}</a></li>
                <li class="admin-menu"><a href="{{ url_for('project.index') }}">{{ _('Projects') }}</a></li>
                <li class="admin-menu"><a href="{{ url_for('account.index')}}">{{ _('Community') }}</a></li>
                {% endif %}
                <li class="admin-menu"><a href="/#aboutSection">{{ _('About') }}</a></li>
                <li role="separator" class="divider"></li>
                <li class="admin-menu"><a href="{{ url_for('glossary.index')}}">{{ _('Glossary') }}</a></li>
                <li class="admin-menu"><a href="{{ url_for('terms.index')}}">{{ _('Terms') }}</a></li>
                <li role="separator" class="divider"></li>
                <li class="admin-menu"><a href="{{ url_for('account.signout') }}">Sign Out</a></li>
                {% else %}
                <li role="separator" class="divider"></li>
                <li><a href="/#aboutSection">{{ _('About') }}</a></li>
                <li><a href="{{ url_for('glossary.index')}}">{{ _('Glossary') }}</a></li>
                <li><a href="{{ url_for('terms.index')}}">{{ _('Terms') }}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('account.signin') }}">{{ _('Sign in') }}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right right-nav" style="padding-top:5px;">
                <li style="display: none;">
                    {% if current_user.is_authenticated() %}
                    <ul class="nav secondary-nav pull-right">
                        <li {% if active_page==
                        'profile' %} class="active" {% endif %}><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i
                            class="icon icon-user"></i> {{ current_user.name | truncate(6,true) }} <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('account.profile', name=current_user.name) }}"><i
                                    class="icon icon-user"></i> {{
                                _('My Profile') }}</a></li>
                            <li><a href="{{ url_for('account.projects', name=current_user.name) }}"><i
                                    class="icon icon-th-large"></i> {{ _('My Projects') }}</a></li>
                            <li><a href="{{ url_for('account.update_profile', name=current_user.name) }}"><i
                                    class="icon icon-cog"></i> {{ _('My Settings') }}</a></li>
                            {% if current_user.admin == 1 %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('admin.index') }}">{% if notify_admin %} <span
                                    class="label label-info ">{{ news |count }}</span>{%
                                else %}<i class="icon icon-cog"></i> {% endif %} {{ _('Admin Site') }}</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('account.signout') }}"><i class="icon icon-off"></i> {{
                                _('Sign Out') }}</a>
                            </li>
                        </ul>
                        </li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
            <br><br><br>
        </div> <!-- navbar-collapse -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $(window).resize(function () {
            if ($(window).width() < 980) {
                $('#nav-head').removeClass('navbar-fixed-top');
            }
            else {
                $('#nav-head').addClass('navbar-fixed-top');
            }

        });
        if ($(window).width() < 980) {
            $('#nav-head').removeClass('navbar-fixed-top');
        }
        else {
            $('#nav-head').addClass('navbar-fixed-top');
        }
    });
</script>