<div id="task-app">
  <task-presenter>
  <div class="container-fluid">
      <div class="row">
        <blockquote>

        <h3>Rating Topic Relevancy</h3>
        <p>This template may be used to rate the relevancy of queries against a topic. The user is presented with a list of queries and can choose "relevant" or "irrelevant" with regard to the topic.</p>

        <h4>Input</h4>
        <p>Tasks can be imported by creating a CSV file containing one column for the topic and a variable number of columns for queries.</p>
        <p>The format for the CSV file should contain the following columns:</p>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td class="text-info">topic</td>
              <td>The subject for the particular task to rate the relevancy upon.</td>
            </tr>
            <tr>
              <td class="text-info">query1</td>
              <td>The query from which the user may rate the relevancy against each topic. Query columns begin with the name "query" followed by any text. Include one column for each query. For example: query1,query2,query3.</td>
            </tr>
          </tbody>
        </table>
        <h4>Output</h4>
        <p>The output from the task will contain a response of "relevant" or "irrelevant" for each query, with regard to the topic.</p>
</blockquote>

        <p>Below you will find search results from a query. Please rate each search result as either relevant or irrelevant, according to the topic displayed.</p>
      </div>
      <div class="row">
          <h2>Topic: {% raw %}{{task.info.topic}}{% endraw %}</h2>
          <hr/>

          <table class="table table-condensed table-striped table-hover">
              <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Relevancy</th>
                <th scope="col">Query</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in queries">
                <th scope="row">{% raw %}{{index + 1}}{% endraw %}</th>
                <td class="col-sm-3">
                  <div :id="task.id"class="form-group">
                    <label class="radio-inline">
                      <radio-input :key="task.id + '-' + index" :name="'relevanceOption' + index" value="relevant" :pyb-answer="item.key"></radio-input> Relevant
                    </label>
                    <label class="radio-inline">
                      <radio-input :key="task.id + '-' + index" :name="'relevanceOption' + index" value="irrelevant" :pyb-answer="item.key"></radio-input> Irrelevant
                    </label>
                  </div>
                </td>
                <td class="col-sm-9">{% raw %}{{item.value}}{% endraw %}</td>
                </tr>
              </tbody>
          </table>
        <div class="form-group">
          <label for="feedback">
            Additional feedback for this query?
          </label>
          <text-input id="feedback" pyb-answer="feedback"></text-input>
        </div>
      </div>
  </div>
  </task-presenter>
</div>

<link href="https://s3.amazonaws.com/cf-s3uploads/pybv/0.3.5/app.css" rel="stylesheet">
<script type="text/javascript" src="//s3.amazonaws.com/cf-s3uploads/pybv/0.3.5/app.js"></script>
<script type="text/javascript">
// List of queries to be rated by relevance.
const queries = [];

(function() {
  pybossa.beforePresent(function(vueDataBind) {
    task = vueDataBind;

    // Load query columns, named with the starting text "query". Example: query1, query2, query3.
    queries.length = 0;
    Object.keys(task.info).forEach(key => {
      key.toLowerCase().startsWith('query') && queries.push({ key, value: task.info[key] });
    });
  });

  pybossa.beforeSubmit(function(answer, task) {
    Object.keys(answer).forEach(function(p) {
      // If no answer is selected for this query, set the result to null.
      answer[p] = answer[p] || null;
    });

    return answer;
  });
})();
</script>