<!-- Facebook meta -->
<meta property="og:title" content="Become an Amnesty Decoder"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ config.get('SHARE_URL') }}"/>
<meta property="og:image" content="{{ config.get('HOST') }}/static/img/decode-darfur/become-an-amnesty-decoder.jpg"/>
<meta property="og:description"
      content="Be part of Amnesty's mission to map the most remote and vulnerable villages of Darfur. Help document years of attacks and civilian suffering."/>
