<!-- Facebook meta -->
<meta property="og:title" content="Become an Amnesty Decoder now!"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ config.get('SHARE_URL') }}"/>
<meta property="og:image" content="{{ config.get('HOST') }}/static/img/decode-darfur/become-an-amnesty-decoder.png"/>
<meta property="og:description"
      content="Thousands of civilians in Darfur have been attacked by their own government and militias. We need to document the attacks and so need your help to map where Darfur’s most remote and vulnerable villages are. Will you look at some satellite images for us?"/>
