<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if brand == title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{ brand }} &middot; {{ title | safe}}</title>
    {% endif %}
    <meta name="description" content="Amnesty Decoders: The Amnesty International global network of digital volunteers.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Facebook meta tags-->
    {% include 'decodedarfur/_fb.html' ignore missing %}

    <!-- Twitter meta tags-->
    {% include 'decodedarfur/_tw.html' ignore missing %}

    <!-- Le styles -->
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="{{url_for('static', filename='css/fonts/stylesheet.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/ua-styles.css')}}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/fav_icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/fav_icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/fav_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/fav_icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/fav_icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/fav_icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/fav_icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/fav_icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/fav_icons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/static/rrssb/css/rrssb.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/fav_icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffff00" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Le javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/modernizr.min.js')}}"></script>
    <script src="/static/rrssb/js/rrssb.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var FDBK_URL_LINK = "https://e-activist.com/ea-action/action?ea.client.id=1924&ea.campaign.id=52252";
            var current_fd_url = $('#feedbackLink').attr('href');
            if(FDBK_URL_LINK != current_fd_url.toString()){
                $('#feedbackLink').prop("href", FDBK_URL_LINK);
            }
            $('.rrssb-buttons').rrssb({
                title: "Join hundreds of digital volunteers helping us to decode Darfur.",
                url: "{{ config.get('HOST') }}",
                description: "Join hundreds of digital volunteers helping us to decode Darfur."
            });
            $(".controls input[type='checkbox']").each(function () {
                $(this).parent().css({
                    "float": "left",
                    "margin-top": "10px"
                });
                $(this).parent().parent().find(".control-label").css("margin", "10px 0 0 7px");
            });
        });
    </script>

  </head>

  <body id="mainBody">
    {% if not current_user.is_anonymous() %}
    <!-- checkpoint::logged-in::{{current_user.name}} -->
    {% endif %}


    {% set active_page = active_page | default('index') -%}
    {% set active_project  = active_project | default('none') -%}

    <!--Include custom nav bar for decode darfur-->
    {% include "decodedarfur/navbar.html" %}

    <div class="container">

        {% block subnavblock %}

        {% endblock %}

        {% block content %}

        {% endblock %}

    </div> <!-- /container -->

    <!-- feedback link -->
    <div class="col-xs-12" style="position:fixed !important;left:0px;bottom:10px;z-index:9999;">
        <a id="feedbackLink" href="https://e-activist.com/ea-action/action?ea.client.id=1924&ea.campaign.id=52252" style="float: right">
        <img class="img-responsive" src="{{url_for('static', filename='img/lightbulb_icon.png')}}" style="height: 32px; width: auto;"/>
        </a>
    </div>

    {% if show_cookies_warning %}
    <div id="cookies_warning">
        <p>Cookies help us deliver our services. By using our services, you agree to our use of cookies. <a target="_blank" href="https://www.amnesty.org/en/about-us/cookie-statement/" style="text-decoration: underline !important;">Learn more.</a> <button class="btn btn-sm btn-default" onclick="accept_cookies()" style="float: right; margin-right: 5%;text-transform:uppercase;font-weight: 300"></i> OK, Got it!</button></p>
    </div>
    {% endif %}
    <footer class="col-xs-12" style="padding-bottom: 20px; min-height: 220px">
         <div style="margin: 0 auto; text-align: center;">
            <br><br>
            <ul class="rrssb-buttons clearfix"
                style="margin: 0 auto !important; width: 150px !important; height: 65px !important;">
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ config.get('HOST') }}"
                       class="popup">
                        <i class="fa fa-facebook-square fa-4x"
                           aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/share?url={{ config.get('HOST')}}/&amp;text=Join hundreds of digital volunteers and become an Amnesty Decoder."
                           class="popup" style="margin-left: 5px !important">
                        <i class="fa fa-twitter-square fa-4x"
                           aria-hidden="false"></i>
                    </a>
                </li>
            </ul>
            <h3 style="margin-top: 5px;">Please share and help recruit your friends</h3>
        </div>
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    {% include 'cookies.js' %}
    </script>

    <!-- Kandle script-->
    {# <script src="https://kandle.org:1984/track"></script> #}
  </body>
</html>
