<!-- Style for entire page -->
<link rel="stylesheet" href="/static/css/amnesty.css">
<link rel="stylesheet" href="/static/css/decodedarfur.css">

<link rel="stylesheet" href="/static/vendor/ionicons/ionicons.min.css">
<link rel="stylesheet" href="/static/vendor/waitMe/waitMe.min.css">

<!-- Hammer for mobile swipe events -->
<script src="/static/vendor/hammer/hammer.min.js"></script>

<!-- Images Loaded -->
<script src="/static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- waitMe -->
<script src="/static/vendor/waitMe/waitMe.min.js"></script>
<script type="text/javascript">
  var PARENT_PROJECT_SHORT_NAME = 'decode-darfur';
</script>
<div class="container all-images" >

  <!-- DESKTOP LAYOUT -->
  <div class="row desktop-container" align="center">
    <div class="col-md-12 tiles-container no-padding">
      <section id="images" class="container-fluid image-tiles">
        <div class="row">
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile1 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t1.jpg">
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile2 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t2.jpg">
            <div class="throbber throbber-tile2"></div>
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile3 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t3.jpg">
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile4 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t4.jpg">
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft " ><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile5 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t5.jpg">
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile6 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t6.jpg">
          </div>
        </div>
        <div class="row">
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft" ><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile7 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b1.jpg">
            <div class="throbber throbber-tile7"></div>
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile8 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b2.jpg">
            <div class="throbber throbber-tile8"></div>
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft" ><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile9 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b3.jpg">
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile10 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b4.jpg">
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile11 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b5.jpg">
            <div class="throbber throbber-tile11"></div>
          </div>
          <div class="tile-triangle-div text-left">
            <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
            <img class="tile tile12 col-xs-2 imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b6.jpg">
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- TABLET LAYOUT -->
  <div class="row tablet-container" align="center">
    <div class="col-md-12 tiles-container no-padding">

      <div id="tabletCarousel" class="tablet carousel slide tabletcarousel" data-ride="carousel" data-interval="false" data-wrap="false" data-interval="5">
        <ol class="carousel-indicators">
          <li data-target="#tabletCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#tabletCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active" id="item1">
            <div class="container-fluid image-tiles">
              <div class="row tablet-row tablet-item"  id="tablet-item1">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile1 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t1.jpg">
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile2 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t2.jpg">
                    <div class="throbber throbber-tile2"></div>
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile3 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t3.jpg">
                </div>
              </div>
              <div class="row tablet-row">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile7 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b1.jpg">
                    <div class="throbber throbber-tile7"></div>
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile8 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b2.jpg">
                    <div class="throbber throbber-tile8"></div>
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile9 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b3.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="item tablet-item" id="tablet-item2">
            <div class="container-fluid">
              <div class="row  tablet-row">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile4 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t4.jpg">
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile5 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t5.jpg">
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile6 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t6.jpg">
                </div>
              </div>
              <div class="row  tablet-row">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile10 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b4.jpg">
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile11 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b5.jpg">
                    <div class="throbber throbber-tile11"></div>
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile12 col-xs-4 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b6.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tablet-prev-arrow" style="visibility: hidden;">
          <a class="tablet left carousel-control" href="#tabletCarousel" role="button" data-slide="prev" >
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div id="tablet-next-arrow">
          <a class="tablet right carousel-control right-tablet-arrow" href="#tabletCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <div class="throbber throbber-tablet-next-arrow"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- MOBILE LAYOUT -->
  <div class="row mobile-container" align="center">
    <div class="col-md-12 tiles-container no-padding">
      <div id="mobileCarousel" class="mobile carousel slide mobilecarousel" data-ride="carousel" data-interval="false" data-wrap="false" data-interval="5">
        <ol class="carousel-indicators">
          <li data-target="#mobileCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#mobileCarousel" data-slide-to="1"></li>
          <li data-target="#mobileCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active" id="mobile-item1">
            <div class="container-fluid image-tiles mobile-item">
              <div class="row">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile1 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t1.jpg">
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile2 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t2.jpg">
                    <div class="throbber throbber-tile2"></div>
                </div>
              </div>
              <div class="row">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft"><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile7 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b1.jpg">
                    <div class="throbber throbber-tile7"></div>
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile8 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b2.jpg">
                    <div class="throbber throbber-tile8"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="item" id="mobile-item2">
            <div class="container-fluid mobile-item">
              <div class="row">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile3 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t3.jpg">
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile4 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t4.jpg">
                </div>
              </div>
              <div class="row">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile9 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b3.jpg">
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile10 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b4.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="item" id="mobile-item3">
            <div class="container-fluid mobile-item">
              <div class="row">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile5 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t5.jpg">
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile6 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-t6.jpg">
                </div>
              </div>
              <div class="row">
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile11 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b5.jpg">
                    <div class="throbber throbber-tile11"></div>
                </div>
                <div class="tile-triangle-div text-left">
                    <span class="triangle-topleft "><span class="glyphicon glyphicon-ok-sign"></span></span>
                    <img class="tile tile12 col-xs-6 crsl-img imgborder img-responsive" src="/static/img/decode-darfur/project-completed/blurred-tile-b6.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="mobile-prev-arrow" style="visibility: hidden;">
          <a class="mobile left carousel-control" href="#mobileCarousel" role="button" data-slide="prev" >
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div id="mobile-next-arrow">
          <a class="mobile right carousel-control right-mobile-arrow" href="#mobileCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <div class="throbber throbber-mobile-next-arrow"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mobile-flag-container flag-mobile" align="center">
    <div class="col-md-12">
       <a href="#" class="h6 pull-right" data-toggle="modal" data-target="#flagModal">
         <span class="i-span"><i class="glyphicon glyphicon-flag mobile-flag-sign"></i> FLAG</span>
       </a>
    </div>
  </div>

  <div class="row continue-button-container" align="center">
    <div class="col-md-12" style="padding-top:10px;">
        <button class="btn-secondary--alt--md--fullwidth btn-task-continue continue-button" id="btn-continue">CONTINUE <i class="icon ion-android-arrow-forward"></i></button>
    </div>
  </div>

  <div class="row div-progress-tracker">
    <div class="row progress-tracker" align="center">
      <div class="col-md-12">
        <div class="row progress-tracker-middle-div">
          <div class="col-xs-12 ">
            <span>PROGRESS TRACKER</span>
          </div>
        </div>
        <div class="row col-xs-offset-3 ">
          <div class="col-xs-12 col-xs-offset-0 col-sm-offset-3 col-sm-6 col-md-6 col-lg-6 progress-tracker-statistics">
            <div class="col-xs-4 right-devide-line this-session">
              <p class="h2 progress-tracker-number"></p>
              <p class="progress-tracker-label">SQUARE KM</p>
              <p class="progress-tracker-label">THIS SESSION</p>
            </div>
            <div class="col-xs-4 right-devide-line all-sessions">
              <p class="h2 progress-tracker-number"></p>
              <p class="progress-tracker-label">SQUARE KM</p>
              <p class="progress-tracker-label">ALL SESSIONS</p>
            </div>
            <div class="col-xs-4 all-vulunters">
              <p class="h2 progress-tracker-number"></p>
              <p class="progress-tracker-label">SQUARE KM</p>
              <p class="progress-tracker-label">ALL VOLUNTEERS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Project Completed Message -->
<div class="modal fade completed-message" data-backdrop="static" data-keyboard="false" id="completed-message" role="dialog">
    <div class="modal-dialog modal-sm modal-inverse">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="/static/img/decode-darfur/trophy.png" style="width: 50px; height: 50px;"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <p class="h3">PROJECT COMPLETED</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            All the tasks for this project have been completed! You've helped decode <b class="decoded-sq-km-user"> over 13,234 square km</b>. Thank you!
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" align="center" style="padding-top: 20px;">
                        <a href="{{ config.get('DISCOURSE_SERVER_URL') }}/session/sso" style="background-color: transparent !important;
    color: white !important;">  <button class="btn-secondary--alt--md--fullwidth" >JOIN DISCUSSION </button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- init scripts -->
<script>
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $('.carousel-control').hide();
  }

  function imageOnError(img) {
    img.onerror = '';
    img.src = '/static/img/decode-darfur/no-image.png';
    img.classList.add('broken-img');
    $(".spin").hide();
    $('#images, #mobileCarousel, #tabletCarousel').addClass('green-background');
    return true;
  }

  (function() {
    $('.completed-message').modal('show');
    displaySquareKm();
    checkIfImagesAreLoaded();

    $('.desktop-container').append( '<div class="spin"><img class="spin-gif" src="/static/js/spin.gif"> </div>');
    $('#mobileCarousel').append( '<div class="spin"><img class="spin-gif" src="/static/js/spin.gif"> </div>');
    $('#tabletCarousel').append( '<div class="spin"><img class="spin-gif" src="/static/js/spin.gif"> </div>');

    // calculating the sq/km decoded this session.
    function displaySquareKmThisSession(user_progress){
      // attaching username to sq/km decoded this session variable
      var username = $("#user-id").data()["name"];
      if (username == ""){
        username = "anonymous";
      }
      var session_variable_name = username + "_square_km_decoded_this_session";
      var square_km_decoded_this_session = sessionStorage.getItem(session_variable_name);
      if (square_km_decoded_this_session == null){
        // if the user session hasn't begin or expired add the current user sq/km decoded to the session variable.
        $(".this-session .progress-tracker-number").text("0");
        sessionStorage.setItem(session_variable_name, user_progress);
      } else {
        // if the user session started before, calculate the sq/km decoded this session.
        square_km_decoded_this_session = Number(square_km_decoded_this_session);
        // calculate this session sq/km decoded.
        // (current sq/km decoded per user - initial session variable sq/km decoded per user.)
        var round_sq_km_decoded_this_session = Math.round(user_progress - square_km_decoded_this_session);
        $(".this-session .progress-tracker-number").text(round_sq_km_decoded_this_session);
      }
    }

    function displaySquareKm() {
        var user_id = $("#user-id-num").data()["id"];
        if (user_id === "") {
            user_id = $("#user-ip").data()["ip"]
        }
        $.get("/api/project/" + PARENT_PROJECT_SHORT_NAME + "/" + user_id + "/progress.json", function (data) {
            all_volunteers_progress = Number(data["all_volunteers"]);
            user_progress = Number(data["current_user"]);
            $(".all-vulunters .progress-tracker-number").text(Math.round(all_volunteers_progress));
            $(".all-sessions .progress-tracker-number").text(Math.round(user_progress));
            displaySquareKmThisSession(user_progress);
        });
    }

    function checkIfImagesAreLoaded() {
        var total_images = $(".all-images img").length;
        var images_loaded = 0;
        $(".all-images").find('img').each(function() {
          var fakeSrc = $(this).attr('src');
          $("<img/>").attr("src", fakeSrc).css('display', 'none').load(function() {
            images_loaded++;
            if (images_loaded >= total_images) {
              $(".spin").hide();
              $("#images , .container-fluid.image-tiles").show();
              $('#images, #mobileCarousel, #tabletCarousel').addClass('green-background');
            }
          });
      });
    }

  })();
</script>