<nav class="navbar navbar-default">
    <div class="container-fluid" id="header-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="display: none;" id="amnestyLargeLogo" href="{{ config.get('AMNESTY_SSO_SERVER_URL') }}"><img src="/static/img/amnesty-main-logo.png" alt="Amnesty Decoders"></a>
            <a class="navbar-brand" id="amnestySmallLogo" href="{{ config.get('AMNESTY_SSO_SERVER_URL') }}"><img src="/static/img/amnesty-small-logo.png" alt="Amnesty Decoders"></a>
        </div>


        <div id="navbar5" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" id="menu">
                {% if current_user.is_authenticated() %}
                    {% if current_user.admin %}
                    <li class="admin-menu"><a href="{{ url_for('admin.index')}}">{{ _('Admin') }}</a></li>
                    <li class="admin-menu"><a href="{{ url_for('project.index') }}">{{ _('Projects') }}</a></li>
                    <li class="admin-menu"><a href="{{ url_for('account.index')}}">{{ _('Community') }}</a></li>
                    {% endif %}
                    <li><a href="#" >How it works</a></li>
                    <li><a href="{{ config.get('DISCOURSE_SERVER_URL') }}/session/sso" >Discuss</a></li>
                    
                    {% if config['AMNESTY_SSO_ENABLE'] %}
                    <li class="admin-menu"><a href="{{ config.get('AMNESTY_SSO_SERVER_URL') }}/account/profile"><i class="fa fa-user" aria-hidden="true"></i> {{ current_user.name }}</a></li>
                    {% else %}
                    <li class="admin-menu"><a href="{{ url_for('account.profile', name=current_user.name) }}">{{ _('Account') }}</a></li>                    
                    <li class="admin-menu"><a href="{{ url_for('account.signout') }}">Signout</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ config.get('AMNESTY_SSO_SERVER_URL') }}/projects/decode-darfur/how-it-works" >How it works</a></li>

                    {% if config['AMNESTY_SSO_ENABLE'] %}
                    <li><a href="#" id="btn-sso-register">{{ _('Register') }}</a></li>
                    <script>
                    $('#btn-sso-register').click(function(){
                        var url = window.location.href;
                        if ( window.location.href.indexOf('?') !== -1) {
                            url +='&modal=register';
                        } else {
                            url +='?modal=register';
                        }
                        window.location = url;
                    });
                    </script>
                    {% else %}
                    <li><a href="{{ url_for('account.register') }}?next={{ request.path }}" >{{ _('Register') }}</a></li>
                    {% endif %}

                    {% if config['AMNESTY_SSO_ENABLE'] %}
                    <li><a href="#" id="btn-sso-login">{{ _('Sign in') }}</a></li>
                    <script>
                    $('#btn-sso-login').click(function(){
                        var url = window.location.href;
                        if ( window.location.href.indexOf('?') !== -1) {
                            url +='&modal=login';
                        } else {
                            url +='?modal=login';
                        }
                        window.location = url;
                    });
                    </script>                    
                    {% else %}
                    <li><a href="{{ url_for('account.signin') }}?next={{ request.path }}" >{{ _('Sign in') }}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right ">
                <li style="display: none;">
                    {% if current_user.is_authenticated() %}
                    <ul class="nav secondary-nav pull-right ul-top-position">
                        <li {% if active_page=='profile' %} class="active" {% endif %}><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i
                            class="icon icon-user"></i> {{ current_user.name | truncate(6,true) }} <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('account.profile', name=current_user.name) }}"><i
                                    class="icon icon-user"></i> {{
                                _('My Profile') }}</a></li>
                            <li><a href="{{ url_for('account.projects', name=current_user.name) }}"><i
                                    class="icon icon-th-large"></i> {{ _('My Projects') }}</a></li>
                            <li><a href="{{ url_for('account.update_profile', name=current_user.name) }}"><i
                                    class="icon icon-cog"></i> {{ _('My Settings') }}</a></li>
                            {% if current_user.admin == 1 %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('admin.index') }}">{% if notify_admin %} <span
                                    class="label label-info ">{{ news |count }}</span>{%
                                else %}<i class="icon icon-cog"></i> {% endif %} {{ _('Admin Site') }}</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('account.signout') }}"><i class="icon icon-off"></i> {{
                                _('Sign Out') }}</a>
                            </li>
                        </ul>
                        </li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
      <!--/.nav-collapse -->


        <!-- header-part -->
        <div class="row navbar-task-subheader" id="navbar-task-subheader" align="left">
            <div class="col-xs-2" style="height:47px;line-height:47px;padding-top: 3px;">
                <div class="subheader-navbar-button-container navbar-default .navbar-toggle .icon-bar">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <div class="col-xs-7 tablet-mobile-nav-text" align="center" style="height:47px;line-height:47px;">
                <p class="h6 navbar-task-subheader-text tap-message">Tap squares containing villages</p>
                <p class="navbar-task-subheader-text swipe-message">Swipe left to view more</p>
            </div>
            <div class="col-xs-1 key-flag-div pull-right" style="height:47px;line-height:47px;">
                <div class="subheader-flag-container text-center">
                   <a href="#" class="h6" data-toggle="modal" data-target="#flagModal">
                     <span class="i-span "><i class="glyphicon glyphicon-flag"></i><span class="navflag"> FLAG</span></span>
                   </a>
                </div>
            </div>
            <div class="col-xs-1 key-flag-div pull-right key-div"  style="height:47px;line-height:47px;">
                <div class="subheader-help-container">
                    <a href="#" class="h6" data-toggle="modal" data-target="#keyModal">
                        <span class="i-span"><i class="glyphicon glyphicon-question-sign key-sign"></i> <span class="help"> KEY</span></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!--/.container-fluid -->
  </nav>
</div>


<script>
    $(document).ready(function () {
        $(window).resize(function () {
            if ($(window).width() < 980) {
                $('#nav-head').removeClass('navbar-fixed-top');
            }
            else {
                $('#nav-head').addClass('navbar-fixed-top');
            }

        });
        if ($(window).width() < 980) {
            $('#nav-head').removeClass('navbar-fixed-top');
        }
        else {
            $('#nav-head').addClass('navbar-fixed-top');
        }
    });
</script>