<div class="row header-part" id="header-part" align="center">
    <div class="col-xs-10">
        <div class="header-part-text select-message">SELECT TILES CONTAINING HUMAN PRESENCE</div>
        <div class="header-part-text tap-message">Tap where you see human presence</div>
        <div class="header-part-text swipe-message">Swipe left to view more</div>
    </div>
    <div class="col-xs-1">
        <div class="subheader-flag-container">
           <a link="#" class="pull-right" data-toggle="modal" data-target="#flagModal">
             <span class="glyphicon glyphicon-flag"></span> FLAG
           </a>
        </div>
    </div>
    <div class="col-xs-1">
        <div class="subheader-help-container">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-question-sign"></span> <span class="help"> HELP </span>
            </a>
        </div>
    </div>
</div>