<div class="row subheader-container" id="subheader-container" align="center">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
        <div class="header-part-text select-message">SELECT SQUARES CONTAINING VILLAGES</div>
    </div>
    <div class="col-xs-1 container-flag-link">
        <div class="subheader-flag-container">
           <a href="#" class="pull-right" data-toggle="modal" data-target="#flagModal">
             <span class="glyphicon glyphicon-flag"></span> FLAG
           </a>
        </div>
    </div>
    <div class="col-xs-1 container-key-link">
        <div class="subheader-help-container">
            <a href="#" class="pull-left" data-toggle="modal" data-target="#keyModal">
                <span class="glyphicon glyphicon-question-sign"></span> <span class="help"> KEY</span>
            </a>
        </div>
    </div>
</div>