<div class="row subheader-container" id="subheader-container" align="center">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8"  style="height:47px;line-height:47px;">
        <div class="h6 header-part-text select-message" style="padding-top:2px;">SELECT SQUARES CONTAINING VILLAGES</div>
    </div>
    <div class="col-xs-1 container-flag-link"  style="height:47px;line-height:47px;">
        <div class="subheader-flag-container">
           <a href="#" class="h6 pull-left" data-toggle="modal" data-target="#flagModal">
             <span class="i-span"><i class="glyphicon glyphicon-flag"></i> <span class="navflag"> FLAG</span></span>
           </a>
        </div>
    </div>
    <div class="col-xs-1 container-key-link"  style="height:47px;line-height:47px;">
        <div class="subheader-help-container">
            <a href="#" class="h6 pull-left" data-toggle="modal" data-target="#keyModal">
                <span class="i-span"><i class="glyphicon glyphicon-question-sign"></i> <span class="help"> KEY</span></span>
            </a>
        </div>
    </div>
</div>